.sidebar {
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
}

.sidebarPage {
  width: 90%;
  margin: 0 auto;
}

.stopped {
  border: 1px solid black;
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 15px 10px;
}