.App {
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App_logo {
    position: absolute;
    top: 3%;
  }
  .chatting_guys {
    position: absolute;
    bottom: 0%;
  }
  .flower_pot1 {
    position: absolute;
    left: 0%;
    bottom: 0%;
  }
  .flower_pot2 {
    position: absolute;
    right: 0%;
    bottom: 0%;
  }
  .zuri-launch {
    position: absolute;
    top: 30%;
  }
}
.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}
