.category img {
  margin-right: 1rem;
}

.category ul {
  padding-left: 2rem;
}

.display {
  display: block;
  /*overflow: hidden;
  */
  height: min-content;
  will-change: height;
  transition: height 0.5s ease-in 0s;
}

.hide {
  display: none;
  /*overflow: hidden;
  */
  height: 0px;
  will-change: height;
  transition: height 0.5s ease-in 0s;
}
