@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

#authPageWrapper {
  margin-block: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.modal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  z-index: 999;
}
#authAsideContainer,
#authImageWrapper,
#authFormContainer,
#authImageWrapper img {
  height: inherit;
}

#authAsideContainer {
  width: 45%;
  color: #fff;
}

#authFormContainer {
  width: 55%;
  overflow-y: scroll;
}

#authImageWrapper {
  width: 100%;
}

#authImageWrapper img {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

#aside_txt {
  width: 38%;
  position: absolute;
  top: 25%;
  transform: translateY(-25%);
  display: block;
  text-align: center;
}

#aside_txt h4 {
  color: #ffffffcc;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 2.5rem;
}

#aside_txt p {
  padding-top: 1.2rem;
  color: #fff;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

#authFormContainer {
  padding-inline: 4rem;
}

header {
  width: 100%;
  height: 10%;
  margin-block: 2rem 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  color: #999999;
  margin-block-start: 2rem;
  width: 100%;
  height: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
}

.logo,
.contact,
.policy {
  cursor: pointer;
  z-index: 2;
}

/* Media Query 1440px and Smaller */
@media only screen and (max-width: 1440px) {
  #aside_txt h4 {
    font-size: 2rem;
    line-height: 2.3rem;
  }

  #aside_txt p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

/* Media Query 1170px and Smaller */
@media only screen and (max-width: 1170px) {
  #aside_txt h4 {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  #aside_txt p {
    font-size: 1.15rem;
    line-height: 1.4rem;
  }
}

/* Media Query 1080px and Smaller */
@media only screen and (max-width: 1080px) {
  .display_none {
    display: none;
  }

  #authFormContainer {
    padding-inline: 3%;
  }

  #authFormContainer {
    width: 100%;
    overflow-y: scroll;
  }

  .footer {
    column-gap: 2rem;
  }
}
