.body::-webkit-scrollbar {
  display: none;
  background: #ffffff;
}

.container {
  width: 100%;
  margin: 40px 50px 20px;
}

h5 {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.esc {
  background-color: #f9f9f9;
  border: 1px ;
  border-radius: 3px;
  box-shadow: 1px 1px;
  padding: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin: 3px;
}
