@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

.msgCon {
  margin-top: 54px;
  margin-left: 50px;
  width: 190%;
}

.title {
  font-weight: 550;
  font-size: 1rem;
}

.clean {
  display: flex;
  margin-top: 8px;
}

.cln {
  margin-left: 10px;
  font-size: 0.8rem;
  color: rgb(141, 137, 137);
}

.compt {
  margin-left: 10px;
  font-size: 0.8rem;
  color: rgb(141, 137, 137);
}

.radio {
  margin-top: -3px;
}

.radio2 {
  margin-top: -3px;
}

.compact {
  display: flex;
  margin-top: 3px;
}

.text {
  font-size: 0.8rem;
  margin-top: 6px;
  color: rgb(141, 137, 137);
}

.theme11 {
  width: 83%;
  margin-top: 15px;
}

.bottom {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(192, 186, 186);
  width: 83%;
}

.name {
  font-weight: 550;
  font-size: 1rem;
}

.full {
  display: flex;
  margin-top: 8px;
}

.display {
  margin-left: 10px;
  font-size: 0.8rem;
  color: rgb(141, 137, 137);
}

.jst {
  margin-left: 10px;
  font-size: 0.8rem;
  color: rgb(141, 137, 137);
}

.radio3 {
  margin-top: -3px;
}

.radio4 {
  margin-top: -3px;
}

.just {
  display: flex;
  margin-top: 3px;
}

.theme12 {
  width: 83%;
  margin-top: 15px;
}

.change {
  margin-top: 10px;
  font-size: 0.8rem;
  color: rgb(141, 137, 137);
}

.change p {
  color: #00b87c;
  margin-top: -19px;
  margin-left: 244px;
  font-weight: 700;
  font-size: 0.8rem;
}

.bottom2 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(192, 186, 186);
  width: 83%;
}

.info {
  display: flex;
  margin-top: 15px;
}

.current {
  margin-left: 10px;
  font-size: 0.8rem;
  color: rgb(141, 137, 137);
}

.time {
  display: flex;
  margin-top: 15px;
}

.hour {
  margin-left: 10px;
  font-size: 0.8rem;
  color: rgb(141, 137, 137);
}

.hexa {
  display: flex;
  margin-top: 15px;
}

.color {
  margin-left: 10px;
  font-size: 0.8rem;
  color: rgb(141, 137, 137);
}

.add {
  font-weight: 550;
  font-size: 1rem;
}

.checkbox {
  margin-top: -2px;
}

.checkbox2 {
  margin-top: -2px;
}

.checkbox3 {
  margin-top: -2px;
}

.bottom3 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(192, 186, 186);
  width: 83%;
}

.emoji {
  font-weight: 550;
  font-size: 1rem;
}

.tone {
  margin-top: 10px;
  font-size: 1rem;
  color: rgb(141, 137, 137);
}

.choose {
  margin-top: 10px;
  font-size: 0.8rem;
  line-height: 1.4rem;
  color: rgb(141, 137, 137);
}

.hands {
  display: flex;
  margin-top: 10px;
}

.theme13 {
  width: 5%;
  height: 6vh;
  cursor: pointer;
}

.theme14 {
  width: 5%;
  height: 6vh;
  margin-left: 19px;
  cursor: pointer;
}

.theme15 {
  width: 5%;
  height: 6vh;
  margin-left: 19px;
  cursor: pointer;
}

.theme16 {
  width: 5%;
  height: 6vh;
  margin-left: 19px;
  cursor: pointer;
}

.theme17 {
  width: 5%;
  height: 6vh;
  margin-left: 19px;
  cursor: pointer;
}

.theme18 {
  width: 5%;
  height: 6vh;
  margin-left: 19px;
  cursor: pointer;
}

.plntxt {
  display: flex;
  margin-top: 15px;
}

.plain {
  margin-left: 10px;
  font-size: 0.8rem;
  color: rgb(141, 137, 137);
}

.jumb {
  display: flex;
  margin-top: 10px;
}

.jumbomoji {
  margin-left: 10px;
  font-size: 0.8rem;
  color: rgb(141, 137, 137);
}

.checkbox4 {
  margin-top: -2px;
}

.checkbox5 {
  margin-top: -2px;
}

.versions {
  margin-top: 10px;
  font-size: 0.8rem;
  line-height: 1.4rem;
  color: rgb(141, 137, 137);
}

.example {
  margin-top: 10px;
  font-size: 0.8rem;
  color: rgb(141, 137, 137);
}

.theme19 {
  width: 83%;
  margin-top: 15px;
}

.bottom4 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(192, 186, 186);
  width: 83%;
}

.media {
  font-weight: 550;
  font-size: 1rem;
}

.images {
  display: flex;
  margin-top: 10px;
}

.files {
  margin-left: 10px;
  font-size: 0.8rem;
  color: rgb(141, 137, 137);
}

.websites {
  display: flex;
  margin-top: 10px;
}

.linked {
  margin-left: 10px;
  font-size: 0.8rem;
  color: rgb(141, 137, 137);
}

.checkbox6 {
  margin-top: -2px;
}

.checkbox7 {
  margin-top: -2px;
}

.larger {
  display: flex;
  margin-top: 10px;
  margin-left: 25px;
}

.than {
  margin-left: 10px;
  font-size: 0.8rem;
  color: rgb(141, 137, 137);
}

.checkbox8 {
  margin-top: -2px;
}

.previews {
  display: flex;
  margin-top: 10px;
}

.of {
  margin-left: 10px;
  font-size: 0.8rem;
  color: rgb(141, 137, 137);
}

.checkbox9 {
  margin-top: -2px;
}

.bottom5 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(192, 186, 186);
  width: 83%;
}

.emails {
  font-weight: 550;
  font-size: 1rem;
}

.upload {
  margin-top: 10px;
  font-size: 0.8rem;
  line-height: 1.4rem;
  color: rgb(141, 137, 137);
}

.button {
  border-radius: 6px;
  background-color: white;
  color: rgb(141, 137, 137);
  border: 1px solid rgb(54, 54, 54);
  margin-top: 24px;
  margin-bottom: 30px;
  cursor: pointer;
}

.forward {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.8rem;
}
