@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

.themeCont {
  margin-top: 54px;
  margin-left: 50px;
  width: 340%;
}

.sync {
  display: flex;
  margin-top: 15px;
}

.os {
  margin-left: 10px;
  font-weight: 800;
  font-size: 0.9rem;
}

.text {
  margin-left: 42px;
  font-size: 1rem;
  width: 80%;
  color: rgb(141, 137, 137);
}

.direct {
  display: flex;
  margin-top: 12px;
}

.mention {
  margin-left: 29px;
  font-size: 0.9rem;
  color: rgb(141, 137, 137);
}

.text2 {
  margin-left: 42px;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: rgb(141, 137, 137);
}

.theme1 {
  width: 76%;
  margin-top: 25px;
  margin-left: 42px;
}

.theme2 {
  width: 76%;
  margin-top: 25px;
  margin-left: 42px;
}

.customize {
  border-top: 1px solid rgb(192, 186, 186);
  margin-top: 30px;
  margin-left: 42px;
  width: 76%;
}

.text3 {
  margin-top: 20px;
  font-weight: 800;
  font-size: 0.9rem;
}

.custom {
  font-size: 0.9rem;
  color: rgb(141, 137, 137);
  margin-top: 17px;
}

.create {
  font-size: 0.9rem;
  color: #00b87c;
  font-weight: 700;
  margin-top: 12px;
}

.true {
  font-size: 0.9rem;
  color: rgb(141, 137, 137);
  margin-top: 25px;
}

.set1 {
  display: flex;
  margin-left: 42px;
  margin-top: 20px;
}

.theme3 {
  width: 110%;
  height: 21vh;
}

.theme4 {
  width: 90%;
  height: 21vh;
  margin-left: 42px;
}

.all {
  display: flex;
  margin-top: 20px;
  margin-left: 42px;
}

.show {
  margin-left: 10px;
}

.arrow {
  margin-top: -2px;
}

.clean {
  margin-top: 20px;
  margin-left: 42px;
  font-size: 1rem;
  color: rgb(141, 137, 137);
}

.set2 {
  display: flex;
  margin-left: 42px;
  margin-top: 20px;
}

.theme5 {
  width: 110%;
  height: 21vh;
}

.theme6 {
  width: 90%;
  height: 21vh;
  margin-left: 42px;
}

.set3 {
  display: flex;
  margin-left: 42px;
  margin-top: 20px;
}

.theme7 {
  width: 110%;
  height: 21vh;
}

.theme8 {
  width: 90%;
  height: 21vh;
  margin-left: 42px;
}

.set4 {
  border-bottom: 1px solid rgb(192, 186, 186);
  margin-left: 42px;
  width: 76%;
}

.bottom {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.theme9 {
  width: 110%;
  height: 21vh;
}

.theme10 {
  width: 90%;
  height: 21vh;
  margin-left: 42px;
}
