.adminowners {
  width: 100%;
  height: 50vh;
  margin: 0;
  padding: 0;
}

.heading {
  font-size: 15px;
}
.rolesearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select {
  border: 1px solid black;
  border-radius: 0.2rem;
  padding: 0.4rem;
}
.search {
  width: 400px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border-radius: 0.5rem;
}
.searchIcon {
  font-size: 15px;
}

.input {
  width: 60%;
  outline: none;
  border: none;
  margin-left: 1rem;
}
