.billingContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 4rem;
}

.contentWrapper {
  width: 100%;
  max-width: 914px;
}

.contentHeading {
  font-size: 1.75rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.5rem;
}
