.image,
.image2,
.image3,
.image4,
.image5,
.image6 {
  width: 120px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 3em;
}

.image {
  background-image: url(/zc_frontend/public/airbnb-logo@2x\ 1.png);
}
.image2 {
  background-image: url(/zc_frontend/public/electronic-arts-logo@2x.png);
}
.image3 {
  background-image: url(/zc_frontend/public/ameritrade-logo@2x.png);
}
.image4 {
  background-image: url(/zc_frontend/public/oracle-logo@2x.png);
}
.image5 {
  background-image: url(/zc_frontend/public/target-logo@2x.png);
}

.image6 {
  background-image: url(/zc_frontend/public/autodesk-logo@2x.png);
}
