.sectionContainer {
    margin-top: 70.49px !important;
    width: 1440px;
    height: 540px;
    background: #FFFFFF;
}

/* .leftColumn {
    
}
.rightColumn {
    
} */

.heading2 {
    text-align: left !important;
    font-family: Lato !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 36px !important;
    line-height: 130% !important;
    color: #3A3A3A !important;
}

.subtext {
    font-family: Lato !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 24px !important;
    line-height: 150% !important;
    color: #484848 !important; 
}

.formContainer {
    display: flex;
flex-direction: row;
justify-content: space-between;
}

.inputField{
    width: 300px;
    margin-right: 30px;
 padding: 20px 16px;
border: 1px solid #63636C;
border-radius: 3px;
}

.subscribeBtn {
padding: 16px;
width: 228px;
background: rgba(0, 184, 124, 0.48);
border-radius: 3px;
}