.modalWrap {
  position: absolute;
  top: 20%;
  left: 50%;
  margin: 0px auto;
  display: block;
  transform: translateX(-50%);
  width: 60%;
  max-height: 500px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 8px #0004;
  z-index: 10;
  padding: 3rem 2rem;
}

.modalLayer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0009;
  z-index: 444440;
}

@media (max-width: 500px) {
  .modalWrap {
    width: 90%;
  }
}
