# don't mess with CI/CD workflow files
.ansible
.github
.gitignore
.prettierignore
.eslintignore
.yarn/
.yarnrc
yarn.lock
yarn-error.log
package-lock.json
LICENSE
*.ejs
coverage
pnpm-lock.yaml
**/node_modules/
**/dist/
