.body {
  background-color: grey;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img {
  width: 200px;
  margin-top: -25px;
}
.checkMail {
  line-height: 1.6;
  font-weight: 600;
}
.confirm {
  text-align: center;
  width: 320px;
  line-height: 1.8;
  line-break: loose;
  font-size: 15px;
  margin: 20px 0;
}
.btn {
  padding: 13px 10px;
  margin: 10px auto;
  font-weight: 500;
  background-color: #2f80ed;
  color: white;
  outline: none;
  border: none;
  border-radius: 0.5rem;
}
.footer {
  margin-top: 20px;
  font-size: 15px;
}
