.container {
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 24px 14px;
  height: 100vh;
  /* width: 80%;
  margin: auto; */
  /* margin-top: 8em; */
}

.first {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-left: 1em;
  padding-right: 2em;
  width: 80%;
  margin: auto;
}

.second {
  text-decoration: none;
  color: red;
}

.wrapper {
  display: flex;
  width: 30%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: space-between;
  align-items: center;
}

.third,
.fourth {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45%;
  border-radius: 50px;
  padding: 10px 1em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.third {
  text-decoration: none;
  outline: none;
  border: none;
  background-color: #00b87c;
  color: white;
}

.fourth {
  text-decoration: none;
  outline: none;
  border: none;
  background-color: #fff;
  color: red;
}
