body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container h1 {
  margin: 10px 0;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* CENTERED ITEMS */
.buttondiv,
.images,
section.store {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container a {
  /* What’s New */
  height: 17px;
  margin-bottom: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-decoration-line: underline;

  color: #00b87c;
}

.images {
  margin-bottom: 50px;
  position: relative;
}
img.circle {
  width: 111px;
  left: 15px;
  top: 40px;
  position: absolute;
}
img.circle2 {
  display: none;
}
.screenshot {
  width: 80%;
  position: relative;
}

.buttondiv p {
  /* Available on Windows 8 and higher */
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #999999;
}
.buttondiv {
  margin-top: 40px;
}

.buttondiv button.button1 {
  border-radius: 4px;
  width: 75%;
  padding: 20px 10px;
  color: #ffffff;
  margin: 0 auto;

  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  outline: none;
  border: none;
  outline-style: none;
  outline-color: none;
  background: #00b87c;
  color: #ffffff;
}

.buttondiv button.button2 {
  /* Download for Mac OS X 10.10 and higher */
  margin-top: 10px;
  outline: none;
  border: none;
  outline-style: none;
  outline-color: none;
  height: 22px;

  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #00b87c;
}

.h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  padding: 0;
  margin: 0;
}
.storep {
  /* Keep up with your team and hold meetings from your device */

  height: 38px;
  margin: 10px 0;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 0 60px;
  color: #666666;
}

.google_apple_Box {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
.appleBox,
.googleBox {
  border-radius: 10px;
  width: 50%;
  display: flex;
  background-color: black;
  margin-bottom: 10px;
  padding: 10px;
}

.appleBox_text,
.googleBox_text {
  /* Vector */
  margin-left: 5px;
  color: #ffffff;
  width: 130px;
  text-align: left;
}

.googleplay {
  padding: 0;
  /* width: 100%; */
}

/* to bold the apple text */
small {
  font-size: 15px;
}
.appleText,
.googleText {
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}


@media only screen and (min-width: 500px) {
  img.circle {
    width: 30%;
    left: 35px;
    top: 9rem;
    position: absolute;
  }
  .container h1 {
    font-size: 42px;
  }
  .container a {
    font-size: 22px;
    margin: 15px 0;
  }
  .buttondiv p {
    font-size: 18px;
  }
  .buttondiv button.button1 {
    width: 65%;
    padding: 0 -10px;
    font-size: 22px;
  }
  .buttondiv button.button2 {
    margin-top: 15px;
    font-size: 22px;
  }
  h1.h1 {
    font-size: 28px;
  }

  .storep {
    font-size: 18px;
    padding: 0 7rem;
  }

  .appleBox,
  .googleBox {
    padding: 8px 10px;
    width: 45%;
  }
  .appleText {
    font-size: 22.5px;
    letter-spacing: 1.5;
  }
  .googleText {
    font-size: 22.5px;
    letter-spacing: 1.5;
  }
 
}
@media only screen and (min-width: 768px) {
  img.circle {
    left: 17px;
  }
  .container h1 {
    font-size: 46px;
  }
  .container a {
    font-size: 24px;
  }
  .buttondiv button.button1 {
    padding: 0 -10px;
    font-size: 28px;
  }
  .buttondiv button.button2 {
    font-size: 25px;
  }
  .googleBox,
  .appleBox {
    width: 35%;
    padding: 10px 0 10px 10px;
  }
  .appleBox_text,
  .googleBox_text {
    /* Vector */
    width: 70%;
  }
  .appleText,
  .googleText {
    font-size: 25px;
  }
  
  
}
