body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.downloadWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.downloadTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.downloadTitle h1 {
  /* Zuri Chat Download;*/

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.downloadTitle P {
  /* What’s New */
  height: 17px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-decoration-line: underline;

  color: #00b87c;
}

.rectangleContainer {
  margin-top: -130px;
  margin-bottom: -60px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 30%;
  position: absolute;
  left: 15px;
  top: 17%;
}
.rectangle {
  position: relative;
  width: 340px;
}
.downloadPc {
  margin-bottom: 50px;
}
.downloadPc,
.devicetype {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}
.downloadPc h2 {
  /* Available on Windows 8 and higher */
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #999999;
}

/* Download for Windows */

/* Auto Layout */
/* display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;

width: 290px;
height: 54px; */

/* background: #00B87C;
border-radius: 4px; */

/* Download for Windows (64 bits) */

/* font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;


color: #FFFFFF; */

.downloadPc a {
  border-radius: 4px;
  width: 75%;
  padding: 10px;
  color: #ffffff;
  margin: 0 auto;

  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  background: #00b87c;
  color: #ffffff;
}

.downloadPc h3 {
  /* Download for Mac OS X 10.10 and higher */

  height: 22px;

  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #00b87c;
}

.devicetype h2 {
  /* Zuri Chat for Mobile */
  height: 29px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
}
.devicetype h3 {
  /* Keep up with your team and hold meetings from your device */

  height: 38px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 0 50px;
  color: #666666;

  /* font-size: 18px;
  text-decoration: none;
  
  color: #b9b9b9;
  font-weight: bold; */
}

.google_apple_Box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
.appleBox {
  border-radius: 10px;
  width: 50%;
  display: flex;
  background-color: black;
  margin-bottom: 10px;
  padding: 10px;
}

.appleBox_text {
  /* Vector */
  color: #ffffff;
  width: 130px;
  text-align: left;
}

.googleplay {
  padding: 0;
  /* width: 100%; */
}

/* to bold the apple text */
small {
  font-size: 15px;
}
.appleText {
  font-size: 18px;
  font-weight: bold;
}

.zurilogo {
  margin-top: 30px;
}
/* .zc_logo {
  
} */

.zurilogo div span {
  margin-left: 10px;
  font-size: 45px;
  font-weight: bold;
}

.footer {
  width: 100%;
  padding: 0 20px;
}

.zcdescription p {
  /* WHY ZURI CHAT */
  height: 20px;

  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.02em;
  font-feature-settings: 'salt' on;

  color: #333333;

  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.zc_footer_nav {
  margin: 50px 0 50px 0;
}
.zc_footer_nav p {
  /* Privacy */
  height: 20px;

  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.02em;
  font-feature-settings: 'salt' on;

  color: #333333;

  margin-top: 23px;
  text-decoration: none;
}
.socialMedia {
  margin-top: 20px;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.facebook {
  margin-left: -20px;
}
.facebook,
.instagram,
.twitter,
.linkedin {
  width: 50px;
}
.copyright {
  /* ©️2021 Zuri, Team Aristotle. All Rights Reserved. */
  height: 20px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  letter-spacing: 0.02em;

  color: #6a6a6a;

  margin: 20px;
}
