body {
  margin: 8rem 0rem 3rem 3rem;
  font-size: 14px;
  padding-left: 25rem;
  display: grid;
}
.head {
  position: relative;
  left: 1.4rem;
  font-size: 20px;
  font-family: 'lota';
  font-weight: bold;
  font-style: normal;
}
.headtop {
  position: absolute;
  width: 20px;
  height: 20px;
}

.btn {
  background: #008b5e;
  margin: 3rem 10rem 4rem 15rem;
}
.btn:hover {
  background: #008b5e;
}
.p1 {
  width: 90%;
  font-size: 20px;
  font-weight: bold;
}
.p2 {
  width: 85%;
  border-bottom: 1px solid #dbd9d9;
  padding-bottom: 1rem;
}
.workspace {
  font-size: 12px;
  margin-left: -1rem;
  border-bottom: 1px solid #dbd9d9;
  padding-bottom: 2rem;
  padding-left: 1rem;
}
.workspace a {
  color: #dbd9d9;
}
.bott .p {
  font-size: 14px;
  margin-top: -1rem;
  padding-left: 1rem;
}
.getZuriApp {
  padding-left: 12rem;
  padding-bottom: 0rem;
  font-size: 14px;
}
.questionP {
  font-size: 18px;
  font-family: 'lota';
  font-weight: 300;
  color: rgba(58, 58, 58, 0.5);
}
footer .a1 {
  padding-left: 10rem;
  padding-right: 3rem;
  color: rgba(58, 58, 58, 0.5);
}
.btn2 {
  background: #008b5e;
  margin: 3rem 10rem 6rem 14rem;
}
footer .a2 {
  padding-right: 3rem;
  color: rgba(58, 58, 58, 0.5);
}
footer .a3 {
  color: rgba(58, 58, 58, 0.5);
}
@media screen and (max-width: 1024px) {
  body {
    width: 100%;
    padding-left: 0rem;
    font-size: 16px;
    margin-left: 2rem;
  }
  .head {
    position: relative;
    left: 1.4rem;
    font-size: 20px;
    font-family: 'lota';
    font-weight: bold;
    font-style: normal;
  }
  .headtop {
    position: absolute;
    width: 20px;
    height: 20px;
  }
  .note {
    font-size: 35px;
  }
  .p_tag {
    width: 90%;
  }

  .btn {
    background: #008b5e;
    margin: 3rem 8rem 4rem 15rem;
    padding: 0.6rem 4rem !important;
  }
  .btn:hover {
    background: #008b5e;
  }
  .p1 {
    width: 90%;
    font-size: 20px;
    font-weight: bold;
  }
  .p2 {
    width: 85%;
    border-bottom: 1px solid #dbd9d9;
    padding-bottom: 1rem;
  }
  .workspace {
    font-size: 20px;
    margin-left: -1rem;
    border-bottom: 1px solid #dbd9d9;
    padding-bottom: 2rem;
    padding-left: 1rem;
  }
  .workspace a {
    color: #dbd9d9;
  }
  .questionP {
    font-size: 17px;
  }
  .questionP a {
    color: rgba(58, 58, 58, 0.5);
  }
  .bott .p {
    font-size: 14px;
    margin-top: -1rem;
    padding-left: 0.5rem;
  }
  .getZuriApp {
    padding-left: 14rem;
    padding-bottom: 0rem;
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
    padding-left: 0rem;
    font-size: 12px;
    margin-left: 1rem;
  }
  .head {
    position: relative;
    left: 1.4rem;
    font-size: 20px;
    font-family: 'lota';
    font-weight: bold;
    font-style: normal;
  }
  .headtop {
    position: absolute;
    width: 20px;
    height: 20px;
  }
  .note {
    font-size: 20px;
  }
  .p_tag {
    width: 90%;
  }

  .btn {
    background: #008b5e;
    margin: 4rem;
  }
  .btn:hover {
    background: #008b5e;
  }

  .p1 {
    width: 90%;
    font-size: 14px;
    font-weight: bold;
  }
  .p2 {
    width: 85%;
    border-bottom: 1px solid #dbd9d9;
    padding-bottom: 1rem;
  }
  .workspace {
    font-size: 12px;
    margin-left: -1rem;
    border-bottom: 1px solid #dbd9d9;
    padding-bottom: 2rem;
    padding-left: 1rem;
  }
  .workspace a {
    color: #dbd9d9;
  }
  .questionP {
    font-size: 14px;
    width: 95%;
    text-align: center;
  }
  .questionP a {
    color: rgba(58, 58, 58, 0.5);
  }
}
