.InputContainer {
  font-family: 'Lato', sans-serif;
  /* margin: 1rem auto; */
  /* margin-block: 1rem;
  margin-inline: auto; */
  width: 100%;
  /* font-size: 16px; */
  /* margin-top: 0;
  padding-top: 0; */
}

/* input Label */
.InputLabel {
  margin-block: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 24px;
  color: #3a3a3a;
}

/* Input wrapper */
.InputWrapper {
  border: 1px solid #bebebe;
  border-radius: 6px;
  width: 100%;
  height: 3.5rem;
  overflow: hidden;
}

.InputWrapper:focus-within {
  border: 1px solid #00b87c;
  /* border: 1px solid blue; */
}

/* input wrapper WITH password */
.InputWrapperWithPassword {
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: 1fr;
}

/* actual input element */
.InputElement {
  width: 100%;
  height: 100%;
  padding-inline: 1rem;
  letter-spacing: 1px;
  color: #000000;
  border: none;
  font-size: 1.5rem;
  /* padding: 0 1rem; */
  /* padding: 0, 0.625rem, 0, 1rem; */
  /* text-indent: 1rem; */
}

.InputElement::placeholder {
  font-size: 1.2rem;
}

.InputElement:invalid,
.InputElement.is_invalid {
  border-color: #ff0000;
  color: #000000;
}

.InputElement:focus,
.InputElement:focus-visible {
  outline: none;
}

/* password toggle */
.ToggleVisibility {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: none; */
  /* background: #ffffffa8; */
  /* height: 100%; */
}

.InputError {
  color: #ff0000;
}
