.InputWrapper {
  width: 100%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.InputLabel {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 2px;
}

.InputElement {
  border-radius: 8px;
  width: 100%;
  height: 2.3rem;
  padding: 10px;
  outline: none;
  border: 1px solid #BEBEBE;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  margin-bottom: 5px;
}

.InputElement::-webkit-input-placeholder{
  font-size: 12px;
}

.InputElement:invalid,
.InputElement.is_invalid {
  border-color: #ff0000;
  color: #000000;
}

.InputElement:focus,
.InputElement:focus-visible {
  outline: none;
}

.InputError {
  color: #ff0000;
}
