.App {
  align-items: center;
}

.nav {
  border-bottom: 1px solid;
  width: 100%;
}

.navbar {
  padding: 20px;
}

img {
  width: 15px;
  height: 15px;
}

.check {
  margin: 2em 10em;
  background: rgba(0, 139, 94, 0.3);
  border-radius: 50%;
  width: fit-content;
}

.tick {
  width: 60px;
  height: 57px;
  padding: 17px;
}

.info {
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  line-height: 3.5rem;
}

p {
  font-size: 0.8rem;
  margin: 1rem;
}

.buttons {
  width: 90%;
  margin: 1em;
  margin-top: 10em;
}

button {
  width: 100%;
  border: 1px solid;
  border-color: rgba(0, 139, 94, 1);
  padding: 1em;
}

.btninv {
  margin-bottom: 1em;
  color: rgba(0, 139, 94, 1);
}

.btnd {
  background-color: rgba(0, 139, 94, 1);
  color: white;
}

@media screen and (min-width: 768px) {
  .nav {
    border: none;
  }
  .navbar {
    display: flex;
    justify-content: flex-end;
  }
  .check {
    display: flex;
    margin: auto;
  }
  p {
    font-size: 1.2rem;
  }
  .desc {
    display: none;
  }
  .buttons {
    display: flex;
    width: 40%;
    margin: auto;
    margin-left: 25em;
    margin-top: 3em;
  }
  .btninv {
    margin: auto;
    margin-right: 1em;
  }
}
