.wrapper {
  background-color: #fff;
  padding-top: 5%;
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

.welcome__div,
.img__div {
  background-color: #fff;
  height: 50%;
  width: 100%;
}

.welcome__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.wave {
  width: 4rem !important;
  height: 4rem !important;
  margin-top: -1rem !important;
}

.welcome__div span,
.welcome__div .wave {
  margin-inline: 0.8rem;
}

.welcome__div h1 {
  width: 100%;
  color: #393939;
  font-weight: 300;
  font-size: 4rem;
  line-height: 4.5rem;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome__div img {
  width: 200px;
  height: 150px;
  object-fit: contain;
  margin-top: -2.5rem;
}

.btn__continue {
  background-color: #00b87c;
  color: #fff !important;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.3rem;
  outline: none;
  border: none;
  padding: 0.8rem 14rem;
  z-index: 2;
  margin-top: -2rem;
}

.btn__continue:hover {
  /* background-color: #00aa70; */
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
}

.img__div {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Media Query 1366px Desktop Screens */
@media only screen and (max-width: 1366px) and (height: 768px) {
  .welcome__div {
    justify-content: flex-start;
  }
}

/* Media Query 720 HD Screens */
@media only screen and (max-width: 1280px) {
  .wrapper {
    padding-top: 2%;
  }

  .welcome__div {
    justify-content: flex-start;
  }
}

/* Media Query Laptop with Touch 1280px Screens */
@media only screen and (max-width: 1280px) and (height: 950px) {
  .wrapper {
    padding-top: 10%;
  }
}

@media only screen and (max-width: 1280px) and (height: 800px) {
  .welcome__div {
    justify-content: center;
  }
}

/* Media Query 1080px and Smaller */
@media only screen and (max-width: 1080px) {
  .btn__continue {
    padding: 0.8rem 10rem;
  }

  .img__div {
    height: 40%;
  }

  .img__div > img {
    width: 100vw;
  }

  .display_none {
    display: none;
  }
}

/* Media Query iPad Pro 12.9 inches Tablet Screens */
@media only screen and (max-width: 1024px) and (height: 1366px) {
  .wrapper {
    padding-top: 30%;
  }
}

/* Media Query iPad Pro 12.9 inches Tablet Screens */
@media only screen and (max-width: 1024px) and (height: 889px) {
  .wrapper {
    padding-top: 10%;
  }
}

/* Media Query iPad Pro 10.5 inches Tablet Screens */
@media only screen and (max-width: 834px) and (height: 1112px) {
  .wrapper {
    padding-top: 30%;
  }
}

/* Media Query Kindle Fire HDX Linux Tablet Screens */
@media only screen and (max-width: 800px) and (height: 1280px) {
  .wrapper {
    padding-top: 50%;
  }
}

/* Media Query iPad Mini and 768px and Smaller */
@media only screen and (max-width: 768px) {
  .wrapper {
    padding-top: 20%;
  }
}

/* Media Query 680px and Smaller */
@media only screen and (max-width: 680px) {
  .welcome__div h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

/* Media Query 600px and Smaller */
@media only screen and (max-width: 600px) {
  .img__div {
    height: 30%;
  }
}

/* Media Query 550px and Smaller */
@media only screen and (max-width: 550px) {
  .btn__continue {
    padding: 0.7rem 6rem;
  }

  .welcome__div img {
    margin-top: 1;
  }
}

/* Media Query 425px and Smaller */
@media only screen and (max-width: 425px) {
  .wrapper {
    padding-top: 20%;
  }

  .welcome__div img {
    margin-top: -2.5rem;
  }
}

/* Media Query 395px and Smaller */
@media only screen and (max-width: 395px) {
  /* .wrapper {
        padding-top: 15%;
    } */

  .welcome__div h1 {
    font-size: 2.8rem;
  }

  .welcome__div img {
    margin-top: -2.5rem;
  }
}

/* Media Query 375px and Smaller */
@media only screen and (max-width: 375px) {
  .welcome__div img {
    margin-top: -3rem;
  }
}

/* Media Query 365px and Smaller */
@media only screen and (max-width: 365px) {
  .welcome__div img {
    margin-top: 0rem;
  }

  .btn__continue {
    padding: 0.6rem 5.5rem;
    margin-top: 1rem;
  }
}

/* Media Query 335px and Smaller */
@media only screen and (max-width: 335px) {
  .btn__continue {
    padding: 0.5rem 4rem;
  }
}

/* Media Query 320px and Smaller */
@media only screen and (max-width: 320px) {
  .welcome__div h1 {
    font-size: 2.2rem;
  }
}

/* Media Query 270px and Smaller */
@media only screen and (max-width: 270px) {
  .welcome__div h1 {
    font-size: 2rem;
  }

  .btn__continue {
    padding: 0.4rem 3rem;
  }
}
