.headimg {
  position: relative;
  left: 11%;
  width: 35%;
}
.header {
  position: relative;
  top: -50px;
}
.headertext {
  line-height: 25px;
  color: rgba(255, 255, 255, 0.8);
}
.text {
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
}
.person {
  position: absolute;
  top: 30%;
  left: 1px;
  background-image: url('../pages/images/Group3145.svg');
  background-repeat: no-repeat;
}
.person1 {
  width: 30%;
  height: 70vh;
  position: relative;
  /* margin-left: -10%; */
}
.person2 {
  width: 60%;
}
.flower {
  width: 10%;
  height: 50%;
  position: absolute;
  top: 50%;
}

.icon {
  cursor: pointer;
}

.login {
  padding-left: 12%;
  padding-right: 12%;
}

.side {
  background-color: #00b87c;
  background-image: url('../pages/images/Vector.svg');
  height: 100vh;
}
.far {
  position: relative;
  right: 30px;
  top: 44px;
  cursor: pointer;
}
.checktext,
.check {
  font-size: 14px;
}
.checklink {
  color: #02ca87 !important;
}
.or {
  font-size: 14px;
  margin-top: 1%;
}

.footer > a {
  font-size: 10px;
}
.button {
  padding: 0.8rem 8rem;
  box-sizing: border-box;
  width: 100%;
  background-color: #cadcf4;
  color: #fff;
  margin-left: 1%;
}
.button:active {
  background-color: #448be8;
  color: #fff;
}

.button_outline {
  padding: 0.8rem 8rem;
  box-sizing: border-box;
  width: 100%;
}

.button_outline > img {
  width: 9%;
  padding-bottom: 2px;
}

.subtext {
  color: #686666;
  font-size: 14px;
  letter-spacing: normal;
  position: relative;
  right: 3%;
}

.email_input {
  color: #828282;
}

.email_subheading {
  color: #828282;
}

.link {
  color: #1e88e5;
}

.footer-text {
  font-size: 12px !important;
}
@media only screen and (max-width: 768px) {
  .button_outline > img {
    width: 14%;
  }
  .side {
    display: none;
  }
  .loginheader {
    text-align: center;
  }
  .subtext {
    text-align: center;
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .side {
    display: none;
  }
  .loginheader {
    text-align: center;
    margin-top: 10%;
  }
  .subtext {
    font-size: 10px;
    text-align: center;
  }
  .line {
    margin-top: -5%;
  }
  .checktextlink {
    margin-top: -2%;
    margin-bottom: 8%;
    font-size: 11px;
  }
  .check {
    font-size: 11px;
    position: relative;
    right: 2%;
  }
  .checktext {
    font-size: 11px;
    position: relative;
    left: 12%;
  }
}
@media only screen and (max-width: 425px) {
  .button_outline > img {
    width: 10%;
  }
}

@media only screen and (max-width: 320px) {
  .button_outline > img {
    width: 12%;
  }
  .subtext {
    font-size: 10px;
  }
}
