@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.loadingContainer {
  z-index: 999999999;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
.loadingHeader {
  text-align: center;
}
.loadingHeader img {
  height: 40px;
}
.loadingHeader {
  padding: 25px 0;
  font-size: 30px;
  letter-spacing: 10px;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
}
.loadingHeader img {
  padding: 0 10px;
}
.loadingImage {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  align-items: baseline;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.loadingImage img {
  height: 50vh;
  max-width: 90vw;
}
.loadingImage img:first-child,
.loadingImage img:last-child {
  height: 30vh;
  max-width: 90vw;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 100px;
}
.loadingCircle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
  border: 2px solid #bebebe;
  border-right: 2px solid #00b87c;
  align-items: center;
  justify-content: center;
  position: absolute;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadingStatus h1 {
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  padding: 25px 0;
  text-align: center;
}
.loadingArc {
  height: 30px;
}
@media screen and (max-width: 700px) {
  .loadingImage {
    justify-content: center;
    height: 40vh;
    overflow: hidden;
  }
  .loadingImage img:first-child,
  .loadingImage img:last-child {
    display: none;
  }
}
