.login__container {
  display: grid;
  grid-template-columns: 40% 60%;
}
.headimg {
  position: relative;
  left: 11%;
  width: 35%;
}
.header {
  position: relative;
  top: -50px;
}
.headertext {
  line-height: 38px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 35px;
}
.text {
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
}
.person {
  position: absolute;
  top: 30%;
  left: 1px;
  background-image: url('../pages/images/Group3145.svg');
  background-repeat: no-repeat;
}
.person1 {
  width: 30%;
  height: 70vh;
  position: relative;
}
.person2 {
  width: 60%;
}
.flower {
  width: 10%;
  height: 50%;
  position: absolute;
  top: 50%;
}

.icon {
  cursor: pointer;
  width: 30px;
}
.line {
  width: 38%;
}

.login {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 18px;
}

.side {
  background-color: #00b87c;
  background-image: url('../pages/images/Vector.svg');
  height: 100vh;
}
.far {
  position: relative;
  right: 30px;
  top: 42px;
  cursor: pointer;
}
.checklink {
  color: #02ca87 !important;
}
.or {
  font-size: 13px;
  margin-top: 1%;
}

.footer {
  margin-top: 5%;
}
.footer > a {
  font-size: 10px;
}
.button {
  box-sizing: border-box;
  width: 100%;
  background-color: #cadcf4 !important;
  color: #fff;
  margin-left: 0%;
  font-size: 18px;
  border-color: 1px solid #cadcf4 !important;
}

.button:active {
  background-color: #448be8 !important;
  color: #fff;
}

.subtext {
  color: #686666;
  font-size: 14px;
  letter-spacing: normal;
}

.email_input {
  color: #828282;
}

.email_subheading {
  color: #828282;
}

.footer-text {
  font-size: 12px !important;
}

@media only screen and (max-width: 768px) {
  .login__container {
    grid-template-columns: 1fr;
  }
  .button_outline > img {
    width: 14%;
  }
  .side {
    display: none;
  }
  .loginheader {
    text-align: center;
  }
  .subtext {
    text-align: center;
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .side {
    display: none;
  }
  .login {
    padding-left: 6%;
    padding-right: 6%;
  }
  .loginheader {
    text-align: center;
    margin-top: 10%;
  }
  .subtext {
    font-size: 11px;
    text-align: center;
    margin-bottom: 8%;
    margin-top: 8%;
  }
  .line {
    margin-top: 5%;
  }
  .checktextlink {
    margin-top: -2%;
    margin-bottom: 8%;
    font-size: 11px;
  }
  .check {
    font-size: 11px;
    position: relative;
    right: 2%;
  }
  .checktext {
    font-size: 11px;
    position: relative;
    left: 12%;
  }
  .or {
    font-size: 11px;
    margin-top: 5%;
  }
  .far {
    margin-left: -5%;
  }
  .footer {
    margin-top: 28%;
  }
}
@media only screen and (max-width: 425px) {
  .button_outline > img {
    width: 10%;
  }
}

@media only screen and (max-width: 320px) {
  .button_outline > img {
    width: 12%;
  }
  .subtext {
    font-size: 10px;
  }
}
