.navbar-expand-lg {
	flex-wrap: wrap;
	justify-content: start;
	padding-left: 25px;
}

.navbar {
	padding-left: 20px;
	margin-top: 15px;
}

.navbarNav {
	position: relative;
	left: 280px;
}

.searchLogo1 {
	display: none;
}

.searchLogo {
	display: inline;
	position: relative;
	right: 20px;
	top: 10px;
	margin-left: 130px;
	margin-right: 15px;
}

.navLinkFeatures {
	margin-right: 50px;
}

.navLinkPricing {
	margin-right: 50px;
}

.navLinkComms {
	margin-right: 50px;
}

.navLinkSignUp {
	margin-right: 10px;
}

.zuriChat {
	font-size: 18px;
	color: black;
	position: relative;
	top: 5px;
	font-weight: bold;
	margin-left: 5px;
	text-decoration: none;
}

.image {
	position: relative;
	top: 5px;
}

.navbarBrand {
	text-decoration: none;
	float: left;
}

.features {
	color: black;
	font-weight: 300;
}

.signU {
	color: #1e88e5;
	font-weight: 300;
}

.signI {
	font-weight: 300;
}

.signIn {
	background-color: #00b87c;
	color: white;
	border-radius: 0px;
}

.pricing {
	color: black;
	font-weight: 300;
}

.comms {
	color: black;
	font-weight: 300;
}

.download {
	color: black;
	font-weight: 300;
}

@media only screen and (min-width: 1440px) {
	.collapse {
		position: relative;
		left: 125px;
	}

	.image {
		position: relative;
		bottom: 10px;
	}

	.zuriChat {
		font-size: 18px;
		color: black;
		position: relative;
		top: 5px;
		font-weight: bold;
		margin-left: 5px;
		text-decoration: none;
	}

	/* .svg-inline--fa {
      position: relative;
      left: 25px;
      bottom: 10px;
    } */

	.navbar {
		padding-left: 20px;
		margin-top: 15px;
	}

	.navbarNav {
		position: relative;
		left: 120px;
	}

	.navButton {
		margin-left: 160px;
	}

	.navLinkFeatures {
		margin-right: 50px;
	}

	.navLinkPricing {
		margin-right: 50px;
	}

	.navLinkComms {
		margin-right: 50px;
	}

	.navLinkSignUp {
		margin-right: 10px;
	}

	.searchLogo {
		position: relative;
		right: 20px;
		top: 10px;
		margin-left: 100px;
		margin-right: 15px;
	}

	.searchLogo1 {
		display: none;
	}

	.signIn {
		background-color: #00b87c;
		color: white;
		border-radius: 0px;
	}

	.signI {
		font-weight: 300;
	}

	.signU {
		color: #1e88e5;
		font-weight: 300;
	}

	.download {
		color: black;
		font-weight: 300;
	}

	.comms {
		color: black;
		font-weight: 300;
	}

	.pricing {
		color: black;
		font-weight: 300;
	}

	.features {
		color: black;
		font-weight: 300;
	}
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
	.collapse {
		position: relative;
		right: 120px;
	}

	.image {
		position: relative;
		bottom: 10px;
	}

	.zuriChat {
		font-size: 18px;
		color: black;
		position: relative;
		top: 5px;
		font-weight: bold;
		margin-left: 5px;
		text-decoration: none;
	}

	/* .svg-inline--fa {
		position: relative;
		left: 25px;
		bottom: 10px;
	} */

	.navbar {
		padding-left: 20px;
		margin-top: 15px;
	}

	.navbarNav {
		position: relative;
		left: 120px;
	}

	.navButton {
		position: relative;
		bottom: 15px;
		left: 195px;
	}

	.navLink {
		margin-right: 60px;
	}

	.navbarBrand {
		text-decoration: none;
		float: left;
		position: relative;
		top: 5px;
	}

	.searchLogo {
		display: none;
	}

	.searchLogo1 {
		display: inline;
		position: relative;
		left: 140px;
		top: 15px;
	}

	.signIn {
		background-color: #00b87c;
		color: white;
		border-radius: 0px;
	}

	.signI {
		font-weight: 300;
	}

	.signU {
		color: #1e88e5;
		font-weight: 300;
	}

	.download {
		color: black;
		font-weight: 300;
	}

	.comms {
		color: black;
		font-weight: 300;
	}

	.pricing {
		color: black;
		font-weight: 300;
	}

	.features {
		color: black;
		font-weight: 300;
	}
}
