@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

.body {
  display: flex;
  width: 100%;
}

.body::-webkit-scrollbar {
  display: none;
}

/* THE SECTION OF THE SIDEBAR */
.notifySidebar {
  width: 25%;
  background: #f9f9f9;
}

.one {
  display: flex;
  padding: 3px 15px;
  align-items: center;
}

.one:first-child {
  padding-top: 15px;
}

.one:first-child p {
  color: #00b87c;
}

.one img {
  height: 17px;
  width: 17px;
}

.one p {
  color: #999999;
}

/* THE SECTION OF THE CONTENT */
.notifyContent {
  width: 75%;
  padding: 0 20px;
  padding-bottom: 70px;
}

.itemTitle1 {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}
.titleLarge {
  font-family: Lato;
  font-size: 15px;
  font-weight: 800;
  color: #333333;
}
.itemTitle1 span {
  color: #1a61db;
  font-size: 13px;
}

.radio {
  padding: 16px;
  font-size: 13px;
  color: #3a3a3a;
}
.radio label {
  margin-left: 8px;
}

.checkbox {
  padding: 16px;
  font-size: 13px;
  color: #3a3a3a;
}
.checkbox label {
  margin-left: 8px;
}
.line {
  width: 600px;
  height: 16px;
  border-bottom: 1px solid #c4c4c4;
  position: relative;
  margin: 0 auto;
  margin-left: 30px;
}
.itemTitle2 {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}
.itemTitle2 span {
  color: #3a3a3a;
  font-size: 11px;
}
.itemTitle2 .spanSmall {
  color: #1a61db;
}
.textarea {
  border-color: 1px #e5e5e5;
  outline: none;
  resize: none;
  margin-top: 10px;
  overflow: hidden;
  height: 98px;
  width: 520px;
}
.schedule {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  padding: 16px;
  width: 200px;
}
.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  width: 97%;
}

.selectButton {
  width: 192px;
  height: 39px;
  border-radius: 5px;
  border-color: 2px #e5e5e5;
  font-size: 13px;
  font-family: lato;
  font-weight: normal;
  border: 1px solid #e0e0e0;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}
.inputContainer label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 9px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #3a3a3a;
  font-size: 13px;
  line-height: 1;
  left: 16px;
}

.inputContainer:focus-within label {
  transform: translate(0, 5px) scale(0.8);
  color: #3a3a3a;
}

.textInput {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 5px;
  width: 173px;
  height: 39px;
  outline: none;
  z-index: 0;
}

/* ======================================= */
/* Michael's sound check stylings */
.notify {
  padding: 0 20px;
}

.text {
  margin-top: 30px;
  font-weight: 900;
  font-size: 1rem;
  color: rgb(44, 29, 29);
}

.subtext {
  font-size: 14px;
  color: rgb(134, 115, 115);
  margin-top: 5px;
}

.button {
  margin-top: 25px;
  background: whitesmoke;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: rgb(85, 84, 84);
  border: 1px solid #e5e5e5;
  outline: none;
  font-size: 13px;
}

.preview {
  display: flex;
  flex-direction: row;
  /* margin-left: -267px; */
  align-items: center;
  background: red;
  padding: 0 !important;
}

.msg {
  /* margin-left: -5px; */
  font-size: 1rem;
  color: rgb(85, 84, 84);
}

.msg2 {
  margin-left: 10px;
  font-size: 1rem;
  color: rgb(85, 84, 84);
}

.msg3 {
  font-size: 0.9rem;
}

.msg4 {
  font-size: 0.9rem;
}

.mute {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.picksound {
  /* display: flex; */
  margin-bottom: 50px;
  /* margin-left: -250px; */
  margin-top: 26px;
  color: rgb(85, 84, 84);
}

.share {
  display: flex;
  justify-content: space-between;
}

.lounge {
  /* display:flex; */
  /* margin-left: 60px; */
  color: rgb(85, 84, 84);
}

.dropdown {
  margin-top: 5px;
}

.dropdown2 {
  margin-top: 5px;
}

.button2 {
  padding-right: 90px;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  border: 1px solid rgb(218, 215, 215);
  border-radius: 4px;
  color: rgb(85, 84, 84);
  outline: none;
}

.button3 {
  padding-right: 90px;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  border: 1px solid rgb(218, 215, 215);
  border-radius: 4px;
  color: rgb(85, 84, 84);
  outline: none;
}

.section2 {
  margin-top: 30px;
}

.text2 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1rem;
  color: rgb(44, 29, 29);
}

.flash {
  display: flex;
  flex-direction: row;
  /* margin-top: 20px; */
  align-items: center;
}

.never {
  font-size: 1rem;
  color: rgb(85, 84, 84);
  margin-top: -5px;
}

.flash2 {
  display: flex;
  flex-direction: row;
  margin-top: -5px;
  margin-left: 16px;
  align-items: center;
}

.idle {
  margin-left: 10px;
  font-size: 1rem;
  color: rgb(85, 84, 84);
  margin-top: -5px;
}

.flash3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.always {
  margin-left: -5px;
  font-size: 1rem;
  color: rgb(85, 84, 84);
  margin-top: -5px;
}

.deliver {
  margin-top: 20px;
}

.when {
  font-size: 1rem;
}

.dropdown3 {
  margin-top: 5px;
}

.button4 {
  padding-right: 100px;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  border: 1px solid rgb(218, 215, 215);
  border-radius: 4px;
  font-size: 1rem;
  color: rgb(85, 84, 84);
  outline: none;
}

/* ----------------------------- */
.section3 {
  margin-top: 30px;
}

.head3 {
  border-top: 1px solid rgb(233, 227, 227);
  /* margin-top: -10px; */
  /* width: 274%; */
}

.text3 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1rem;
  color: rgb(44, 29, 29);
}

.mobile {
  margin-top: 25px;
  color: rgb(85, 84, 84);
}

.send {
  font-size: 1rem;
}

.dropdown4 {
  margin-top: 5px;
}

.button5 {
  padding-right: 100px;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid rgb(218, 215, 215);
  border-radius: 4px;
  color: rgb(85, 84, 84);
  outline: none;
}

.email {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  margin-top: 15px;
}

.msg5 {
  margin-left: 10px;
  color: rgb(85, 84, 84);
}

.checkbox3 {
  margin-top: 2px;
}

/* -------------------------------------- */
@media screen and (max-width: 768px) {
  .notify {
    margin-left: 255px;
    width: 85%;
    height: 220vh;
  }

  .notifywrapper {
    margin-left: 20px;
  }

  .picksound {
    flex-direction: column;
  }

  .lounge {
    margin-left: 0px;
    margin-top: 10px;
  }

  .section2 {
    margin-left: 2px;
  }

  .head {
    width: 109%;
  }

  .head2 {
    margin-top: -90px;
    width: 55%;
  }

  .section3 {
    margin-left: 2px;
    margin-top: 114px;
  }

  .head3 {
    margin-top: -90px;
    width: 55%;
  }

  .button5 {
    padding-right: 70px;
  }

  .email {
    width: 90%;
  }
}

@media screen and (max-width: 768px) and (min-width: 424px) {
  .notify {
    margin-left: 243px;
  }
}

/* Tuasegun's media query */
@media (max-width: 450px) {
  .itemTitle1 {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
  }
  .line {
    width: 350px;
    height: 16px;
    border-bottom: 1px solid #c4c4c4;
    position: relative;
    margin: 0 auto;
    margin-left: 30px;
  }
  .textarea {
    border-color: 1px #e5e5e5;
    outline: none;
    resize: none;
    margin-top: 10px;
    overflow: hidden;
    height: 98px;
    width: 350px;
  }
  .list {
    display: flex;
    flex-direction: column;
  }
  .listChild {
    margin-top: 10px;
  }
}
