@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: Lato;
  max-height: inherit;
  overflow-y: scroll;
}

.itemTitle1 {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}
.titleLarge {
  font-family: Lato;
  font-size: 16px;
  font-weight: 900;
  color: #333333;
}
.itemTitle1 span {
  color: #1a61db;
}

.radio {
  padding: 16px;
  font-size: 13px;
  color: #3a3a3a;
}
.radio label {
  margin-left: 8px;
}
.radio input {
  color: #00b87c;
}
.checkbox {
  padding: 16px;
  font-size: 13px;
  color: #3a3a3a;
}
.checkbox label {
  margin-left: 8px;
}
.line {
  width: 600px;
  height: 16px;
  border-bottom: 1px solid #c4c4c4;
  position: relative;
  margin: 0 auto;
  margin-left: 30px;
}
.itemTitle2 {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}
.itemTitle2 span {
  color: #3a3a3a;
  font-size: 10px;
}
.itemTitle2 .spanSmall {
  color: #1a61db;
}
.textarea {
  border-color: 1px #e5e5e5;
  outline: none;
  resize: none;
  margin-top: 10px;
  overflow: hidden;
  height: 98px;
  width: 520px;
}
.schedule {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  padding: 16px;
  width: 200px;
}
.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  width: 600px;
}

.selectButton {
  width: 192px;
  height: 39px;
  border-radius: 1px;
  border-color: 2px #e5e5e5;
  font-size: 13px;
  font-family: lato;
  border: 1px;
  font-weight: normal;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}
.inputContainer label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 9px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #3a3a3a;
  font-size: 13px;
  line-height: 1;
  left: 16px;
}

.inputContainer:focus-within label {
  transform: translate(0, 5px) scale(0.8);
  color: #3a3a3a;
}

.textInput {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 5px;
  width: 173px;
  height: 39px;
}

/* Michael's sound check stylings */
.notify {
  background: white;
  width: 800px;
  box-sizing: border-box;
  margin-left: 230px;
  margin-top: 10px;
  height: 140vh;
  margin-bottom: 200px;
  
}

.notifywrapper {
  margin-left: 40px;
}

.head {
  border-top: 1px solid rgb(233, 227, 227);
  margin-top: 35px;
  margin-left: -250px;
  width: 84%;
}

.text {
  margin-top: 20px;
  font-weight: 900;
  font-size: 1.7rem;
  color: rgb(44, 29, 29);
}

.subtext {
  font-size: 1.2rem;
  color: rgb(134, 115, 115);
  margin-top: 5px;
}

.button {
  margin-top: 25px;
  margin-left: -250px;
  background: whitesmoke;
  border: 1px solid rgb(201, 195, 195);
  cursor: pointer;
  border-radius: 4px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 20px;
  color: rgb(85, 84, 84);
}

.preview {
  display: flex;
  flex-direction: row;
  margin-left: -267px;
}

.checkbox {
  margin-top: -16px;
}

.msg {
  margin-left: -5px;
  font-size: 1.2rem;
  color: rgb(85, 84, 84);
}

.msg2 {
  margin-left: 10px;
  font-size: 1.2rem;
  color: rgb(85, 84, 84);
}

.msg3 {
  font-size: 1.2rem;
}

.msg4 {
  font-size: 1.2rem;
}

.mute {
  display: flex;
  flex-direction: row;
  margin-top: -3px;
  margin-left: -251px;
}

.picksound {
  display: flex;
  margin-bottom: 50px;
  margin-left: -250px;
  margin-top: 26px;
  color: rgb(85, 84, 84);
}

.lounge {
  margin-left: 60px;
  color: rgb(85, 84, 84);
}

.dropdown {
  margin-top: 5px;
}

.dropdown2 {
  margin-top: 5px;
}

.button2 {
  padding-right: 90px;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  border: 1px solid rgb(218, 215, 215);
  border-radius: 4px;
  color: rgb(85, 84, 84);
}

.button3 {
  padding-right: 80px;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  border: 1px solid rgb(218, 215, 215);
  border-radius: 4px;
  color: rgb(85, 84, 84);
}

.section2 {
  display: flex;
  flex-direction: column;
  margin-left: -445px;
  margin-top: 115px;
}

.head2 {
  border-top: 1px solid rgb(233, 227, 227);
  margin-top: -28px;
  width: 232%;
}

.text2 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.6rem;
  color: rgb(44, 29, 29);
}

.flash {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.radio {
  margin-top: -16px;
}

.never {
  margin-left: -5px;
  font-size: 1.2rem;
  color: rgb(85, 84, 84);
}

.flash2 {
  display: flex;
  flex-direction: row;
  margin-top: -5px;
  margin-left: 16px;
}

.idle {
  margin-left: 10px;
  font-size: 1.2rem;
  color: rgb(85, 84, 84);
}

.flash3 {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  margin-left: 1px;
}

.always {
  margin-left: -5px;
  font-size: 1.2rem;
  color: rgb(85, 84, 84);
}

.deliver {
  margin-top: 28px;
}

.when {
  font-size: 1.2rem;
}

.dropdown3 {
  margin-top: 5px;
}

.button4 {
  padding-right: 100px;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  border: 1px solid rgb(218, 215, 215);
  border-radius: 4px;
  font-size: 1.2rem;
  color: rgb(85, 84, 84);
}

.section3 {
  display: flex;
  flex-direction: column;
  margin-left: -273px;
  margin-top: 380px;
}

.head3 {
  border-top: 1px solid rgb(233, 227, 227);
  margin-top: -10px;
  width: 274%;
}

.text3 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.6rem;
  color: rgb(44, 29, 29);
}

.mobile {
  margin-top: 25px;
  color: rgb(85, 84, 84);
}

.send {
  font-size: 1.2rem;
}

.dropdown4 {
  margin-top: 5px;
}

.button5 {
  padding-right: 100px;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  border: 1px solid rgb(218, 215, 215);
  border-radius: 4px;
  color: rgb(85, 84, 84);
}

.email {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  margin-top: 15px;
}

.msg5 {
  margin-left: 10px;
  color: rgb(85, 84, 84);
}

.checkbox3 {
  margin-top: 2px;
}

@media screen and (max-width: 768px) {
  .notify {
    margin-left: 255px;
    width: 85%;
    height: 220vh;
  }

  .notifywrapper {
    margin-left: 20px;
  }

  .picksound {
    flex-direction: column;
  }

  .lounge {
    margin-left: 0px;
    margin-top: 10px;
  }

  .section2 {
    margin-left: 2px;
  }

  .head {
    width: 109%;
  }

  .head2 {
    margin-top: -90px;
    width: 55%;
  }

  .section3 {
    margin-left: 2px;
    margin-top: 114px;
  }

  .head3 {
    margin-top: -90px;
    width: 55%;
  }

  .button5 {
    padding-right: 70px;
  }

  .email {
    width: 90%;
  }
}

@media screen and (max-width: 768px) and (min-width: 424px) {
  .notify {
    margin-left: 243px;
  }
}


/* Tuasegun's media query */
@media (max-width: 450px) {
  .itemTitle1 {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
  }
  .line {
    width: 350px;
    height: 16px;
    border-bottom: 1px solid #c4c4c4;
    position: relative;
    margin: 0 auto;
    margin-left: 30px;
  }
  .textarea {
    border-color: 1px #e5e5e5;
    outline: none;
    resize: none;
    margin-top: 10px;
    overflow: hidden;
    height: 98px;
    width: 350px;
  }
  .list {
    display: flex;
    flex-direction: column;
  }
  .listChild {
    margin-top: 10px;
  }
}
