@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container {
  background-color: #f9f9f9;
  overflow: hidden;
  color: #999999;
  height: 100%;
  max-width: 30%;
  min-width: 170px;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  overflow-y: auto;
}

.list {
  font-size: 1rem;
  padding-bottom: 1.2rem;
}

.list span {
  margin-left: 1rem;
}

.list a:hover {
  color: #00b87c;
}

.list a:focus {
  color: #00b87c;
}
