.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3e3e3e;
  padding: 1em 2em;
}

.wrapper {
  width: 500px;
}

.formContainer {
  width: 100%;
}

.formContainer input {
  width: 100%;
  padding: 8px 16px;
  background: #fafafa;
  border: 1px solid rgba(187, 186, 231, 0.15);
  border-radius: 2px 2px 0px 0px;
}

.headings {
  margin: 1em 0 2em;
  display: flex;
  gap: 8px;
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
}

.heading {
  padding-bottom: 5px;
  cursor: pointer;
}

.heading:hover {
  padding-bottom: 3px;
  border-bottom: 2px solid #000000;
}

.bold {
  font-weight: 700;
}

.results {
  display: flex;
  flex-direction: column;
}

.results > div {
  margin-bottom: 10px;
}

.results > h4 {
  font-size: 1.1rem;
  font-weight: 700;
}

.results li {
  list-style-type: disc;
  list-style-position: inside;
}

@media (max-width: 768px) {
  .wrapper {
    width: 450px;
  }
}

@media (max-width: 576px) {
  .wrapper {
    width: 300px;
  }

  .headings {
    gap: 4px;
    font-size: 8px;
  }
}
