.button {
  padding: 13px;
  background-color: #00b87c;
  color: #ffffff;
  width: 180px;
  border: none;
  font-size: 16px;
}

.container {
  display: flex;
  background-color: #ffffff;
  margin-left: 50px;
  margin-top: 20px;
  margin: 0 auto;
  width: 50%;
}

.side {
  width: 400px;
}

.padlock_img {
  margin-top: 20px;
  margin-left: 40px;
}

.h1 {
  margin-top: 0px;
}

@media only screen and (min-width: 1440px) {
  .container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .button {
    width: 280px;
  }

  .container {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
  }

  .side {
    width: 280px;
    margin-right: 20px;
  }

  .padlock_img {
    margin-left: 0px;
  }
}
