.container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Account_having {
  width: 90%;
}

.Account_having p {
  margin-top: 50px;
  text-align: right;
  margin: 20px;
}

.Account_having p a {
  color: #00bb7c;
  font-weight: bold;
}

.login_container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.logoImage {
  width: 50px;
  height: 50px;
}

.imgBx_img {
  width: 100%;
  height: 100%;
}

/*  THE SECTION OF THE CONTENT */
.contentBx {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* width: 75%; */
}

.formBx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* width: 50%; */
}

.formBx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.logoText {
  font-family: 'Gilroy' sans-serif;
  font-size: 30px;
  padding: 10px 10px 10px 10px;
}

.head_text h1 {
  text-align: center;
  padding: 10px;
}

.head_text p {
  text-align: center;
}

.seperator {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.seperator .line {
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  background-color: rgb(141, 141, 141);
  height: 2px;
  width: 100%;
}

.seperator p {
  margin: 0rem;
  color: rgb(141, 141, 141);
  text-align: center;
  font-weight: bold;
}

.signing_by_buttons .google_email {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem 5rem;
  font-weight: bold;
  background-color: white;
}

.signing_by_buttons .facebook_email {
  border: 1px solid rgb(41, 41, 179);
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem 5rem;
  font-weight: bold;
  color: rgb(41, 41, 179);
  background-color: white;
  margin-top: 20px;
}

.signing_by_buttons .google_email:hover {
  background-color: rgb(194, 194, 194);
}

.signing_by_buttons .facebook_email:hover {
  background-color: rgb(194, 194, 194);
}

.signing_by_buttons {
  margin-top: 2rem;
}

.signing_by_buttons button img {
  height: 30px;
  margin-right: 10px;
}

.signing_by_Email {
  margin-top: 20px;
}

.signing_by_Email label {
  font-weight: bold;
  padding: 0.5rem 0.5rem 0.5rem 0rem;
}

.signing_by_Email input {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem 0.5rem;
  background-color: white;
}

.signup_btn {
  border: none;
  padding: 0.5rem 10rem;
  background: #00bb7c;

  width: 100%;
  border: none;
  padding: 0.5rem 10rem;
  background: #00bb7c;
  width: 100%;
}

.formInline {
  width: 80%;
  align-items: center;
}

.formLogo {
  height: 3rem;
  width: 8rem;
  margin-top: 10px;
}

.formInline_h2 {
  color: #3a3a3a;
  font-weight: bolder;
  font-size: 1.1rem;
  text-transform: capitalize;
  margin: 10px 0;
  text-align: left;
}

.inputBx {
  padding: 0;
  width: 100%;
}

.inputBx_span {
  font-weight: 700;
  display: block;
  color: #3a3a3a;
  font-size: 14px;
  letter-spacing: 1px;
}

.inputErrorMsg {
  font-weight: normal;
  font-size: 12px;
  padding-left: 1.6rem;
  color: #ff0000;
  letter-spacing: 1px;
}

.cust_input_grp {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border: 1px solid rgb(239, 239, 239);
  border-radius: 3px;
}

.cust_input_grp:active {
  border-color: rgba(0, 184, 124, 0.6);
}

.cust_input_grp .inputBx_input {
  border: none;
}

.cust_input_grp .inputBx_input:focus {
  border-color: transparent;
}

.inputBx_input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #efefef;
  font-size: 12px;
  letter-spacing: 1px;
  color: #3a3a3a;
  background: #fff;

  border-radius: 8px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.inputBx_input::-webkit-input-placeholder {
  font-size: 12px;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #efefef;
  font-size: 12px;
  letter-spacing: 1px;
  color: #3a3a3a;
  background: #fff;
  border-radius: 2px;
  margin-bottom: 10px;
}

.inputBx_input::-webkit-input-placeholder {
  font-size: 12px;
}

.inputBx_input:focus {
  border-color: rgba(0, 184, 124, 0.6);
}

.visibility {
  height: 1.4rem;
  width: 1.2rem;
  margin-right: 1.2rem;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  cursor: pointer;
}

.toc {
  color: #3a3a3a;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.toc_input {
  margin-right: 14px;
  height: 1rem;
  width: 1rem;
}

.tocText {
  color: #b8003c;
}

.custom_form_btn {
  width: 100%;
  background: #2f80ed;
  color: #fff;

  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem 5rem;
  font-weight: bold;
}

.signup_btn:hover {
  background: #038f60;
}

.checkbox {
  padding: 2rem 0.7rem 0.7rem 0rem;
}

.checkbox span {
  margin-left: 10px;
}

input[type='checkbox'] {
  height: 15px;
  width: 15px;
  border-radius: 10px;
  color: teal;
  cursor: pointer;
}

.agreement p {
  padding: 1rem 0.5rem 0.5rem 0rem;
  color: rgb(141, 141, 141);
}

.footer_menu {
  margin: 50px 0 100px 0;
}

.footer_menu ul {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 600px) {
  .Account_having {
    width: 100%;
  }

  .Account_having p {
    margin-top: 50px;
    text-align: center;
    margin: 0px;
    padding: 10px;
  }

  .signing_by_buttons .google_email {
    padding: 0.5rem 0rem;
  }
  .signing_by_buttons .facebook_email {
    padding: 0.5rem 0rem;
  }

  .signing_by_buttons {
    margin-left: 50px;
    margin-right: 50px;
  }
  .signing_by_Email {
    margin-left: 50px;
    margin-right: 50px;
  }

  .signup_btn {
    padding: 0.5rem 0rem;
  }
  .signup_button {
    margin-left: 50px;
    margin-right: 50px;
  }

  .checkbox {
    margin-left: 50px;
    margin-right: 50px;
  }
  .agreement {
    margin-left: 50px;
    margin-right: 50px;
  }
  .footer_menu ul {
    display: block;
    text-align: center;
  }

  .footer_menu {
    margin: 30px 0 100px 0;
  }

  .footer_menu ul li {
    margin-top: 20px;
  }

  .seperator {
    margin-left: 50px;
    margin-right: 50px;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
  }

  .custom_form_btn:hover {
    color: #fff;
  }

  .lineSpan {
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  .lineSpan::before {
    flex-grow: 1;
    height: 1.5px;
    content: '\a0';
    background-color: rgb(0, 184, 124);
  }
  .lineSpan:after {
    flex-grow: 1;
    height: 1.5px;
    content: '\a0';
    background-color: rgb(0, 184, 124);
  }

  .lineSpan:before {
    margin-right: 10px;
  }

  .lineSpan:after {
    margin-left: 10px;
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
  }

  .social_img {
    width: 30px;
    margin: auto 16px;
    padding: 5px;
    background-color: #efefef;
    border-radius: 50%;
  }

  .bottomline {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
  }

  .bottomline_a {
    color: #00b87c;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer_a {
    display: inline-flex;
    font-size: 10px;
    margin: auto 24px;
    color: #999999;
    text-transform: capitalize;
  }
}

.custom_form_btn:hover {
  color: #fff;
}

.lineSpan {
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.lineSpan::before {
  flex-grow: 1;
  height: 1.5px;
  content: '\a0';
  background-color: rgb(0, 184, 124);
}
.lineSpan:after {
  flex-grow: 1;
  height: 1.5px;
  content: '\a0';
  background-color: rgb(0, 184, 124);
}

.lineSpan:before {
  margin-right: 10px;
}

.lineSpan:after {
  margin-left: 10px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.social_img {
  width: 30px;
  margin: auto 16px;
  padding: 5px;
  background-color: #efefef;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .section_signup {
    grid-template-columns: 1fr;
  }
  .imgBx {
    display: none;
  }

  .contentBx {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .formInline {
    width: 100%;
    padding: 0;
  }
  .formLogo {
    margin: 16px 0 16px -3px;
    height: 2.4rem;
  }

  .formInline {
    width: 90%;
    padding: 0 0 0 0;
    align-items: center;
    height: 100%;
  }

  .formInline_h2 {
    color: #000;
    font-weight: bolder;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .terms_label {
    font-size: 12px;
    line-height: 2rem;
  }

  .tocText {
    font-size: 12px;
  }

  .footer_a {
    margin: auto 16px;
  }
  .section_signup {
    grid-template-columns: 1fr;
  }
  .imgBx {
    display: none;
  }

  .contentBx {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .formInline {
    width: 100%;
    padding: 0;
  }
  .formLogo {
    margin: 16px 0 16px -3px;
    height: 2.4rem;
  }

  .formInline {
    width: 90%;
    padding: 0 0 0 0;
    align-items: center;
    height: 100%;
  }

  .formInline_h2 {
    color: #000;
    font-weight: bolder;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .terms_label {
    font-size: 12px;
    line-height: 2rem;
  }

  .tocText {
    font-size: 12px;
  }

  .footer_a {
    margin: auto 16px;
  }
}
