*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
}

section{
     position: relative;
     width: 100vw;
     height: 100vh;
     display: flex;
}

section .imgBx{
    position: relative;
    width: 39.7%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

section .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}

section .contentBx{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 60.3%;
    height: 100%;
    overflow: hidden;
}

section .contentBx .formBx{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

section .contentBx .formBx .formInline{
    width: 80%;
    padding: 0 40px 0 0;
    align-items: center;
    height: 100%;
}




section .contentBx .formLogo{
    margin: 10px 0 10px -60px;
    height: 2.5rem;
}

section .contentBx .formBx .formInline h2{
    color: #3A3A3A;
    font-weight: bolder;
    font-size:20px;
    text-transform: uppercase;
    margin: 2px 0;
}

section .contentBx .formBx .inputBx{
    padding: 8px 0;
    width: 100%;
    height: auto;
}

section .contentBx .formBx .inputBx span{
    font-weight: 700;
    font-size: 24px;
    display: block;
    color: #3A3A3A;
    font-size: 16px;
    letter-spacing: 1px;  
    padding-bottom: 5px; 
}

section .contentBx .formBx .inputBx input{
    width: 100%;
    padding: 12px;
    outline: none;
    border: 1px solid #EFEFEF;
    font-size: 12px;
    letter-spacing: 1px;
    color: #3A3A3A;
    background: #fff;
    border-radius: 8px;
}

.toc{
    color: #3A3A3A;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 5px 5px;
    display: inline-flex;
}

.toc input{
    margin-right: 14px;
    margin-top: 1px;
}

.tocText{
    color: #B8003C;
}

.btn{
    width: 100%;
    background: #2F80ED;
    color: #fff;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-left: -1px;
}

.lineSpan {
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0;
   }
  
  .lineSpan::before{
    flex-grow: 1;
    height: 1.5px;
    content: '\a0';
    background-color:rgb(0, 184, 124, 0.3);
    position: relative;
    top: 0.5em;
  }
  .lineSpan:after {
    flex-grow: 1;
    height: 1.5px;
    content: '\a0';
    background-color: rgb(0, 184, 124, 0.3);
    position: relative;
    top: 0.5em;
  }
  
  .lineSpan:before {
    margin-right:10px;
  }
  
 .lineSpan:after {
    margin-left:10px;
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
  }

  .social img{
      width: 30px;
      margin: auto 16px;
      padding: 5px;
      background-color: #EFEFEF;
      border-radius: 50%;
  }

  
  .bottomline{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }

  .bottomline a{
      color: #00B87C;
  }
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer a{
      display: inline-flex;
      font-size: 10px;
      margin: auto 24px;
      color: #999999;
      
  }

  @media screen and (max-width: 768px){
    .imgBx{
        display: none;
    }

    section .contentBx{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .formInline{
        width: 100%;
        padding: 0;
    }
    section .contentBx .formLogo{
        margin: 16px 0 16px -3px;
        height: 1.5rem;   
    }

    section .contentBx .formBx .formInline{
        width: 80%;
        padding: 0 0 0 0;
        align-items: center;
        height: 100%;
    }

    section .contentBx .formBx .formInline h2{
        color: #000;
        font-weight: bolder;
        font-size: 16px;
        text-transform: uppercase;
        margin: 10px 0; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer a{

        margin: auto 16px;
        
    }
  
    
}


  







