.statusBadge {
  width: 20px;
  height: 20px;
  color: #0d0d0d;
  background-color: #2e9ef2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -1.075em;
  margin-left: 1.375em;
}
