.statusBadge {
  cursor: pointer;
  outline: none;
  font-size: 16px;
  border: 0;
  background: none;
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.statusBadge:focus {
  border: 1px solid #00b87c;
}
