@import url(https://fonts.googleapis.com/css?family=Lato);

.timezoneContainer {
  position: absolute;
  width: 520px;
  display: flex;
  flex-direction: column;
}

.timezoneSelect {
  width: 520px;
  height: 39px;
  left: 348px;
  top: 828px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 5px;
}

.timezoneText {
  color: #434343;
  width: 70px;
  height: 21px;
  left: 348px;
  top: 801px;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 139.5%;
}
