.timezoneContainer {
  display: flex;
  width: 520px;
  flex-direction: column;
}

.timezoneSelect {
  position: absolute;
  width: 520px;
  height: 39px;
  left: 32px;
  top: 672px;
  margin-top: 10px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .timezoneContainer {
    display: flex;
    width: 300px;
    flex-direction: column;
  }
}
