.container {
  width: 80%;
  font-family: 'Lato';
  padding-bottom: 4em;
}

.head {
  font-family: 'Lato';
  font-weight: bolder;
  display: flex;
  margin: 1rem 0;
  color: #000;
  font-size: 15px;
  
}

.borderbottomone {
  margin-left: 20px;
  margin-right: 20px;
  width: 30%;
  height: 0.5rem;
  border-bottom: 1px solid #000;
}

.borderbottomtwo {
  margin-left: 20px;
  width: 30%;
  height: 0.5rem;
  border-bottom: 1px solid #000;
}

.checktype {
  display: flex;
  margin-bottom: 0.4rem;
}

.checktype input {
  margin-top: -6px;
}

.typing h3 {
  margin-top: -22px;
  margin-left: -12px;
  font-size: 13px;
  color: black;
  font-weight: 500;
}

.typingticket {
  margin-top: -2px;
  font-size: 13px;
  margin-left: -3px;
  color: #616061;
}

.checkformat {
  display: flex;
  margin-top: 1rem;
}

.checkformat input {
  margin-top: 3px;
}

.typing{
  width: 100%;
}
.format{
  width: 100%;
}
.format h3 {
  font-size: 13px;
  color: black;
  font-weight: 500;
  margin-top: -13px;
  margin-left: -10px;
  width: 100%;
}

.format2 h3 {
  margin-top: -15px;
  font-size: 13px;
  margin-left: -3px;
  color: #616061;
}

.headpress {
  font-family: 'Lato';
  font-weight: bolder;
  display: flex;
  margin: 1rem 0;
  color: #000;
  font-size: 15px;
  margin-top: 6px;
}

.send {
  font-size: 13px;
  margin-top: -3px;
  font-weight: 500;
}

.start {
  font-size: 13px;
  margin-top: 8px;
  font-weight: 500;
}

.radiosend {
  display: flex;
}

.radiostart {
  display: flex;
}

.radiostart input {
  margin-top: 10px;
}

.radiosend .send {
  margin-left: 9px;
}

.radiostart .start {
  margin-left: 9px;
}

/* input {
    margin-top: .5rem;
} */

.typing span {
  font-weight: bold;
  color: #3a3a3a;
}

.behaviour span {
  color: #3a3a3a;
  display: flex;
}

.browser span {
  color: #3a3a3a;
  display: flex;
}

.btn1 {
  background: #fff;
  border: 1px solid rgba(0, 184, 124, 0.5);
  box-sizing: border-box;
  border-radius: 3px; 
  padding: 0px 7px;
  margin-top: -2px;
  color: rgba(0, 184, 124, 0.5);
  margin-right: 3px;
  margin-left: 3px;
}

.btn2 {
  background: #fff;
  border: 1px solid rgba(0, 184, 124, 0.5);
  box-sizing: border-box;
  border-radius: 3px; 
  padding: 0px 7px; 
  margin-top: -2px;
  color: rgba(0, 184, 124, 0.5);
  margin-right: 3px;
  margin-left: 3px;
}

.btn3 {
  background: #fff;
  border: 1px solid rgba(0, 184, 124, 0.5);
  box-sizing: border-box;
  border-radius: 3px; 
  padding: 0px 7px;
  margin-top: -2px;
  color: rgba(0, 184, 124, 0.5);
  margin-right: 3px;
  margin-left: 3px;
}

.btn4 {
  background: #fff;
  border: 1px solid rgba(0, 184, 124, 0.5);
  box-sizing: border-box;
  border-radius: 3px; 
  padding: 0px 7px;
  margin-top: -2px;
  color: rgba(0, 184, 124, 0.5);
  margin-right: 3px;
  margin-left: 3px;
}

.btn5 {
  background: #fff;
  border: 1px solid rgba(0, 184, 124, 0.5);
  box-sizing: border-box;
  border-radius: 3px; 
  padding: 0px 7px;
  margin-top: -2px;
  color: rgba(0, 184, 124, 0.5);
  margin-right: 3px;
  margin-left: 3px;
}

.btn6 {
  background: #fff;
  border: 1px solid rgba(0, 184, 124, 0.5);
  box-sizing: border-box;
  border-radius: 3px; 
  padding: 0px 7px;
  margin-top: -2px;
  color: rgba(0, 184, 124, 0.5);
  margin-right: 3px;
  margin-left: 3px;
}

.btn7 {
  background: #fff;
  border: 1px solid rgba(0, 184, 124, 0.5);
  box-sizing: border-box;
  border-radius: 3px; 
  padding: 0px 7px;
  margin-top: -2px;
  color: rgba(0, 184, 124, 0.5);
  margin-right: 3px;
  margin-left: 3px;
}

.btn8 {
  background: #fff;
  border: 1px solid rgba(0, 184, 124, 0.5);
  box-sizing: border-box;
  border-radius: 3px; 
  padding: 0px 7px;
  margin-top: -2px;
  color: rgba(0, 184, 124, 0.5);
  margin-right: 3px;
  margin-left: 3px;
}

.btn9 {
  background: #fff;
  border: 1px solid rgba(0, 184, 124, 0.5);
  box-sizing: border-box;
  border-radius: 3px; 
  padding: 0px 7px;
  margin-top: -2px;
  color: rgba(0, 184, 124, 0.5);
  margin-right: 3px;
  margin-left: 3px;
}

.btn10 {
  background: #fff;
  border: 1px solid rgba(0, 184, 124, 0.5);
  box-sizing: border-box;
  border-radius: 3px; 
  padding: 0px 7px;
  margin-top: -2px;
  color: rgba(0, 184, 124, 0.5);
  margin-right: 3px;
  margin-left: 3px;
}

.btn11 {
  background: #fff;
  border: 1px solid rgba(0, 184, 124, 0.5);
  box-sizing: border-box;
  border-radius: 3px; 
  padding: 0px 7px;
  margin-top: -2px;
  color: rgba(0, 184, 124, 0.5);
  margin-right: 3px;
  margin-left: 3px;
}

.input {
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.bartype {
  border: 1px solid #DADADA;
  padding-left: 1.5rem;
  padding-right: 18rem;
  width: 500px;
  height: 56px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: -12px;
}

.search {
  margin-left: 3rem;
  margin-bottom: 2rem;
}

.checkkeys {
  display: flex;
  font-size: 13px;
  font-weight: 500;
  margin-left: -5px;
  width: 150%;
}

.checkkeys input {
  margin-top: 2px;
  margin-left: 5px;
}

.keys {
  margin-left: -11px;
}

.ask {
  display: flex;
  margin-top: 12px;
  width: 150%;
}

.ask p {
  font-size: 13px;
  font-weight: 500;
  margin-left: -7px;
}

.ask input {
  display: flex;
  margin-top: .5em;
}

.survey {
  display: flex;
  width: 150%;
  margin-top: 10px;
}

.survey input {
  display: flex;
  margin-top: 2px;
}

.sendme {
  font-size: 13px;
  font-weight: 500;
}

.surveyin {
  display: flex;
  flex-direction: column;
  margin-left: -7px;
}

.working {
  font-size: 13px;
  font-weight: 500;
  color: #616061;
  margin-top: 10px;
  margin-left: 3px;
}

.warn {
  display: flex;
  margin-top: 10px;
  margin-bottom: 40px;
}

.warn p {
  font-size: 13px;
  font-weight: 500;
  margin-left: -7px;
}

.warn input {
  display: flex;
  margin-top: .5em;
}

.options {
  margin-left: 3rem;
  color: #3a3a3a;
}

.options span {
  color: #aeaeae;
}

.line {
  border: 1px solid #F6F6F6;
  margin-top: 20px;
  margin-left: 48px;
  width: 130%;
  margin-bottom: -25px;
}

.up {
  margin-top: -8px;
  font-size: 13px;
  margin-left: -12px;
  font-weight: 500;
}

.over {
  margin-top: 6px;
  font-size: 13px;
  margin-left: -1px;
  color: #616061;
}

.check {
  margin-top: -5px;
}

.quick {
  font-size: 13px;
  margin-left: -11px;
  font-weight: 500;
}

.ride {
  margin-top: 6px;
  font-size: 13px;
  color: #616061;
}

.exclude h5 {
  margin-top: 6px;
  font-size: 15px;
  font-weight: bolder;
}

/***** Mobile screen */


@media (max-width: 500px) {
  .container{
    width: 100%;
    padding-top: 1em;
  }
  .head{
    margin-top: 5px;
  }

  .input,.search, .options{
    width: 93%;
    margin: 0 auto;
    margin-bottom: 1rem;

  }

  .search{
    margin-bottom:2rem;
  }

  .bar{
    width: 90%;
    margin: 0 auto
  }

  .bartype{
    width: 90%;
    height: 30px;
    padding: 1em;
    font-size: 14px;
  }

  .options{
    width: 93%;

  }

  .ask,.survey, .warn, .checkkeys{
    width: 100%;
    margin: 12px auto 0 auto;
  }

  .checkkeyss{
    width: 95%;
    margin: 0 auto;
  }

  .checkkeys input {
    margin-left: 0;
  }


  .line{
    width: 90%;
    margin: 0 auto;
  }

  .format2 h3,.format h3{
    line-height: 42px;
  }
}