.container {
  width: 400%;
  font-family: 'Lato';
}

.head {
  font-family: 'Lato';
  font-weight: bolder;
  display: flex;
  margin: 1rem 0;
  color: #000;
}

.borderbottomone {
  margin-left: 20px;
  margin-right: 20px;
  width: 30%;
  height: 0.5rem;
  border-bottom: 1px solid #000;
}

.borderbottomtwo {
  margin-left: 20px;
  width: 30%;
  height: 0.5rem;
  border-bottom: 1px solid #000;
}

.checktype {
  display: flex;
  margin-bottom: 0.4rem;
}

.checktype input {
  margin-top: 0.8rem;
}

.typingticket {
  display: flex;
  margin-top: 0.5rem;
}

.checkformat {
  display: flex;
  margin-top: 1rem;
}

.checkformat input {
  margin-top: 0.8rem;
}

.format span {
  display: flex;
  font-weight: bolder;
}

.headpress {
  font-family: 'Lato';
  font-weight: bolder;
  display: flex;
  margin: 1rem 0;
  color: #000;
  font-size: 20px;
  margin-top: 1rem;
}

.radiosend {
  display: flex;
}

.radiosend input {
  margin-top: 0.8rem;
}

.radiostart {
  display: flex;
}

.radiostart input {
  margin-top: 0.8rem;
}

.radiosend .send {
  margin-left: 1rem;
}

.radiostart .start {
  margin-left: 1rem;
}

/* input {
    margin-top: .5rem;
} */

.typing span {
  font-weight: bold;
  color: #3a3a3a;
}

.behaviour span {
  color: #3a3a3a;
}

.browser span {
  color: #3a3a3a;
}

.btn {
  background: #dbdbdb;
  border: none;
  border-radius: 3px;
  padding: 1px 4px;
  margin: 2px;
  color: #3a3a3a;
}

.input {
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.bartype {
  border: 0.5px solid #aeaeae;
  padding-left: 1.5rem;
  padding-right: 22rem;
  height: 4rem;
}

.search {
  margin-left: 3rem;
  margin-bottom: 2rem;
}

.checkkeys {
  display: flex;
  font-size: 15px;
}

.checkkeys input {
  margin-top: 0.4rem;
}

.ask {
  display: flex;
}

.survey {
  display: flex;
}

.warn {
  display: flex;
}

.options {
  margin-left: 3rem;
  color: #3a3a3a;
}

.options span {
  color: #aeaeae;
}
