.inputsContainer {
  width: 100%;
  font-family: 'Lato';
  padding-bottom: 3rem;
}

.spacingLeft {
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.head {
  font-family: 'Lato';
  font-weight: 700;
  margin: 1rem 0;
  color: var(--text-color-gray-1);
  font-size: 1rem;
}

.checkInputGroup, .checkInputGroup2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.checkInputGroup2 {
  margin-bottom: .8rem;
}

.chekedInput {
  width: .875rem;
  height: .875rem;
  background: var(--bg-color);
  border: 1px solid #999;
  border-radius: 2px;
  margin-right: .438rem ;
  accent-color: #00B87C;
  outline: none;
}

.inputText, .inputText2 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: .3rem;
}

.inputText2 {
  margin-top: 0;
}

.inputParagraph, .inputParagraph60, .inputParagraph40{
  font-size: .8125rem;
  font-weight: 400;
  color: var( --text-color-gray);
  line-height: 0;
  padding: 0;
  margin: 0;
  margin-bottom: .8rem;
}

.inputParagraph60, .inputParagraph40 {
  color: var( --text-color-normal);
  margin-left: 4px;
}

.inputParagraph40 {
  margin-top: .6rem;
}

.highlights {
  color: rgba(0, 184, 124, 0.5);
  border: 1px solid rgba(0, 184, 124, 0.5);
  padding: 2px .5rem;
  border-radius: 3px;
  margin: 0 4px;
}

.radioInputContainer {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.radioInput {
  width: .75rem;
  height: .75rem;
  accent-color: #00B87C;
  outline: none;
}

.radioInfo {
  flex-grow: 1;
  font-size: .8125rem;
  color: var( --text-color-gray); 
  margin-left: .625rem;
}

.multiSelect {
  accent-color: #00B87C;
  width: 100%;
  height: 3.5rem;
}

.line {
  border: 1px solid #F6F6F6;
  margin-top: 1.4rem;
  margin-left: 3rem;
  width: 130%;
  margin-bottom: .75rem;
}

@media (max-width: 768px) {
  .spacingLeft {
    margin-left: 0;
    margin: 0 1rem;
    margin-bottom: 1.5rem;
  }

  .inputParagraph, .inputParagraph60, .inputParagraph40 {
    line-height: 1.5;
    margin-top: -.6rem;
  }
  .chekedInput {
    width: 20px;
    height: .875rem;
    background: var(--bg-color);
    border: 1px solid #999;
    border-radius: 2px;
    margin-right: .438rem;
    accent-color: #00B87C;
    outline: none;
  }
}
