.Header {
    height: 6vh;
    background-color: #00b87c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5em;
}

.header_p {
    color: white;
    font-weight: bold;
    font-size: 1.125em;
    width: auto;
    padding-right: 8px;
    line-height: 1.2em;
}

.resultCard {
    padding: .5em
}

.total {
    font-weight: bold;
    font-size: 1em;
    padding-top: .5em;
}

.noResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.no_result_title {
    font-size: 15px;
    color: #3F0E40;
    line-height: 1.46668;
    font-weight: 400;
    font-weight: 900;
}

.no_result_desc {
    margin: .8em 0;
    font-size: 1.05em;
    line-height: 1.46668;
    font-weight: 400;
    word-break: break-word;
    overflow-wrap: break-word;
}

.startNewSearch {
    padding: .5em 1em;
    background-color: white;
    border: 1px solid lightgreen;
    border-radius: .2em;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
}