.container {
  width: 250%;
  margin: 65px 55px 20px;
}

.subhead {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
}

.option,
.markAll,
.shortcut,
.shortcutP {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
}

.option {
  margin-bottom: 10px;
  margin-left: 8px;
}

/* .markAll {
  margin-bottom: 20px;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.markAll .prompt {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #eee;
}
.markAll .prompt:checked ~ .checkmark {
  background-color: #00b87c;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.markAll .prompt:checked ~ .checkmark:after {
  display: block;
}
.markAll .checkmark:after {
left: 5px;
  top: 3px;
  width: 6px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */

.shortcut {
  margin-left: 23px;
  margin-bottom: 15px;
  list-style-type: disc;
}

.shortcutP {
  margin-top: 20px;
}

.esc {
  background-color: #f9f9f9;
  border: 1px;
  border-radius: 3px;
  box-shadow: 1px 2px;
  padding: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin: 3px;
}
