.msgCon {
  margin-top: 54px;
  margin-left: 50px;
  width: 165%;
}

.title {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
  color: #242424;
}

.clean {
  display: flex;
  margin-top: 8px;
}

.cln {
  margin-left: 10px;
  font-size: 13px;
  color: #3a3a3a;
  font-style: normal;
  line-height: 14px;
}

.compt {
  margin-left: 10px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 15px;
  color: #3a3a3a;
}

.radio {
  margin-top: -5px;
}

.radio2 {
  margin-top: -5px;
}

.compact {
  display: flex;
  margin-top: 3px;
}

.text {
  font-size: 13px;
  line-height: 15px;
  font-style: normal;
  font-weight: normal;
  margin-top: 6px;
  color: #3a3a3a;
}

.theme11 {
  width: 90%;
  margin-top: 15px;
}

.bottom {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.5);
  width: 90%;
}

.name {
  font-weight: bold;
  font-size: 15px;
  font-style: normal;
  line-height: 20px;
  color: #242424;
}

.full {
  display: flex;
  margin-top: 8px;
}

.display {
  margin-left: 10px;
  font-size: 13px;
  color: #3a3a3a;
  font-weight: normal;
  line-height: 20px;
  font-style: normal;
}

.jst {
  margin-left: 10px;
  font-size: 13px;
  color: #3a3a3a;
  font-weight: normal;
  line-height: 20px;
  font-style: normal;
}

.radio3 {
  margin-top: -2px;
}

.radio4 {
  margin-top: -2px;
}

.just {
  display: flex;
  margin-top: 3px;
}

.theme12 {
  width: 90%;
  margin-top: 15px;
}

.change {
  margin-top: 10px;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  color: #999999;
}

.change p {
  color: #00b87c;
  margin-top: -20px;
  margin-left: 248px;
  font-weight: normal;
  font-size: 13px;
}

.bottom2 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.5);
  width: 90%;
}

.info {
  display: flex;
  margin-top: 15px;
}

.current {
  margin-left: -10px;
  font-size: 13px;
  color: #999999;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}

.time {
  display: flex;
  margin-top: 15px;
}

.hour {
  margin-left: -10px;
  font-size: 13px;
  color: #999999;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}

.hexa {
  display: flex;
  margin-top: 15px;
}

.color {
  margin-left: -10px;
  font-size: 13px;
  color: #999999;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}

.add {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  font-style: normal;
  color: #333333;
}

.checkbox {
  margin-top: -2px;
}

.checkbox2 {
  margin-top: -2px;
}

.checkbox3 {
  margin-top: -2px;
}

.bottom3 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.5);
  width: 90%;
}

.emoji {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
  color: #333333;
}

.tone {
  margin-top: 10px;
  font-size: 13px;
  color: #999999;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}

.choose {
  margin-top: 10px;
  font-size: 13px;
  color: #999999;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}

.hands {
  display: flex;
  margin-top: 10px;
}

.theme13 {
  width: 6.5%;
  height: 6vh;
  cursor: pointer;
}

.theme14 {
  width: 6.5%;
  height: 6vh;
  margin-left: 19px;
  cursor: pointer;
}

.theme15 {
  width: 6.5%;
  height: 6vh;
  margin-left: 19px;
  cursor: pointer;
}

.theme16 {
  width: 6.5%;
  height: 6vh;
  margin-left: 19px;
  cursor: pointer;
}

.theme17 {
  width: 6.5%;
  height: 6vh;
  margin-left: 19px;
  cursor: pointer;
}

.theme18 {
  width: 6.5%;
  height: 6vh;
  margin-left: 19px;
  cursor: pointer;
}

.plntxt {
  display: flex;
  margin-top: 15px;
}

.plain {
  margin-left: -10px;
  font-size: 13px;
  color: #999999;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}

.jumb {
  display: flex;
  margin-top: 10px;
}

.jumbomoji {
  margin-left: -10px;
  font-size: 13px;
  color: #999999;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}

.checkbox4 {
  margin-top: -2px;
}

.checkbox5 {
  margin-top: -2px;
}

.versions {
  margin-top: 10px;
  font-size: 13px;
  color: #999999;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}

.example {
  margin-top: 10px;
  font-size: 13px;
  color: #999999;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}

.theme19 {
  width: 90%;
  margin-top: 15px;
}

.bottom4 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.5);
  width: 90%;
}

.media {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
  color: #333333;
}

.images {
  display: flex;
  margin-top: 10px;
}

.files {
  margin-left: -10px;
  font-size: 13px;
  color: #999999;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}

.websites {
  display: flex;
  margin-top: 10px;
}

.linked {
  margin-left: -10px;
  font-size: 13px;
  color: #999999;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}

.checkbox6 {
  margin-top: -2px;
}

.checkbox7 {
  margin-top: -2px;
}

.larger {
  display: flex;
  margin-top: 10px;
}

.than {
  margin-left: -10px;
  font-size: 13px;
  color: #999999;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}

.checkbox8 {
  margin-top: -2px;
}

.previews {
  display: flex;
  margin-top: 10px;
}

.of {
  margin-left: -10px;
  font-size: 13px;
  color: #999999;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}

.checkbox9 {
  margin-top: -2px;
}

.bottom5 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.5);
  width: 90%;
}

.emails {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
  color: #333333;
}

.upload {
  margin-top: 10px;
  font-size: 13px;
  color: #999999;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}

.button {
  border-radius: 6px;
  background-color: white;
  color: #999999;
  border: 1px solid rgb(54, 54, 54);
  margin-top: 24px;
  margin-bottom: 30px;
  cursor: pointer;
}

.forward {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}
