.body {
  display: flex;
  width: 100px;
  flex-direction: row;
}

.body::-webkit-scrollbar {
  display: none;
}

/* THE SECTION OF THE SIDEBAR */

/* THE SECTION OF THE CONTENT */
.notifyContent {
  width: 75%;
  padding: 0 20px;
  padding-bottom: 70px;
  display: block;
  margin-top: 36px;
}

.itemTitle1 {
  width: 630px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}
.titleLarge {
  font-family: Lato;
  font-style: normal;
  font-size: 16px;
  font-weight: 900;
  color: #333333;
  margin-left: 40px;
  line-height: 20px;
}
.titleSmall {
  font-family: Lato;
  font-style: normal;
  font-size: 12px;
  font-weight: 900;
  color: #333333;
  margin-left: 40px;
  line-height: 20px;
}
.itemTitle1 span {
  color: #00b87c;
  font-size: 13px;
  font-size: 15px;
  font-weight: normal;
  font-family: Lato;
}

.radio {
  padding: 16px;
  font-size: 13px;
  color: #999999;
  display: flex;
  flex-direction: row;
  font-family: Lato;
  margin-top: -10px;
}
.radio label {
  margin-left: 19px;
  justify-content: center;
  font-family: Lato;
  font-weight: 500;
  font-size: 12px;
  color: #999999;
}

input[type='checkbox'] {
  margin-right: 19px;
}

.checkbox {
  padding: 10px;
  font-size: 13px;
  color: #3a3a3a;
  font-family: Lato;
  margin-top: -10px;
}
.checkbox label {
  padding: 10px 5px 3px;
  justify-content: center;
  align-items: center;
  align-self: center;
  display: block;
  font-weight: 500;
  font-size: 12px;
  color: #999999;
  overflow-wrap: break-word;
}
.line {
  width: 600px;
  height: 16px;
  border-bottom: 1px solid #c4c4c4;
  position: relative;
  margin: 0 auto;
  margin-left: 30px;
}
.itemTitle2 {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  font-family: Lato;
  margin-top: -10px;
}
.itemTitle2 span {
  color: #999999;
  font-size: 11px;
  margin-left: 40px;
  margin-bottom: 0px;
  margin-top: -10px;
}
.itemTitle2 .spanSmall {
  color: #00b87c;
}
.textarea {
  border-color: 1px #e5e5e5;
  outline: none;
  resize: none;
  margin-top: 10px;
  overflow: hidden;
  height: 98px;
  width: 520px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 97%;
  margin-left: 40px;
  justify-content: space-evenly;
}

.selectButton {
  width: 115px;
  height: 35px;
  border-radius: 5px;
  border-color: 2px #e5e5e5;
  font-size: 12px;
  font-family: lato;
  font-weight: normal;
  border: 1px solid #e0e0e0;
  color: #999999;
}

.listChild p {
  color: #999999;
  text-align: center;
  align-self: center;
  font-size: 12px;
  font-family: Lato;
  font-weight: 900;
  font-style: normal;
  margin-top: 7px;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}
.inputContainer label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 9px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #3a3a3a;
  font-size: 13px;
  line-height: 1;
  left: 16px;
}

.inputContainer:focus-within label {
  transform: translate(0, 5px) scale(0.8);
  color: #3a3a3a;
}

.textInput {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 5px;
  width: 173px;
  height: 39px;
  outline: none;
  z-index: 0;
}

/* ======================================= */
/* Michael's sound check stylings */

.button {
  margin-top: 10px;
  background: whitesmoke;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px 5px 3px;
  margin-bottom: 10px;
  color: #999999;
  border: 1px solid #e5e5e5;
  outline: none;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  width: 117px;
  height: 30px;
  text-align: center;
  margin-left: 40px;
  line-height: 21px;
}

.msg2 {
  margin-left: 10px;
  font-size: 1rem;
  color: rgb(85, 84, 84);
}

.msg3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #999999;
}

.mute {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: -30px;
}

.picksound {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 40px;
  color: rgb(85, 84, 84);
}

.share {
  display: flex;
  justify-content: space-between;
  width: 488px;
  margin-top: 5px;
  flex-direction: column;
}

.lounge {
  /* display:flex; */
  color: rgb(85, 84, 84);
}

.dropdown {
  margin-top: 5px;
}

.dropdown2 {
  margin-top: 5px;
}

.dropdown .button2 {
  padding-right: 90px;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 180px;
  height: 35px;
  cursor: pointer;
  font-size: 12px;
  border: 1px solid rgb(218, 215, 215);
  border-radius: 4px;
  color: #999999;
  outline: none;
}

.section2 {
  margin-top: 0px;
}

.deliver {
  margin-top: 10px;
}

.when {
  font-size: 1rem;
  color: #999999;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 20px;
  margin-left: 40px;
}

.dropdown3 {
  margin-top: 5px;
  margin-left: 40px;
}

.button4 {
  padding-right: 100px;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  border: 1px solid rgb(218, 215, 215);
  border-radius: 4px;
  font-size: 1rem;
  color: #999999;
  outline: none;
  width: 385px;
  height: 35px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

/* ----------------------------- */
.section3 {
  margin-top: 30px;
}

.mobile {
  margin-top: 25px;
  color: rgb(85, 84, 84);
}

.checkbox3 {
  margin-top: 2px;
}

/* -------------------------------------- */
@media screen and (max-width: 768px) {
  .notify {
    margin-left: 255px;
    position: relative;
    width: 85%;
    height: 220vh;
    align-items: left;
    left: 40%;
  }

  .notifywrapper {
    margin-left: 10px;
  }

  .picksound {
    flex-direction: column;
  }

  .lounge {
    margin-left: 0px;
    margin-top: 10px;
  }

  .section2 {
    margin-left: 2px;
  }

  .head {
    width: 109%;
  }

  .head2 {
    margin-top: -90px;
    width: 55%;
  }

  .section3 {
    padding: 16px;
    margin-left: 2px;
    margin-top: 114px;
  }

  .head3 {
    margin-top: -90px;
    width: 55%;
  }

  .button5 {
    padding-right: 70px;
  }

  .email {
    width: 90%;
  }
  .notifySidebar {
    display: none;
  }
}

@media screen and (max-width: 768px) and (min-width: 424px) {
  .notify {
    margin-left: 243px;
  }
}

/* Tuasegun's media query */
@media (max-width: 450px) {
  .itemTitle1 {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
  }
  .line {
    width: 350px;
    height: 16px;
    border-bottom: 1px solid #c4c4c4;
    position: relative;
    margin: 0 auto;
    margin-left: 30px;
  }
  .textarea {
    border-color: 1px #e5e5e5;
    outline: none;
    resize: none;
    margin-top: 10px;
    overflow: hidden;
    height: 98px;
    width: 350px;
  }
  .list {
    display: flex;
    flex-direction: column;
  }
  .listChild {
    margin-top: 10px;
  }
}
