.notifySidebar {
  width: 200px;
  background: #f9f9f9;
  height: 100%;
  position: relative;
  float: left;
}
.itemsContainer {
  margin-top: 15px;
}
.one,
.active {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  padding: 3px;
  margin-bottom: 22px;
  cursor: pointer;
}
.one:first-child {
  padding-top: 15px;
}
.icon {
  margin-right: 15px;
}
.active p {
  color: #00b87c;
  font-size: 15px;
}

.one,
.active {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  align-items: left;
  margin-left: 20px;
  padding: 2px;
  margin-bottom: 22px;
  cursor: pointer;
}
.one:first-child {
  padding-top: 10px;
}
.icon {
  margin-right: 10px;
}
.active p,
.icon {
  color: #00b87c;
}

.one p {
  color: #999999;
  font-size: 15px;
}

.one .icon {
  color: #999999;
}

@media screen and (max-width: 768px) {
  .notifySidebar {
    display: none;
  }
}
