.suggestionsList {
  list-style: none;
  padding: 0;
  border-radius: 4px;
  position: absolute;
  width: 59%;
}
.suggestion {
  background-color: #fff;
  padding: 10px;
  color: #1d1d1d;
  cursor: pointer;
  font-size: 13px;
  line-height: 15.6px;
  width: auto;
}

.suggestion:hover {
  color: rgba(0, 184, 124, 1);
}
.selected {
  background-color: rgba(0, 184, 124, 1);
}
