.suggestionsList {
  list-style: none;
  padding: 0;
  max-width: auto;
}
.suggestion {
  background-color: #fff;
  padding: 10px;
  color: #000;
  cursor: pointer;
  font-size: 13px;
  line-height: 15.6px;
  border-radius: 4px;
}

.suggestion:hover {
  background-color: rgba(0, 184, 124, 0.902);
}
.selected {
  background-color: rgba(0, 184, 124, 1);
}
