statusBadge {
  margin-right: -1em;
  margin-top: 2px;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  border: 0;
  padding-left: 5px;
  padding-bottom: 10px;
  background: none;
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .statusBadge {
    margin-right: -1em;
    margin-top: -8.5px;
    cursor: pointer;
    outline: none;
    font-size: 17px;
    border: 0;
    padding-left: 5px;
    padding-bottom: 10px;
    background: none;
    transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
