:root {
  --bg-color: #fff;
  --width: 100%;
  --height: 100%;
  --text-color: #000;
}

[data-theme='dark'] {
  --bg-color: #3f3f3f;
  --text-color: #fff;
}

[data-theme='light'] {
  --bg-color: #fff;
  --text-color: #3f3f3f;
}

.themeCont {
  margin-top: 54px;
  margin-left: 50px;
  width: 15%;
  font-family: sans-serif;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  width: var(--width);
  height: var(--height);
}

.sync {
  display: flex;
  margin-top: 15px;
}

.checkbox {
  margin-top: -11px;
  margin-left: 7px;
}

.os {
  font-weight: 750;
  font-size: 14px;
  font-style: normal;
  position: relative;
  margin-left: -7px;
  line-height: 20px;
  color: #999999;
}

.them {
  color: #999999;
  font-size: 15px;
  font-weight: bold;
  margin-left: -466px;
  margin-top: 30px;
}

.them {
  color: #242424;
  font-size: 15px;
  font-weight: bold;
  margin-left: -431px;
}

.text {
  font-size: 14px;
  margin-top: 8px;
  margin-left: -143px;
  margin-left: -108px;
  font-weight: 500;
  color: #999999;
  position: relative;
}

.direct {
  display: flex;
  margin-top: 8px;
}

.radio {
  margin-top: -11px;
  margin-left: 7px;
}

.mention {
  font-size: 14px;
  color: #999999;
  font-weight: 500;
  margin-left: -7px;
  line-height: 20px;
  font-style: normal;
  position: relative;
}

.text2 {
  margin-left: -54px;
  margin-left: -19px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #999999;
  font-style: normal;
  position: relative;
  margin-top: 10px;
}

.theme1 {
  width: 90%;
  margin-top: 25px;
  margin-left: 32px;
}

.theme2 {
  width: 90%;
  margin-top: 25px;
  margin-left: 32px;
}

.customize {
  border-top: 1px solid rgba(153, 153, 153, 0.5);
  margin-top: 15px;
  margin-left: 6px;
  width: 90%;
  width: 115%;
}

.text3 {
  margin-top: 28px;
  margin-left: -430px;
  margin-left: -515px;
  font-weight: 750;
  font-size: 14px;
  line-height: 20px;
  color: #999999;
}

.custom {
  font-size: 14px;
  color: #999999;
  margin-top: 12px;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
  margin-left: -190px;
  margin-left: -275px;
}

.custom2 {
  font-size: 14px;
  color: #999999;
  margin-top: -1px;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
  margin-left: -390px;
  margin-left: -473px;
}

.create {
  font-size: 14px;
  color: #00b87c;
  font-weight: 600;
  margin-top: 12px;
  line-height: 20px;
  font-style: normal;
  margin-left: -328px;
  margin-left: -410px;
}

.true {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
  color: #999999;
  margin-top: 5px;
  margin-left: -385px;
  margin-left: -468px;
}

.set1 {
  display: flex;
  margin-top: 15px;
}

.theme3 {
  width: 91%;
  height: 21vh;
  margin-left: 12px;
}

.theme4 {
  width: 85%;
  height: 21vh;
  margin-left: 22px;
}

.all {
  display: flex;
  margin-top: 13px;
  margin-left: 10px;
  margin-left: 4px;
}

.show {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
  color: #999999;
}

.arrow {
  margin-top: -13px;
}

.clean {
  margin-top: 20px;
  margin-left: 32px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
  color: #999999;
  margin-left: -400px;
}

.set2 {
  display: flex;
  margin-left: 12px;
  margin-left: 2px;
  margin-top: 15px;
}

.theme5 {
  width: 99%;
  height: 21vh;
}

.theme6 {
  width: 84%;
  height: 21vh;
  margin-left: 27px;
}

.set3 {
  display: flex;
  margin-left: 12px;
  margin-left: 2px;
  margin-top: 20px;
}

.theme7 {
  width: 100%;
  height: 21vh;
}

.theme8 {
  width: 85%;
  height: 21vh;
  margin-left: 27px;
}

.set4 {
  border-bottom: 1px solid rgba(153, 153, 153, 0.5);
  margin-left: 12px;
  width: 90%;
  margin-left: 2px;
  width: 115%;
}

.bottom {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.theme9 {
  width: 100%;
  height: 21vh;
}

.theme10 {
  width: 86%;
  height: 21vh;
  margin-left: 27px;
}

.theme16 {
  width: 6%;
}

.img {
  border: 1px solid #00b87c;
  height: 125px;
  width: 480px;
  margin-top: 23px;
  margin-left: 5px;
  border-radius: 4px;
}

.upper {
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
  color: white;
}

.lower {
  display: flex;
}

.bot {
  font-size: 12px;
  font-weight: bold;
  margin-left: 15px;
  width: 40px;
  height: 20px;
}

.time {
  font-size: 10px;
  color: #999999;
  margin-top: 4px;
  margin-left: 10px;
  height: 15px;
  width: 35px;
}

.nice {
  font-size: 12px;
  color: #999999;
  margin-top: -5px;
  margin-left: 64.1px;
  height: 20px;
  width: 87px;
}

.up {
  height: 58px;
}

.low {
  background: rgba(0, 184, 124, 0.2);
  height: 50px;
}

.lower {
  margin-left: 21.5px;
}

.radio6 {
  margin-top: 8px;
}

.light {
  margin-top: 18px;
  margin-left: 25px;
  font-size: 12px;
  font-weight: bold;
  color: #333333;
}

.theme17 {
  width: 6%;
  margin-top: 15px;
}

.img2 {
  border: 1px solid #00b87c;
  height: 125px;
  width: 480px;
  margin-top: 23px;
  margin-left: 5px;
  border-radius: 4px;
}

.upper2 {
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
}

.lower2 {
  display: flex;
}

.bot2 {
  font-size: 12px;
  margin-top: 15px;
  font-weight: bold;
  color: white;
  margin-left: 15px;
  width: 40px;
  height: 20px;
}

.time2 {
  font-size: 10px;
  margin-top: 19px;
  color: white;
  margin-left: 10px;
  height: 15px;
  width: 35px;
}

.nice2 {
  font-size: 12px;
  color: white;
  margin-top: -5px;
  margin-left: 64.1px;
  height: 20px;
  width: 87px;
}

.up2 {
  height: 68px;
  background: #333333;
  margin-top: -15px;
}

.low2 {
  height: 3px;
}

.lower2 {
  margin-left: 21.5px;
}

.radio7 {
  margin-top: 8px;
}

.light2 {
  margin-top: 18px;
  margin-left: 25px;
  font-size: 12px;
  font-weight: bold;
  color: #333333;
}

.theme16 {
  width: 6%;
}

.img {
  border: 1px solid #00b87c;
  height: 125px;
  width: 556px;
  margin-top: 23px;
  border-radius: 4px;
}

.upper {
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
}

.lower {
  display: flex;
}

.bot {
  font-size: 12px;
  font-weight: bold;
  margin-left: 15px;
  width: 40px;
  height: 20px;
}

.time {
  font-size: 10px;
  color: #999999;
  margin-top: 4px;
  margin-left: 10px;
  height: 15px;
  width: 35px;
}

.nice {
  font-size: 12px;
  color: #999999;
  margin-top: -5px;
  margin-left: 64.1px;
  height: 20px;
  width: 87px;
}

.up {
  height: 58px;
}

.low {
  background: rgba(0, 184, 124, 0.2);
  height: 50px;
}

.lower {
  margin-left: 21.5px;
}

.radio6 {
  margin-top: 8px;
}

.light {
  margin-top: 18px;
  margin-left: 25px;
  font-size: 12px;
  font-weight: bold;
  color: #333333;
}

.theme17 {
  width: 6%;
  margin-top: 15px;
}

.img2 {
  border: 1px solid #00b87c;
  height: 125px;
  width: 556px;
  margin-top: 23px;
  border-radius: 4px;
}

.upper2 {
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
}

.lower2 {
  display: flex;
}

.bot2 {
  font-size: 12px;
  margin-top: 15px;
  font-weight: bold;
  color: white;
  margin-left: 15px;
  width: 40px;
  height: 20px;
}

.time2 {
  font-size: 10px;
  margin-top: 19px;
  color: white;
  margin-left: 10px;
  height: 15px;
  width: 35px;
}

.nice2 {
  font-size: 12px;
  color: white;
  margin-top: -5px;
  margin-left: 64.1px;
  height: 20px;
  width: 87px;
}

.up2 {
  height: 68px;
  background: #333333;
  margin-top: -15px;
}

.low2 {
  height: 3px;
}

.lower2 {
  margin-left: 21.5px;
}

.radio7 {
  margin-top: 8px;
}

.light2 {
  margin-top: 18px;
  margin-left: 25px;
  font-size: 12px;
  font-weight: bold;
  color: #333333;
}
