.topBarSearchModal {
  position: relative;
  border: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background: white;
    color: white;
    padding: .5em;
    width: 59%;
    /* min-height: 15em; */
  /* border-radius: 0.4em;
    box-shadow: 0 0 0 1px white, 0 4px 12px 0 rgb(0 0 0 / 17%); */
}

.topBarSearchModal:focus-within > div.MainBox {
  display: block;
  width: 100%;
}

._input2 {
  flex: 1;
  padding: 2px;
}

.topBarSearchModal:focus-within > ._input > ._input2 {
  outline: none;
  border: none;
}

.close_icon {
  width: 1.2em;
  /* height: 1em; */
}

.input_box {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid lightgrey;
  padding-bottom: 10px;
}

.grow {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

._input {
  display: flex;
  border: 1px solid rgb(161, 161, 161);
  font-weight: 400;
  outline: none;
  margin: 0;
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  border-radius: 3px;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  gap: 5px;
  align-items: center;
  justify-content: start;
}

.MainBox {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  /* background: red; */
  background: white;
  color: white;
  padding: 0.5em;
  width: 59%;
  /* min-height: 15em; */
  border-radius: 0.3em;
  z-index: 2001;
  box-shadow: 0 0 0 1px white, 0 4px 12px 0 rgb(0 0 0 / 17%);
  min-height: 15em;
}

._MainInput {
  display: block;
  width: 100%;
  color: black;
  outline: none;
  padding: 0.3em 0.5em;
}

.List {
  color: #000;
  padding: 0.5rem 0 0.5rem 0.2rem;
  cursor: pointer;
}

.List:hover {
  background-color: #00b87c;
  color: #fff;
}

.ListWrapper {
  overflow: auto;
  max-height: 20em;
}
