.topBarSearchModal {
    position: relative;
    /* background: white;
    color: white;
    padding: .5em;
    width: 59%;
    /* min-height: 15em; */
    /* border-radius: 0.4em;
    box-shadow: 0 0 0 1px white, 0 4px 12px 0 rgb(0 0 0 / 17%); */
}

.topBarSearchModal:focus-within>div.MainBox {
    display: block;
    width: 100%;
}

.close_icon {
    width: 1.2em;
    /* height: 1em; */
}

.input_box {
    display: flex;
    justify-between: space-between;
    align-items: center;
    border-bottom: 0.5px solid lightgrey;
    padding-bottom: 10px;
}

.grow {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

._input {
    border: 1px solid rgb(161, 161, 161);
    padding: 0.2rem 1rem;
    font-weight: 400;
    outline: none;
    margin: 0px;
    font-family: inherit;
    font-size: 1rem;
    line-height: inherit;
    border-radius: 3px;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
}

.MainBox {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    /* background: red; */
    background: white;
    color: white;
    padding: .5em;
    width: 59%;
    /* min-height: 15em; */
    border-radius: 0.3em;
    z-index: 2001;
    box-shadow: 0 0 0 1px white, 0 4px 12px 0 rgb(0 0 0 / 17%);
    min-height: 15em;
}

._MainInput {
    dislay: block;
    width: 100%;
    color: black;
    outline: none;
    padding: .3em .5em;
}

.List {
    color: #000;
    padding: 0.5rem 0 0.5rem 0.2rem;
    cursor: pointer;
}

.List:hover {
    background-color: #00b87c;
    color: #fff;
}

.ListWrapper {
    overflow: auto;
    max-height: 20em;
}