.user_preference_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.label_text_header {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
}

.label_subtext {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

.label_radio_button {
  border-radius: 2px;
  margin-right: 10px;
}

.label_select_dropdown {
  border: 1px solid #DDE5E9;
box-sizing: border-box;
border-radius: 4px;
}

.label_checkbox_button {
  margin-right: 10px;
}

.hrLine {
  border: 1px solid #f6f6f6;
  margin-top: 12px;
  margin-bottom: 12px;
  height: 0.5px;
}

.spacingRight {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .modalContent {
    max-width: 100%;
  }
  .spacingRight {
    margin: 0;
  }
  .labelContainer {
    margin-bottom: 20px;
  }
}
