@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.container {
  font-family: 'Lato', sans-serif;
}
.nav {
  height: 60px;
  display: flex;
  align-items: center;
}

.content {
  width: 310px;
  margin: 50px auto;
}
.content h2 {
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #242424;
}
.content p {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #242424;
}
.greeting {
  font-size: 15px;
  line-height: 22px;
  color: #242424;
  text-align: center;
  margin-top: 8px;
}
.login {
  color: #2f80ed;
}
