.signout_wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 0.94rem;
  --type-scale: 0.8;
  color: #242424;
}

.signout_wrapper article {
  padding: 1rem 0;
}

.session_content {
  padding: 2rem 0.75rem;
  border: 1px solid #bebebe;
  border-radius: 0.19rem;
}

.signout_header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.signout_header img {
  margin-right: 0.5rem;
}

.signout_wrapper header h3 {
  font-size: calc(1.562rem * var(--type-scale, 1));
  line-height: calc(1.94rem * var(--type-scale, 1));
  font-weight: 700;
}

.signout_content {
  padding-bottom: 2.5rem;
}

.signout_wrapper section h4 {
  font-size: calc(1.31rem * var(--type-scale, 1));
  line-height: calc(1.94rem * var(--type-scale, 1));
  font-weight: 700;
}

.signout_wrapper section p {
  font-size: calc(1.31rem * var(--type-scale, 1));
  line-height: calc(1.575rem * var(--type-scale, 1));
  font-weight: 400;
}

.line {
  height: 0.05rem;
  width: 95%;
  margin: 0 auto;
  background-color: #999999;
}

.dot {
  width: 0.25rem;
  height: 0.25rem;
  background-color: #000;
  border-radius: 50%;
  margin-right: 0.8rem;
}

li.action_item {
  display: flex;
  align-items: baseline;
  padding: 0.4rem 0;
}

.signout_form {
  padding: 1rem 0;
}

.signout_form .form_group {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signout_form input {
  padding: 0.625rem;
  border-radius: 0.19rem;
  border: 1px solid #bebebe;
  width: 100%;
  margin-bottom: 1rem;
}

.submit_btn {
  width: 100%;
  padding: 0.65rem 3rem;
  border: 1px solid #ed2222;
  border-radius: 0.19rem;
  background-color: #ed2222;
  color: #fff;
  font-size: calc(1.31rem * var(--type-scale, 1));
  line-height: calc(1.575rem * var(--type-scale, 1));
  font-weight: bold;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
}

@media only screen and (min-width: 600px) {
  .signout_form .form_group {
    flex-direction: row;
  }

  .signout_form input {
    width: 25%;
    margin: 0;
    margin-right: 2rem;
  }

  .signout_form button {
    width: auto;
  }
}

@media only screen and (min-width: 768px) {
  .session_content {
    padding: 2rem;
  }

  .dot {
    width: 0.35rem;
    height: 0.35rem;
  }

  .signout_form input,
  .signout_form button {
    flex: none;
  }
}

@media only screen and (min-width: 985px) {
  li.action_item {
    align-items: center;
  }

  .dot {
    width: 0.5rem;
    height: 0.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .signout_wrapper {
    max-width: 71.5%;
    --type-scale: 1;
  }
}
