.containers {
  width: 100%;
  position: fixed;
  height: 5.0625em;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 999;
  background:#f6f6f6;
}

.brand {
  width: 15%;
  display: flex;
}

.brand img {
  width: 30%;
  height: 80%;
}

.brand h3 {
  font-family: 'Lato';
  font-size: 25px;
  font-weight: 700;
  padding-top: 5px;
  background: none;
}

/* The section of the  account bar*/
.accountbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
}

.searchBar {
  width: 443px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bebebe;
  box-sizing: border-box;
  border-radius: 8px;
  margin-right: 1.5em;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchInput {
  width: 100%;
  border: none;
  outline: none;
  font-family: 'Lato', sans-serif;
}
.searchInput::placeholder {
  font-size: 13px;
  line-height: 16px;
}
.searchSvg {
  cursor: pointer;
  fill: #bebebe;
}

.profile {
  border-radius: 50%;
  display: flex;
  margin-left: 1.375em;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 2.5em;
  cursor: pointer;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.containers .menubars {
  display: none;
}

/* ===================================== */
/* THE SECTION OF THE MEDIA QUERY */

@media screen and (max-width: 800px) {
  .brand {
    width: 25%;
  }

  .brand img {
    width: 60%;
    height: 80%;
  }

  .accountbar {
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 30vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.98;
    z-index: 9999999;
    transition: 0.5s ease-in-out;
    overflow-y: scroll;
  }

  .accountbar .search {
    background: red !important;
  }

  .containers .menubars {
    display: block;
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 40px;
  }

  .searchBar {
    width: 300px;
  }
}

@media screen and (max-width: 425px) {
  .searchBar {
    width: 60%;
  }
}
