.settings_wrapper {
  border-bottom: 1px solid #dedede;
  padding: 20px 0;
  background: #fff;
}

.settings_wrapper button {
  outline: none;
}

.settings_wrapper button:hover {
  color: #fff;
}

.settings_wrapper:last-child {
  border-bottom: none;
}

.settingsTab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.settingsTab:nth-child(6),
.settingsTab:nth-child(7) {
  border-bottom: 1px solid #dedede;
  padding: 20px 0;
}

.settingleft {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  color: #242424;
  font-weight: bold;
  width: 70%;
}

.settingleft span {
  font-size: 14px;
  font-weight: normal;
  color: rgba(58, 58, 58, 0.9);
}

.emailLink {
  color: #b8003c !important;
  /* font-size: 12px; */
  text-decoration: none;
}

.settingsright button {
  background: #ffffff;
  border: 1px solid rgba(0, 184, 124, 0.5);
  color: rgba(0, 184, 124, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 18px !important;
  font-size: 13px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  font-weight: 600;
  line-height: 15px;
  width: 100%;
  height: 40px;
}

.settingsright button:hover {
  color: rgba(0, 184, 123, 0.719);
}

.settingsright .signout {
  background: #f40101;
  color: white;
  font-size: 12px;
}

.settingsright .delete {
  font-size: 12px;
}

.settings_wrapper {
  padding: 10px 0;
}

/* TOAST STYLE */
.sucess_toast_style  {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 240px;
  background: #00b87c;
  font-size: 13px;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}

.sucess_toast_style > button, .error_toast_style > button {
  background: transparent;
  border: 0;
  color: #dedede;
}

.error_toast_style  {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 220px;
  background: rgba(244, 66, 66, 0.852);
  font-size: 13px;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}


/* THE SECTION OF THE PASSWORD */

.passwordsection {
  margin-top: 10px;
}

.passwordsection button {
  font-size: 13px;
  padding: 10px 22px;
  background: #00b87c;
  outline: none !important;
  color: #fff;
  width: 80% !important;
  height: 50px;
}

.passwordsection button:hover {
  background: #00b87c;
}

.passwordsection::-webkit-input-placeholder {
  font-size: 12px !important;
}

#p_section {
  font-size: 1px;
  width: 100%;
}

#p_section button {
  width: 30% !important;
}

#p_section p {
  font-size: 14px;
  margin-top: 5px;
}

#p_section p span {
  color: #2f80ed;
}

.passwordsection p {
  font-size: 14px;
  width: 60%;
}

.passwordsection select.form-select:focus,
.passwordsection button.form-control:focus,
.passwordsection input[type="text"]:focus,
.passwordsection input[type="password"]:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.passwordsection select:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.passwordsection select,
.passwordsection input {
  font-size: 13px;
  padding: 9px;
  color: #8c8c8c;
  width: 130%;
}

/* THE SECTION OF THE TWO FACTOR */

.two_factor p {
  font-size: 14px;
  width: 60%;
  margin-top: 10px;
  line-height: 20px;
  color: #3a3a3a;
}

.two_factor p a {
  color: #2f80ed;
}

.two_factor button {
  font-size: 13px;
  background: #00b87c;
  color: #fff;
  padding: 10px 25px;
  height: 50px;
}

.two_factor button:hover {
  color: #fff;
}

.two_factor span {
  font-size: 14px;
  color: #b8003c;
}

@media screen and (max-width: 868px) {
  #settingtab {
    flex-direction: column;
    align-items: flex-start;
  }

  .settingsright {
    margin-top: 10px;
  }

  .passwordsection input,
  .passwordsection select {
    width: 100% !important;
  }

  .passwordsection button {
    width: 100% !important;
  }

  .two_factor button {
    width: 100% !important;
  }
}

@media screen and (max-width: 766px) {
  #p_section button {
    width: 100% !important;
  }
}

@media screen and (max-width: 425px) {
  #settingtab {
    width: 100%;
  }

  #settingleft {
    width: 95%;
  }

  .passwordsection input,
  .passwordsection select {
    width: 100% !important;
  }

  .two_factor button {
    padding: 10px 25px;
  }

  .two_factor p {
    width: 95%;
  }

  .passwordsection p {
    width: 95%;
  }
}
