@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
button:hover {
  cursor: pointer;
}
.Section1 {
  margin-top: 1rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  margin-bottom: 4rem;
}
.Section1 img {
  padding-top: 4rem;
  width: 100%;
}
.section1Left {
  width: 80%;
  margin-top: 15%;
  padding: 3rem;
}
.section1Left h1 {
  font-size: 40px;
  margin: 0;
}
.section1Left p {
  font-size: 24px;
  line-height: 1.5;
  padding: 1rem 0 1rem 0;
}
.section1Left .JoinBtn {
  display: block;
  margin: auto;
  padding: 1.2rem 1.5rem;
  font-size: 18px;
  border-radius: 3px;
  color: white;
  background-color: #00b87c;
  border: none;
  float: left;
}
/* 
@media screen and (max-width: 1024px) {
  .Section1 {
    grid-gap: 10px;
    margin-bottom: 1rem;
  }
  .Section1 img {
    margin-top: 5rem;
  }
  .section1Left p {
    font-size: 22px;
    line-height: 1.5;
  }
  .section1Left .JoinBtn {
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  .Section1 {
    grid-template-columns: auto;
    padding: 50px;
    display: block;
    justify-content: center;
  }
  .Section1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2rem;
    width: 90%;
    height: 80%;
  }

  .section1Left .JoinBtn {
    padding: 18px 70px 18px 70px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 3px;
    width: 100%;
    text-align: center;
  }

  .section1Left {
    padding: 70px 40px 20px 40px;
  }
} */

@media screen and (max-width: 500px) {
  .Section1 {
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }
  .section1Left {
    text-align: center;
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    width: 100%;
  }
  .section1Left h1 {
    text-align: start;
    font-size: 30px;
    padding-bottom: 0.5rem;
  }
  .section1Left p {
    text-align: start;
    font-size: 20px;
    line-height: 1.5;
    width: 90%;
  }
  .section1Left .JoinBtn {
    display: block;
    margin: auto;
    margin-top: 1rem;
    font-size: 18px;
    border-radius: 3px;
    /* width: 80%; */
    text-align: center;
  }

  .Section1 img {
    padding-top: 1.5rem;
    display: block;
    margin: auto;
    margin-top: 1rem;
  }
}
