@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
button:hover {
  cursor: pointer;
}
.Section1 {
  padding: 60px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  margin-bottom: 8rem;
}
.Section1 img {
  padding-top: 30px;
  width: 100%;
}
.section1Left {
  padding: 70px 40px 20px 0px;
}
.section1Left h1 {
  font-size: 40px;
  margin: 0;
}
.section1Left p {
  font-size: 24px;
  line-height: 1.5;
}
.section1Left .JoinBtn {
  display: inline-block;
  padding: 22px 34px 22px 34px;
  font-size: 24px;
  border-radius: 3px;
  color: white;
  background-color: #00b87c;
  border: none;
}

@media screen and (max-width: 1085px) {
  .Section1 {
    grid-gap: 10px;
    margin-bottom: 6rem;
  }
  .Section1 img {
    margin-top: 5rem;
  }
  .section1Left p {
    font-size: 22px;
    line-height: 1.5;
  }
  .section1Left .JoinBtn {
    font-size: 22px;
  }
}
@media screen and (max-width: 850px) {
  .Section1 {
    grid-template-columns: auto;
    padding: 30px;
  }
  .Section1 img {
    margin-top: 3rem;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .section1Left {
    text-align: center;
  }
  .section1Left h1 {
    text-align: center;
    font-size: 24px;
  }
  .section1Left p {
    text-align: left;
    padding-right: 0px;
    font-size: 20px;
    line-height: 1.5;
  }
  .section1Left .JoinBtn {
    padding: 30px 120px 30px 120px;
    font-size: 22px;
    border-radius: 3px;
  }
}

@media screen and (max-width: 410px) {
  .section1Left .JoinBtn {
    padding: 28px 70px 28px 70px;
  }
}
