@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
button:hover {
  cursor: pointer;
}
.Section1 {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  margin-bottom: 4rem;
}
.Section1 img {
  padding-top: 2rem;
  width: 100%;
}
.section1Left {
  width: 60%;
  margin-top: 15%;
  padding: 3rem;
}
.section1Left h1 {
  font-size: 40px;
  margin: 0;
}
.section1Left p {
  font-size: 24px;
  line-height: 1.5;
  padding: 1rem 0 1rem 0;
}
.section1Left .JoinBtn {
  display: inline-block;
  padding: 22px 34px 22px 34px;
  font-size: 18px;
  border-radius: 3px;
  color: white;
  background-color: #00b87c;
  border: none;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .Section1 {
    grid-gap: 10px;
    margin-bottom: 1rem;
  }
  .Section1 img {
    margin-top: 5rem;
  }
  .section1Left p {
    font-size: 22px;
    line-height: 1.5;
  }
  .section1Left .JoinBtn {
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  .Section1 {
    grid-template-columns: auto;
    padding: 50px;
    display: block;
    justify-content: center;
  }
  .Section1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2rem;
    width: 90%;
    height: 80%;
  }

  .section1Left .JoinBtn {
    padding: 18px 70px 18px 70px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 3px;
    width: 100%;
    text-align: center;
  }

  .section1Left {
    padding: 70px 40px 20px 40px;
  }
}

@media screen and (max-width: 500px) {
  .section1Left {
    text-align: center;
    padding: 30px 0px 20px 0px;
    position: relative;
    right: 15px;
  }
  .section1Left h1 {
    text-align: center;
    font-size: 30px;
    position: relative;
    left: 25px;
  }
  .section1Left p {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    width: 116%;
    padding: 0 10px 0 10px;
  }
  .section1Left .JoinBtn {
    padding: 18px 70px 18px 70px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 3px;
    width: 115%;
  }

  .Section1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 0rem;
    padding-top: 5px;
  }

  .Section1 {
    grid-template-columns: auto;
    padding: 50px;
    padding-bottom: 10px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 410px) {
  .section1Left .JoinBtn {
    padding: 18px 70px 18px 70px;
    width: 115%;
  }
}
