.login__banner {
  background-color: #00b87c;
  background-image: url('images/Vector.svg');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.illustration__left_arrow {
  background-image: url('images/arrow-top-left.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 5vw;
  height: 50px;
  transform: translate(20%, 70%);
  position: absolute;
}
.illustration__right_arrow {
  background-image: url('images/arrow-top-right.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 10vw;
  height: 50px;
  transform: translate(23.5vw, 5vw);
  position: absolute;
}
.illustration__msg {
  background-image: url('images/chat.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 2vw;
  height: 50px;
  transform: translate(28vw, 3vw);
  position: absolute;
}
.illustration__center_arrow {
  background-image: url('images/arrow-center.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 10vw;
  height: 50px;
  transform: translate(0%, 500px);
  position: absolute;
}
.login__header__text {
  text-align: center;
  transform: translateY(100%);
}
.login__header__text h1 {
  color: hsla(0, 0%, 100%, 80%);
  font-weight: 600;
  font-size: calc(24px + 6 * ((100vw - 320px) / 680));
}
.login__header__text p {
  font-size: calc(8px + 6 * ((100vw - 320px) / 680));
  color: hsl(0, 0%, 100%);
}

.illustration__login {
  display: flex;
}

.illustration__flower {
  background-image: url('images/flower.svg');
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  position: absolute;
  bottom: 2px;
  left: 0;
}
.illustration__woman {
  background-image: url('images/person1.svg');
  position: relative;
  bottom: -15px;
  left: 0;
  width: 20vw;
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
  z-index: 12;
}
.illustration__man {
  background-image: url('images/person2.svg');
  background-size: contain;
  background-position: bottom;
  width: 35vw;
  height: 450px;
  background-repeat: no-repeat;
  bottom: -15px;
  right: 30%;
  position: relative;
  z-index: 12;
  transform: translate(12vw, 0px);
}

.illustration__bg_path {
  background-image: url('images/bg-path.svg');
  background-size: contain;
  background-position: bottom left;
  width: 38vw;
  height: 100%;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  position: absolute;
}

/* hide on mobile */
@media (max-width: 768px) {
  .login__banner {
    display: none;
  }
}
