.zcemcemojicat {
  /* padding: 0 15px; */
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  /* position: fixed; */
  color: #777;
  height: 2rem;
  width: 18rem;
  padding-top: 0.5rem;
  background: #fff;
}
.zcemcemojicatitems {
  font-size: 1.2rem;
  cursor: pointer;
}
.zcemcactive {
  color: #00b87c;
}
