#authPageWrapper {
  font-family: 'Lato', sans-serif;
  margin-block: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  z-index: 5;
}

#authAsideContainer,
#authImageWrapper,
#authFormContainer,
#authImageWrapper img {
  height: inherit;
}

#authAsideContainer {
  width: 33vw;
  color: #fff;
}

#authImageWrapper {
  width: 100%;
}

/* 
#authImageWrapper img {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
} */

#authFormContainer::-webkit-scrollbar {
  background: none;
}

#authFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67vw;
  overflow-y: scroll;
  /* padding-right: 4rem; */
}

.tos {
  height: 5vh;
  margin-block-start: 1rem;
  margin-block-end: 2rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* position: relative;
  font-size: 12px;
  line-height: 1.5rem;
  display: inline-block;
  margin: 5px 0 15px; */
  /* margin-bottom: 2rem; */
}

.tos .checkBox {
  cursor: pointer;
  margin-right: 1rem;
  width: 20px;
  height: 20px;
  border: 1px solid #bebebe;
  box-sizing: border-box;
  border-radius: 4px;
  /* height: 15px;
  width: 15px;
  border-radius: 10px;
  border-color: rgb(0, 0, 0, 0.25); */
  /* margin-right: 8px; */
  /* position: relative; */
  /* top: 3px; */
}

.tosText {
  font-size: 0.8rem;
}

.tosText a,
.rememberMe a {
  color: #1a61db;
  /* color: #00b87c; */
}

.rememberMe {
  /* height: 5vh; */
  margin-bottom: 2rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* display: inline-block; */
  /* margin: 10px 0; */
}

.rememberMe .checkBox {
  cursor: pointer;
  margin-right: 8px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border-color: #00000040;
  /* position: relative; */
  /* top: 3px; */
}

/* .rememberMe a {
  /* color: #00b87c; *
  color: #1a61db;
} */

.rememberMe .left {
  display: block;
  float: left;
  width: auto;
}

.rememberMe .right {
  display: block;
  float: right;
  width: auto;
}

/* Media Query 768px and Smaller */
/* Media Query 920px and Smaller */
/* Media Query for Screen Width 1080px and Smaller */
@media only screen and (max-width: 1080px) {
  .display_none {
    display: none;
  }

  #authFormContainer {
    padding-inline: 10%;
  }

  #authFormContainer {
    width: 100%;
    overflow-y: scroll;
  }
}

/* @media only screen and (max-width: 468px) {
  .rememberMe .right {
    display: block;
    float: left;
    width: auto;
  }
  .tos .checkBox {
    top: 2px;
  }
} */
