.footer {
  background-color: #fafafa;
}

.topSection {
  display: flex;
  gap: 119px;
  align-items: flex-start;
  padding-bottom: 45px;
  border-bottom: 1px solid rgba(187, 186, 231, 0.15);
}
.logo {
  display: flex;
  align-items: center;
}

.zuriText {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333333;
}
.navContainer {
  flex: 1;
}
ul,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: baseline;
}
.mainList,
.subList {
  display: flex;
  flex-direction: column;
}
.title {
  font-family: 'Lato', sans-serif;
  color: #000000;
  opacity: 0.8;
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.subList {
  gap: 12px;
}
.link {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: #6a6a6a;
  font-size: 0.8rem;
}
.link:hover {
  color: #00b87c;
  font-weight: 700;
}
.socialMedia {
  display: flex;
  gap: 16px;
}
.bottomSection {
  padding-top: 36px;
  display: flex;
  align-items: baseline;
}
.copyright {
  font-family: 'Lato', sans-serif;
  color: #6a6a6a;
  font-weight: 400;
  font-size: 0.9rem;
}
.bottomNav {
  margin-left: auto;
}
.navItems {
  display: flex;
  gap: 28px;
  align-items: baseline;
}
.bottomLink {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #6a6a6a;
  font-size: 0.9rem;
}

.notShow {
  padding: 67px 52px 53px 100px;
}

@media (max-width: 69rem) {
  .notShow {
    padding-top: 48px;
    padding-right: 32px;
    padding-left: 32px;
  }
  .topSection {
    display: revert;
  }
  .nav {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 36px 0px;
  }
  .logoWrapper {
    margin-bottom: 32px;
  }
}
@media (max-width: 35rem) {
  .buttonSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo {
    justify-content: center;
  }
  .socialMedia {
    justify-content: center;
  }
  .bottomNav {
    width: 100%;
    margin-left: revert;
  }

  .title,
  .subList {
    text-align: center;
  }
  .bottomSection {
    flex-direction: column;
  }
  .copyright {
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
  }
  .navItems {
    gap: 16px;
    justify-content: center;
  }
  .bottomLink {
    font-size: 0.7rem;
  }
}
