.footer {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  background: #f8f8ff;
  width: 100%;
}
.mobile {
  display: none;
}
ul {
  list-style: none;
  padding-left: 0;
}
li {
  padding-left: 0;
  text-decoration: none;
}
a {
  padding-left: 0;
  text-decoration: none;
}
.top_footer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding-bottom: 40px;
}
.logo {
  padding-left: 40px;
  padding-top: 25px;
}
.logo_img {
  padding-top: 0;
}
.logo a {
  display: inline-flex;
}
.logo p {
  color: black;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 1.3rem;
}
.menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 18px;
}
.menu_list h5 {
  font-size: 1.3rem;
}
.menu_list li {
  padding-top: 10px;
}
.menu_list a {
  color: #6a6a6a;
  font-size: 1.1rem;
}
.menu_list a:hover {
  color: black;
}
.social {
  padding-top: 18px;
}
.social h5 {
  font-size: 1.3rem;
}
.social ul {
  display: inline-flex;
}
.social li {
  padding: 10px 20px 0 0;
}
.social img {
  width: 20px;
  height: 20px;
}
.bottom_footer {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 30px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(187, 186, 231, 0.15);
}
.bottom_footer p {
  color: #6a6a6a;
  padding-left: 10px;
  font-size: 1.1rem;
}
.bottom_footer ul {
  display: inline-flex;
  float: right;
}
.bottom_footer ul li a {
  color: #6a6a6a;
  padding: 0 20px;
  font-size: 1.1rem;
}
.bottom_footer ul li a:hover {
  color: black;
}

/*media queries */
@media screen and (max-width: 1250px) {
  .logo p {
    font-size: 1.2rem;
  }
  .social li {
    padding: 10px 5px 0 0;
  }
  .social img {
    width: 30px;
    height: 30px;
  }
  .bottom_footer {
    padding: 0;
    padding-top: 10px;
  }
  .bottom_footer ul li a {
    color: #6a6a6a;
    padding: 0 10px;
  }
  .bottom_footer p {
    font-size: 80%;
  }
}

@media screen and (max-width: 1200px) {
  .logo p {
    font-size: 1.8rem;
  }
  .dropdown_list {
    font-size: 1.8rem;
    padding-bottom: 20px;
    cursor: pointer;
  }
  .menu_list h5 {
    font-size: 1.8rem;
  }
  .menu_list li a {
    font-size: 1.4rem;
  }
  .social h5 {
    font-size: 1.8rem;
  }
  .social img {
    width: 20px;
    height: 20px;
  }
  .bottom_footer p {
    font-size: 1.4rem;
  }
  .bottom_footer ul li a {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 900px) {
  .top_footer {
    display: grid;
    grid-template-columns: 22% 58% 20%;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    display: none;
  }
  .m_footer {
    background: #f8f8ff;
    padding-bottom: 10px;
  }
  .mobile {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .logo {
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  .logo p {
    font-size: 2.5rem;
  }
  .footer_menu {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 95vw;
  }
  .footer_menu p {
    text-align: center;
    font-size: 80%;
    padding-top: 20px;
  }
  .dropdown_list {
    font-size: 1.8rem;
    padding-bottom: 20px;
    cursor: pointer;
  }
  .dropdown_list:hover {
    color: #6a6a6a;
  }
  .list {
    padding-bottom: 20px;
  }
  .list a {
    font-size: 1.8rem;
    color: #6a6a6a;
  }
  .fa {
    font-size: 25px;
    float: right;
    padding-top: 7px;
    position: relative;
  }
  .mobile_social {
    padding-left: 10px;
    width: 100%;
    position: relative;
    padding-top: 20px;
  }
  .mobile_social img {
    width: 20px;
    height: 20px;
  }
  .mobile_social ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer_menu p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .logo p {
    font-size: 1.3rem;
  }
  .dropdown_list {
    font-size: 100%;
  }
  .footer_menu a {
    font-size: 100%;
  }
  .footer_menu p {
    font-size: 100%;
  }
}
