.help{
    margin-top: 5%;
    text-align: center;
  align-items: center;
  font-size: 10px;
}

.firstlayer{
    margin-top: 3%;
    position: relative;
}

.invalid > img{
    width: 30vw;
    position: relative;
    top: -16%;
    margin-right: 16px
}

.firstcontent{
    font-size: 7px;
    line-height: 25px;
    font-weight: 500;
    margin-left: 6px
}

.secondcontent{
    font-size: 7px;
    line-height: 25px;
    font-weight: 500;
}
  
.thirdcontent{
    font-size: 7px;
    line-height: 25px;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
      .thirdcontent{
        text-align: center;
      }
      .thirdcontent > h3 {
        font-size: 24px;
      }
      .thirdcontent > p {
        padding: 0 4%;
      }
      .secondcontent{
        text-align: center;
      }
      .secondcontent > h3 {
        font-size: 24px;
      }
      .secondcontent > p {
        padding: 0 4%;
      }
      .invalid > img {
        width: 100%;
      }
      .firstcontent{
        text-align: center;
      }
      .firstcontent > h3 {
        font-size: 24px;
      }
      .firstcontent > p {
        padding: 0 4%;
      }
}