.searchBar {
  height: 51px;
  background: #fafafa;
  border: 1px solid rgba(187, 186, 231, 0.15);
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 2px;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}
.searchInput {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  z-index: 1;
}
.searchInput::placeholder {
  font-size: 16px;
}
.searchSvg {
  cursor: pointer;
  stroke: #000;
}

.suggestions {
  background: #fafafa;
  border: 1px solid rgba(187, 186, 231, 0.15);
  box-sizing: border-box;
  border-radius: 0px 0px 2px 2px;
  top: 51px;
}

.suggested {
  top: 2px;
  left: 8px;
  font-size: 16px;
  color: #8b8888bd;
}
