.aside {
  width: 35rem;
  border-right: 1px solid #eee;
}

@media all and (max-width: 2000px) {
  .aside {
    width: 25rem;
  }
}

@media all and (max-width: 1500px) {
  .aside {
    width: 20rem;
  }
}

@media all and (max-width: 1000px) {
  .aside {
    display: none;
  }
}

.navigation-container {
  width: 100%;
  position: sticky;
  left: 0;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: 100%;
}

.navigation-container p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 29px;
  color: #005c3e;
  margin: 1rem 0;
}

.nav-links {
  list-style-type: none;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0;
}

.nav-links li a {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  text-decoration: none;
}

.nav-links li a span {
  color: #090809;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0.8rem;
}

.active {
  background-color: #ccf1e5;
}

.categories-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.categories {
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  line-height: 19px;
  color: #323132;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.categories ul {
  list-style-type: none;
  padding: 0;
  padding: 0.3rem 0 0 1rem;
  width: 100%;
}

.categories ul li {
  padding: 0.2rem 0;
}

.display {
  display: block;
  height: min-content;
  will-change: height;
  transition: height 0.5s ease-in 0s;
}

.hide {
  display: none;
  height: 0px;
  will-change: height;
  transition: height 0.5s ease-in 0s;
}
