<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td width="100%">
          <div style="max-width:600px;Margin:0 auto">
            <table
              align="center"
              cellpadding="0"
              cellspacing="0"
              style="border-spacing:0;font-family:gt-eesti,ArialMT,Helvetica,Arial,sans-serif;Margin:0 auto;padding:24px;width:100%;max-width:500px"
            >
              <tbody>
                <tr>
                  <td>
                    <table style="margin-bottom:40px;width:100%" width="100%">
                      <tbody>
                        <tr>
                          <td>
                            <a
                              href="http://8link.in/?ref=mail"
                              style="font-family:Helvetica,Arial,sans-serif;color:#0086bf"
                              target="_blank"
                            >
                              <img
                                src="http://8link.in/assets/mail/logo.png"
                                style="display:block"
                                alt="8link"
                                width="200"
                                height="65"
                              />
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:justify;word-break:break-word">
                    <table style="margin-bottom:20px;width:100%" width="100%">
                      <tbody>
                        <tr>
                          <td>
                            <table
                              style="width:100%;margin-bottom:20px"
                              width="100%"
                              cellpadding="0"
                              cellspacing="0"
                            >
                              <tbody>
                                <tr>
                                  <td>
                                    <strong style="font-family:Helvetica,Arial,sans-serif;color:#234567">Hi <%= user_firstname %>, </strong>
                                    
                                    <h1
                                      style="font-size:26px;line-height:30px;color:#054752;word-break:normal"
                                    >
                                    Welcome to ZuriChat! Please confirm your email.
                                    </h1>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
  
                        <tr>
                          <td>
                            <center>
                              <table
                                style="background-color:#fff;margin-bottom:20px;table-layout:fixed"
                                align="center"
                                width=""
                                cellspacing="0"
                                cellpadding="0"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="background-color:#00aff5;color:#fff;text-align:center;border-radius:48px;padding:16px 24px;border-color:transparent;font-weight:bold;font-size:16px;line-height:1"
                                    >
                                      <a style="color: white; text-decoration: none;" href= <%= confirm_link  %>> Confirm Email </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </center>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <table width="100%" style="margin-bottom:20px;width:100%">
                      <tbody>
                        <tr>
                          <td width="100%">
                            <div
                              style="width:100%;height:1px;background-color:#ddd"
                              color="#DDD"
                              width="100%"
                            ></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
  
                <tr>
                  <td style="text-align:center">
                    <img
                      src="http://8link.in/assets/mail/icon.png"
                      alt="8link_icon"
                      style="display:block;width:29px;height:auto;margin-left:auto;margin-right:auto;margin-bottom:10px"
                      height="auto"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="text-align:center;font-size:13px">
                    <a
                      href="http://8link.in/?ref=mail"
                      style="color:#00aff5"
                      target="_blank"
                    >
                      Goto 8link.in
                    </a>
                    <span style="color:#00aff5">|</span>
                    <a
                      href="http://8link.in/FAQ"
                      style="color:#00aff5"
                      target="_blank"
                    >
                      FAQ
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:center">
                    <table
                      style="max-width:100%;width:100%;text-align:center;font-family:ArialMT,Arial,sans-serif"
                      cellspacing="0"
                      cellpadding="0"
                    >
                      <tbody>
                        <tr>
                          <td style="text-align:center">
                            <p
                              style="font-size:10px;color:#708c91;text-align:center;padding:0;margin-top:10px;margin-bottom:2px"
                            >
                              This email was sent to you by
                              welcome@ZuriChat.com (Do not reply)
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  