.roleCard {
  padding: 25px;
  text-align: left;
  background: #fefefe;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

/* .roleTitleContainer {
    
} */

.roleTitleContainer h6 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
}

.roleDescriptionContainer {
  margin: 10px 0;
  min-height: 75px;
}

.roleDescriptionContainer p {
  padding: 0;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 152.5%;
  letter-spacing: 0.02em;
  color: #4d4d4d;
}

.roleCardHorizontalLineContainer {
  margin-top: 30px;
  width: 85%;
}

.roleTagsContainer {
  display: flex;
}

.roleTagsContainer p {
  padding: 0;
  margin-right: 20px;
}
