@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

* {
  font-family: 'Lato', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
button:hover {
  cursor: pointer;
}
.Section1 {
  padding: 60px;
  display: flex;
  flex-direction: row;
  grid-gap: 61px;
  margin-bottom: 8rem;
}
.Section1 img {
  width: 55%;
  height: 55%;
}
.section1Left {
  padding: 70px 40px 20px 0px;
}
.section1Left h1 {
  font-size: 40px;
  margin: 0;
}
.section1Left p {
  font-size: 24px;
  line-height: 1.5;
}
.section1Left button {
  padding: 14px 18px 14px 18px;
  font-size: 24px;
  border-radius: 3px;
  color: white;
  background-color: #00b87c;
  border: none;
}

@media screen and (max-width: 1085px) {
  .Section1 {
    grid-gap: 30px;
    margin-bottom: 8rem;
  }
  .Section1 img {
    margin-top: 5rem;
    width: 50%;
    height: 50%;
  }
  .section1Left p {
    font-size: 22px;
    line-height: 1.5;
  }
  .section1Left button {
    font-size: 22px;
  }
}
@media screen and (max-width: 850px) {
  .Section1 {
    flex-direction: column;
    padding: 30px;
  }
  .Section1 img {
    margin-top: 3rem;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .section1Left h1 {
    font-size: 24px;
  }
  .section1Left p {
    padding-right: 0px;
    font-size: 18px;
    line-height: 1.5;
  }
  .section1Left button {
    font-size: 22px;
  }
}
