.sectionThree {
  margin: 130px 0;
  /* padding: 70px 0; */
  width: 100%;
}

.sectionTopContentContainer {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.sectionTopContentContainer h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 43px;
}

.sectionTopContentContainer p {
  font-weight: 400;
  font-size: 1rem;
}

.sectionMiddleContentContainer {
  margin: 60px auto;
  padding: 30px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.sectionBottomContentContainer {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.sectionBottomContentContainer p {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.2rem;
}

.sectionBottomContentContainer a {
  margin: 20px 0;
  padding: 16px 65px;
  color: #fff !important;
  text-decoration: none;
  /* height: 70px; */
  background: #f44336;
  border-radius: 3px;
}

/* Mediaqueries For Smaller Screens  */
@media (max-width: 900px) {
  .sectionTopContentContainer {
    width: 75%;
  }

  .sectionTopContentContainer h3 {
    font-size: 1.8rem;
  }

  .sectionTopContentContainer p {
    font-size: 0.8rem;
  }

  .sectionMiddleContentContainer {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .sectionBottomContentContainer {
    width: 70%;
    text-align: center;
  }

  .sectionBottomContentContainer p {
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .sectionMiddleContentContainer {
    width: 98%;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .sectionBottomContentContainer {
    width: 88%;
    text-align: center;
  }

  .sectionBottomContentContainer p {
    font-size: 1rem;
  }
}
