@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: lato;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

main {
  width: 50%;
  margin: 56px auto;
  display: flex;
  flex-direction: column;
}

.searchBar {
  width: 607px;
  height: 58px;
  font-size: 16px;
  color: #3e3e3e;
  border: none;
  outline: 1px solid #e4e4e4;
  border-radius: 2px;
  background: #fafafa;
  padding: 32px 20px;
  align-self: center;
  margin-bottom: 53px;
}

.linkGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 53px;
  font-size: 16px;
  border-bottom: 2px solid #e8e8e8;
}

.linkGroup li {
  padding: 12px 0;
  margin-right: 12px;
}

.linkGroup li:first-child {
  border-bottom: 2px solid black;
}

.articleI {
  font-size: 16px;
}

.subArticleI {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  font-size: 16px;
}

.blogImage {
  width: 169px;
  height: 163px;
  background: no-repeat center/100%;
  margin-right: 20px;
}

.subArticleI > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subArticleI > div h1 {
  font-size: 24px;
}

hr {
  width: 90%;
  height: 1px;
  background-color: #efeefd;
  margin: 32px 0;
  border: none;
}

.articleII {
  font-size: 16px;
  margin-bottom: 28px;
}

.articleII h4 {
  margin-bottom: 10px;
}

.articleII h1 {
  font-size: 22px;
  margin-bottom: 8px;
}

.articleII > p {
  margin-bottom: 12px;
}

.articleII div {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #2f80ed;
}

.articleII div p {
  margin-right: 10px;
}

.articleIII {
  font-size: 16px;
}

.articleIII h1 {
  font-size: 22px;
  margin-bottom: 8px;
}

.articleIII > p {
  margin-bottom: 12px;
}

.articleIII div {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #2f80ed;
}

.articleIII div p {
  margin-right: 10px;
}

.articleIV {
  font-size: 16px;
  margin-bottom: 28px;
}

.articleIV h4 {
  margin-bottom: 10px;
}

.articleIV h1 {
  font-size: 22px;
  margin-bottom: 8px;
}

.articleIV > p {
  margin-bottom: 12px;
}

.articleIV div {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #2f80ed;
}

.articleIV div p {
  margin-right: 10px;
}

.articleV {
  font-size: 16px;
  margin-bottom: 100px;
}

.articleV h4 {
  margin-bottom: 10px;
}

.articleV h1 {
  font-size: 22px;
  margin-bottom: 8px;
}

.articleV > p {
  margin-bottom: 12px;
}

.articleV div {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #2f80ed;
}

.articleV div p {
  margin-right: 10px;
}

@media screen and (max-width: 991px) {
  main {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  main {
    width: 80%;
  }

  .searchBar {
    width: inherit;
    min-width: 300px;
  }

  .articleI {
    font-size: 16px;
  }

  .subArticleI {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    font-size: 16px;
  }

  .blogImage {
    width: 169px;
    height: 163px;
    background: url(blogImage.png) no-repeat center/100%;
    margin-right: 20px;
  }

  .subArticleI > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .subArticleI > div p {
    margin-bottom: 10px;
  }

  .subArticleI > div h1 {
    margin-bottom: 8px;
    font-size: 22px;
  }

  hr {
    width: 90%;
    height: 1px;
    background-color: #efeefd;
    margin: 32px 0;
    border: none;
  }

  .articleII {
    font-size: 16px;
    margin-bottom: 28px;
  }

  .articleII h4 {
    margin-bottom: 10px;
  }

  .articleII h1 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .articleII > p {
    margin-bottom: 12px;
  }

  .articleII div {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #2f80ed;
  }

  .articleII div p {
    margin-right: 10px;
  }

  .articleIII {
    font-size: 16px;
  }

  .articleIII h1 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .articleIII > p {
    margin-bottom: 12px;
  }

  .articleIII div {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #2f80ed;
  }

  .articleIII div p {
    margin-right: 10px;
  }

  .articleIV {
    font-size: 16px;
    margin-bottom: 28px;
  }

  .articleIV h4 {
    margin-bottom: 10px;
  }

  .articleIV h1 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .articleIV > p {
    margin-bottom: 12px;
  }

  .articleIV div {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #2f80ed;
  }

  .articleIV div p {
    margin-right: 10px;
  }

  .articleV {
    font-size: 16px;
    margin-bottom: 100px;
  }

  .articleV h4 {
    margin-bottom: 10px;
  }

  .articleV h1 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .articleV > p {
    margin-bottom: 12px;
  }

  .articleV div {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #2f80ed;
  }

  .articleV div p {
    margin-right: 10px;
  }
}
