.tabWrapper {
  width: 100%;
}

.tabHeader,
.tabHeaderActive {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.tabHeaderItem,
.tabHeaderItemActive {
  padding: 0.875rem 1.2rem;
  width: auto;
  border-radius: 4px 4px 0px 0px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
  cursor: pointer;
  margin-bottom: -1px;
}

.tabHeaderItemActive {
  background: #fff;
  border: 1px solid #dadada;
  border-bottom: none;
  color: #00b87c;
}
.tabHeaderItem:hover {
  text-decoration-color: #000;
  text-decoration-line: underline;
}

.tabContent {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 0px 4px 4px 4px;
  border: 1px solid #dadada;
  padding: 3rem 2rem 2rem 2rem;
  margin-bottom: 5rem;
}

.mobileToggle {
  display: none;
}

@media (max-width: 1000px) {
  .mobileToggle {
    display: block;
    width: 100%;
    padding: 1rem;
    background: #fff;
    border: 1px solid #dadada;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
  }

  .tabHeader,
  .tabHeaderActive {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }

  .tabHeaderActive {
    display: flex;
  }

  .menuIcon {
    font-size: 1.5rem;
    color: #00b87c;
  }
}
