.section3 {
  margin-top: 120px;
}
.section3TopContentWrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  background-color: #fff;
}
.section3TopTextsWrapper {
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.remote {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #242424;
  font-style: normal;
}
.section3TopTextsWrapper h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 130%;
  text-align: center;
  color: #242424;
}
.section3TopTextsWrapper p {
  margin-top: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 130%;
  text-align: center;
  color: #3a3a3a;
}
.featuresSection {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.featureCard {
  width: 235px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.iconWrapper {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ecf8f5;
  border-radius: 50%;
}
.featureCard h3 {
  margin-top: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #242424;
}
.featureCard p {
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 130%;
  text-align: center;
  color: #3a3a3a;
}
.zuriInterfaceViewWrapper {
  margin-top: 150px;
  width: 100%;
  background: #ecf8f5;
}
.zuriInterfaceImageContainer {
  max-width: 1400px;
  margin: 0 auto;
}
.zuriInterfaceImageContainer img {
  width: 100%;
}

@media (max-width: 500px) {
  .section3TopContentWrapper {
    padding: 0 24px;
  }
  .section3TopTextsWrapper {
    margin: 0;
    width: 100%;
  }
  .remote {
    text-align: left;
    font-size: 27px;
  }
  .section3TopTextsWrapper h3 {
    font-size: 1.75rem;
    line-height: 36px;
    text-align: left;
  }
  .section3TopTextsWrapper p {
    font-size: 1.125rem;
    line-height: 23px;
    text-align: left;
  }
  .featuresSection {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    column-gap: 10px;
    row-gap: 40px;
  }
  .featureCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .iconWrapper {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ecf8f5;
    border-radius: 50%;
  }
  .iconWrapper img {
    width: 40%;
  }
  .featureCard h3 {
    font-size: 1.125rem;
    line-height: 130%;
  }
  .featuresSection p {
    font-size: 0.875rem;
    line-height: 130%;
  }
  .zuriInterfaceViewWrapper {
    margin-top: 50px;
  }
}
