.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.main > p {
  text-align: center;
}
.img {
  margin-bottom: 50px;
}
.email {
  color: blue;
}
.input {
  margin: 20px 0;
}
/* .codeInput{} */

.request {
  color: #2f80ed;
}
