@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

body {
  font-family: 'Lato', sans-serif !important;
}
.container {
  margin-top: 100px !important;
}
.h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
}
.p {
  margin: 0 383px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 130%;
}
.circle {
  position: absolute;
  left: 340px;
}
.screenshot {
  position: relative;
  top: 79px;
}
.circle2 {
  position: absolute;
  left: 1160px;
  top: 273px;
  z-index: 0;
}
.button1 {
  display: inline-block;
  margin: 0px 16px;
  width: 174px;
  border-radius: 4px;
  color: white;
  background-color: #00b87c;
  padding: 16px;
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  text-decoration: none;
}
.plink {
  color: #00b87c;
  text-decoration-line: underline;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.bg {
  background-color: #00b87c;
}
.h6zuri {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}
.zuri {
  margin: auto;
}
.p1 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 130%;
  color: #ffffff;
}
.mobile {
  color: #ffffff;
  font-size: 30px;
  text-decoration: underline;
}
.buttonW {
  display: inline-block;
  text-align: center;
  margin: 0px 16px 0 0;
  width: 309px;
  border-radius: 4px;
  color: white;
  background-color: #00b87c;
  padding: 16px;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
}
a:hover {
  text-decoration: none;
  color: #00b87c;
}
a:hover {
  text-decoration: none;
  color: #000000;
}

@media screen and (max-width: 1325px) {
  .container {
    margin-top: 50px !important;
  }
  .h1 {
    font-weight: 800;
    font-size: 32px;
    line-height: 50px;
  }
  .p {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
  }
  .circle {
    width: 196px;
    left: 420px;
  }
  .screenshot {
    width: 410px;
    top: 40px;
  }
  .buttondiv {
    padding: 16px !important;
    margin-bottom: 24px !important;
  }
  .h6zuri {
    font-size: 28px;
  }
  .p1 {
    font-size: 20px;
  }
  .mobile {
    font-size: 20px;
  }
  .button1 {
    font-size: 16px;
    line-height: 20px;
    padding: 8px;
  }
  .plink {
    font-size: 16px;
  }
  .laptop {
    width: 400px !important;
    margin: 50px !important;
  }
  .buttonW {
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
    width: 270px;
  }
}

@media screen and (max-width: 1200px) {
  .h1 {
    font-size: 28px;
  }
  .p {
    margin: 0 320px;
    font-size: 14px;
  }
  .circle {
    width: 150px;
    left: 300px;
  }
  .screenshot {
    width: 360px;
  }
  .buttondiv {
    padding: 30px 0 0 !important;
  }
  .screen {
    width: 360px;
  }
  .h6zuri {
    font-size: 24px;
  }
  .p1 {
    font-size: 16px;
  }
  .mobile {
    font-size: 16px;
  }
  .buttonW {
    font-size: 14px;
    line-height: 20px;
    padding: 8px;
    width: 195px;
  }
}

@media screen and (max-width: 950px) {
  .h1 {
    font-size: 24px;
  }
  .p {
    margin: 0 190px;
  }
  .circle {
    width: 125px;
    left: 205px;
  }
  .screenshot {
    width: 300px;
    top: 30px;
  }
  .buttondiv {
    padding: 40px 0 0 !important;
  }
  .button1 {
    font-size: 12px;
    width: 120px;
  }
  .plink {
    font-size: 14px;
  }
  .h6zuri {
    font-size: 20px;
  }
  .p1 {
    font-size: 14px;
  }
  .laptop {
    width: 360px !important;
    margin: 0px !important;
  }
  .buttonW {
    font-size: 12px;
    width: 155px;
  }
}
