@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

body {
  font-family: 'Lato', sans-serif !important;
}
.container {
  margin-top: 100px !important;
}
.h1 {
  font-weight: 800;
  font-size: 42px;
  line-height: 50px;
}
.p {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.plink {
  color: #00b87c;
  text-decoration-line: underline;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
}
.divcol {
  padding: 0 !important;
}
.circle {
  position: absolute;
  top: 122px;
  z-index: 0;
}
.screenshot {
  position: relative;
  left: 17px;
  top: 0;
  z-index: 1;
}
.circle2 {
  position: absolute;
  left: 1160px;
  top: 273px;
  z-index: 0;
}
.button1 {
  display: block;
  margin: 10px 0;
  width: 222px;
  border-radius: 3px;
  color: white;
  background-color: #00b87c;
  padding: 16px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
}
.versionlink {
  font-size: 14px;
  line-height: 26px;
  color: #00b87c;
  text-decoration-line: underline;
}
.mobilelink {
  margin-left: 98px;
  font-size: 14px;
  line-height: 26px;
  color: #00b87c;
  text-decoration-line: underline;
}
.bit {
  position: relative;
  z-index: 1;
  margin-left: 23px;
  color: white;
}
.circle1 {
  position: absolute;
  z-index: 0;
  top: 770px;
}
.half {
  position: absolute;
  z-index: 0;
  left: 1160px;
  top: 874px;
}
.rec {
  position: absolute;
  z-index: 0;
  top: 1555px;
  left: 525px;
}
.dm {
  position: relative;
  z-index: 1;
  left: 240px;
}
.android {
  position: relative;
  z-index: 1;
  left: 160px;
}
.foot {
  height: 460px;
}
.rec1 {
  position: absolute;
  z-index: 0;
  width: 100%;
}
.button {
  position: relative;
  z-index: 1;
  padding: 119px;
  text-align: center;
}
.work {
  color: #f6f6f6;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
}
.button2 {
  margin: 0 10px;
  border-radius: 3px;
  background-color: white;
  color: #00b87c;
  padding: 16px;
  font-weight: 800;
  text-decoration: none;
}
.button3 {
  margin: 0 10px;
  color: #ffffff;
  width: 234px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  padding: 16px;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #000000;
}

@media screen and (max-width: 1325px) {
  .container {
    margin-top: 0 !important;
  }
  .h1 {
    font-weight: 800;
    font-size: 32px;
    line-height: 50px;
  }
  .p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }
  .circle {
    width: 150px;
  }
  .screenshot {
    width: 763px;
  }
  .circle1 {
    top: 695px;
    width: 150px;
  }
  .circle2 {
    top: 235px;
    left: 1020px;
    width: 235px;
  }
  .mobilelink {
    margin-left: 25px;
  }
  .half {
    left: 1020px;
    width: 235px;
    top: 785px;
  }
  .rec {
    top: 1440px;
    left: 560px;
    width: 700px;
  }
  .dm {
    width: 200px;
    top: 40px;
    left: 265px;
  }
  .android {
    width: 200px;
    top: 40px;
    left: 220px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 !important;
    margin-top: 20px !important;
  }
  .h1 {
    font-size: 24px;
  }
  .p {
    font-size: 12px;
  }
  .circle {
    width: 130px;
  }
  .screenshot {
    width: 669px;
  }
  .circle2 {
    top: 240px;
    left: 840px;
    width: 190px;
  }
  .circle1 {
    top: 768px;
    width: 150px;
  }
  .half {
    left: 831px;
    width: 190px;
    top: 700px;
  }
  .bit {
    font-size: 13px;
    color: white;
  }
  .rec {
    left: 324px;
    top: 1226px;
  }
  .android {
    left: 100px;
  }
  .dm {
    left: 140px;
  }
  .versionlink {
    font-size: 12px;
  }
  .mobilelink {
    font-size: 12px;
    margin-left: 16px;
  }
  .button {
    padding: 75px;
  }
  .work {
    font-size: 35px;
  }
}
