.containermain {
  max-width: 768px;
  margin-top: 60px !important;
}

.container {
  height: 480px;
  background-color: #ecf8f5;
  color: #1d1c1d;
  overflow: hidden;
}

.containerfluid {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: #1d1c1d;
}

.herotext {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 50px;
  color: #1d1c1d;
  padding-top: 30px;
}

.button1 {
  display: inline-block;
  border-radius: 4px;
  color: white;
  background-color: #00b87c;
  padding: 16px;
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  text-decoration: none;
}

.button1:hover {
  background-color: rgb(52, 179, 94);
}

.info {
  background-color: #00b87c;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
