@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

body {
  font-family: 'Lato', sans-serif !important;
}
.hero {
  margin-top: 100px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  height: 614px;
}

.heroheading {
  font-weight: 600;
  font-size: 38px;
  line-height: 38px;
  color: #333333;
}
.p {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
  color: #333333;
}

.heroText {
  width: 55%;
}

.button1 {
  display: inline-block;
  border-radius: 4px;
  color: white;
  background-color: #00b87c;
  padding: 16px;
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  text-decoration: none;
}

.button1:hover {
  background-color: rgb(52, 179, 94);
}

.plink {
  color: #00b87c;
  text-decoration-line: underline;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.info {
  background-color: #00b87c;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h6zuri {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}

.p1 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 130%;
  color: #ffffff;
}
.mobile {
  color: #ffffff;
  font-size: 30px;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}
.downloadButtonContainer {
  margin-bottom: 30px;
}

.downloadButton {
  display: inline-block;
  border-radius: 4px;
  color: #00b87c;
  background-color: white;
  padding: 16px 30px;
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  text-decoration: none;
  margin: 15px;
}

.downloadButton:hover {
  background-color: #e5e5e5;
  text-decoration: none;
  color: #00b87c;
}
.ctaContainer {
  display: flex;
  align-items: center;
  padding: 100px 70px;
  justify-content: space-between;
}

@media screen and (max-width: 1325px) {
  .container {
    margin-top: 50px !important;
  }
  .h1 {
    font-weight: 800;
    font-size: 32px;
    line-height: 50px;
  }
  .p {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
  }
  .circle {
    width: 196px;
    left: 420px;
  }
  .screenshot {
    width: 410px;
    top: 40px;
  }
  .buttondiv {
    padding: 16px !important;
    margin-bottom: 24px !important;
  }
  .h6zuri {
    font-size: 28px;
  }
  .p1 {
    font-size: 20px;
  }
  .mobile {
    font-size: 20px;
  }
  .plink {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .hero,
  .ctaContainer {
    padding: 100px 40px;
  }
  .heroheading {
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
  }
  .h1 {
    font-size: 28px;
  }
  .circle {
    width: 150px;
    left: 300px;
  }
  .screenshot {
    width: 360px;
  }
  .buttondiv {
    padding: 30px 0 0 !important;
  }
  .screen {
    width: 360px;
  }
  .h6zuri {
    font-size: 24px;
  }
  .p1 {
    font-size: 16px;
  }
  .mobile {
    font-size: 16px;
  }
}

@media screen and (max-width: 950px) {
  .h1 {
    font-size: 24px;
  }
  .circle {
    width: 125px;
    left: 205px;
  }
  .screenshot {
    width: 300px;
    top: 30px;
  }
  .buttondiv {
    padding: 40px 0 0 !important;
  }
  .button1 {
    font-size: 12px;
  }
  .plink {
    font-size: 14px;
  }
  .h6zuri {
    font-size: 20px;
  }
  .p1 {
    font-size: 14px;
  }

  .downloadButton {
    padding: 11px 22px;
    font-size: 13px;
    margin: 15px;
  }
}
