.containermain {
  max-width: 768px;
}

.container {
  height: 480px;
  background-color: #ECF8F5;
  color: #1d1c1d;
  overflow: hidden;
}

.containerfluid {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: #1d1c1d;
}

.zuritext {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 50px;
  color: #1d1c1d;
  padding-top: 30px;
}

.playstorediv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1c1d;
  width: 98%;
  height: 55px;
  margin: 18px 0;
  border-radius: 5px;
}

.newtext {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #1d1c1d;
  text-decoration: underline !important;
}

.phonediv {
  display: flex;
  width: 90%;
  margin: auto;
}

.PhoneDM,
.PhoneChannel {
  position: relative;
}

.PhoneDM {
  width: 310px;
  right: 23px;
  top: 90px;
}

.PhoneChannel {
  width: 310px;
  right: 280px;
  top: 60px;
}

.desktopdiv {
  background-color: #ffffff;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desktopbigtext {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #1d1c1d;
  margin: 10px 0;
  padding-top: 20px;
  text-align: center;
}

.desktopsmalltext {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #616061;
  text-align: center;
  margin: 10px 0;
}

.emailinput {
  width: 97%;
  margin: 10px 0;
  padding: 15px 5px 15px 5px;
  background-color: #ffffff;
  color: #bdbdbd;
  border: 1px solid #828282;
  border-radius: 5px;
  outline: none;
}

.btn {
  width: 100%;
  margin: 10px 0;
  padding: 20px;
  background-color: #00b87c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  outline: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
