:root {
  --primary-color: #00b87c;
  --primary-color-hover: rgba(0, 184, 124, 0.502);
  --primary-color-2: #e1fdf4;
  --secondary-color: #1264a3;
  --body-color: #1d1c1d; /* Header color */
  --body-shade: #1d1c1d; /* Header shade && Icon Color */

  /* text colors */
  --inactive-text: #b0afb0;
  --inactive-text-shade: #e7e7e7;
  --lines: #f6f6f6;

  /* Bg colors */
  --bg-1: #f6f6f6;
  --bg-2: #ffffff;

  /* Progress colors */
  --accent-color: #b8003c;
  --error-color: #f40101;
  --success-color: #008b5e;
  --success-color-2: #ffb425;
}
