.root {
    width: 40rem;
    height: 620px;
    margin: 20px auto;
    font-size: 10px;
    background-color: #FFFFFF;
    align-items: center; 
    justify-Content: center;
  }
  .title{
    align-items: center; 
    justify-Content: center;
  }
  .firsticon{
    padding-right: 9px;
  }
  main{
  font-size: 6px;
   }

  .submain{
    text-align: center; 
  }
  p{
    font-size: 15px ;
  }
  .btnd {
    background-color: rgba(0, 139, 94, 1);
    color: white;
    }
  button{
    background-color: #00B87C;
    padding-left: 9px;
  }