.inputsContainer {
  width: 100%;
  font-family: "Lato";
  padding-bottom: 3rem;
  font-family: "Lato";
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
}
.alonetext {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: "#1D1C1D";
  margin-left: 23px;
  margin-top: -15px;
  margin-bottom: -20px;
}
.spacingLeft {
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.head {
  font-family: "Lato";
  font-weight: 700;
  margin: 1rem 0;
  color: var(--text-color-gray-1);
  font-size: 1rem;
}

.checkInputGroup,
.checkInputGroup2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.checkInputGroup2 {
  margin-bottom: 0.8rem;
}

.chekedInput {
  width: 0.875rem;
  height: 0.875rem;
  background: var(--bg-color);
  border: 1px solid #999;
  border-radius: 2px;
  margin-right: 0.438rem !important;
  accent-color: #00b87c;
  outline: none;
}

.inputText,
.inputText2 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.3rem;
}

.inputText2 {
  margin-top: 0;
}

.inputParagraph,
.inputParagraph60,
.inputParagraph40 {
  font-size: 0.8125rem;
  font-weight: 400;
  color: var(--text-color-gray);
  line-height: 120%;
  padding: 0;
  margin: 0;
}

.note {
  font-family: Lato;
  width: 100%;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color-gray);
  margin-bottom: 10px;
}

.inputParagraph60,
.inputParagraph40 {
  color: var(--text-color-normal);
  margin-left: 4px;
}

.inputParagraph40 {
  margin-top: 0.4rem;
}

.highlights {
  color: rgba(0, 184, 124, 0.5);
  border: 1px solid rgba(0, 184, 124, 0.5);
  padding: 2px 0.5rem;
  border-radius: 3px;
  margin: 0 4px;
}

.radioInputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.radioInput {
  width: 0.75rem;
  height: 0.75rem;
  accent-color: #00b87c;
  outline: none;
}

.radioInfo {
  flex-grow: 1;
  font-size: 0.8125rem;
  color: var(--text-color-gray);
  margin-left: 0.625rem;
}

.multiSelect {
  accent-color: #00b87c;
  width: 100%;
  height: 3.5rem;
}

.line {
  border: 1px solid #f6f6f6;
  margin-top: 1.4rem;
  margin-left: 3rem;
  width: 130%;
  margin-bottom: 0.75rem;
}

.dropdownContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dropdownContainer:hover,
.dropdownContainer::selection {
  background-color: #f1fffa;
}

.pluginOptionWrapper {
  width: 100%;
}

.dropdownContent {
  padding: 0.5rem;
  padding-left: 1.5rem;
}

.pluginOptionsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
}

@media (max-width: 768px) {
  .spacingLeft {
    margin-left: 0;
    margin: 0 1rem;
    margin-bottom: 1.5rem;
  }

  .inputParagraph,
  .inputParagraph60,
  .inputParagraph40 {
    line-height: 1.5;
    margin-top: -0.6rem;
  }
}
@media (max-width: 768px) {
  .spacingLeft {
    margin-left: 0;
    margin: 0 1rem;
    margin-bottom: 1.5rem;
  }
  .inputParagraph,
  .inputParagraph60,
  .inputParagraph40 {
    line-height: 1.5;
    margin-top: -0.6rem;
  }
  .checkedInput {
    width: 20px;
    height: 0.875rem;
    background: var(--bg-color);
    border: 1px solid #999;
    border-radius: 2px;
    margin-right: 0.438rem;
    outline: none;
  }
  .inputText {
    display: flex;
    flex-wrap: wrap;
  }
  .inputParagraph {
    margin: 0;
  }
  .inputParagraph40 {
    margin: 0px;
  }

  .checkInputGroup2 {
    margin-bottom: 0.1px;
  }
}
