.dropDown {
  cursor: pointer;
}

.plugin_name,
.dropDown__name,
.icon,
.item__icon {
  color: #202020;
}

.plugin_name {
  font-weight: bold;
}

.plugin_name,
.dropDown__name {
  font-size: 1em;
}

.plugin_name,
.dropDown__title,
.dropDown__name {
  font-size: 1em;
  _font-weight: bold;
}

.dropDown__name {
  font-weight: normal;
}

.icon,
.item__icon {
  /* font-size: 1.2em; */
  width: 1rem;
  height: auto;
}

.icon {
  transform: rotate(-90deg);
  transition: all 0.2s ease-in-out;
}

.icon.open {
  transform: rotate(0deg);
}

.plugin__title,
.item__row {
  margin: 0.3em 0;
}

.item__row {
  display: none;
}

.item__row.open {
  display: block;
  _margin-inline-start: 0.5em;
}

.item__name {
  padding-inline-start: 2rem;
}

.item__image {
  width: 1.5rem;
  height: 1rem;
  font-size: 12px;
  _margin-right: 0.5em;
}

.optionsContainer {
  position: relative;
  z-index: 9999999;
}
