.dropDown {
  cursor: pointer;
}

.dropDown:hover,
.dropDown::selection {
  background-color: #f1fffa;
}

.dropDown__name {
  color: #454545;
  /* padding-inline-start: 0.2rem; */
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.item__image {
  width: 30px;
  /* margin-inline-end: 0.1rem; */
}
.item__list {
  white-space: nowrap;
  cursor: pointer;
}

.plugin_name,
.dropDown__name,
.icon,
.item__icon {
  color: #454545;
}

/* .plugin_name {
  font-weight: bold;
} */

.plugin_name,
.dropDown__name {
  font-size: 0.935em;
}

.dropDown__title {
  text-transform: capitalize;
}

.plugin_name,
.dropDown__title,
.dropDown__name {
  color: #454545;
  padding-inline-start: 0.5rem;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  /* font-size: 0.935em; */
  /* font-weight: bold; */
}

/* .dropDown__name {
  font-weight: normal;
} */

.icon,
.item__icon {
  /* font-size: 1.2em; */
  width: 24px;
  height: 1rem;
}

.icon {
  transform: rotate(-90deg);
  transition: all 0.2s ease-in-out;
}

.icon.open {
  transform: rotate(0deg);
}

.plugin__title,
.item__row {
  margin: 0.3em 0;
}

.openWrapper {
  background-color: #e6fff6;
}

.item__row {
  display: none;
}

.item__row.open {
  display: block;

  /* margin-inline-start: 0.5em; */
}

.item__name {
  padding-inline-start: 2rem;
}

.item__image {
  width: 0.75rem;
  height: 0.75rem;
}

.optionsContainer {
  position: relative;
  z-index: 9999999;
}
