.dropDown {
  cursor: pointer;
}

.plugin_name,
.dropDown__name,
.icon,
.item__icon {
  color: #202020;
}

.plugin_name {
  font-weight: bold;
}

.plugin_name,
.dropDown__name {
  font-size: 0.935em;
}

.plugin_name,
.dropDown__title,
.dropDown__name {
  font-size: 0.935em;

  /* font-weight: bold; */
}

.dropDown__name {
  font-weight: normal;
}

.icon,
.item__icon {
  /* font-size: 1.2em; */
  width: 24px;
  height: 1rem;
}

.icon {
  transform: rotate(-90deg);
  transition: all 0.2s ease-in-out;
}

.icon.open {
  transform: rotate(0deg);
}

.plugin__title,
.item__row {
  margin: 0.3em 0;
}

.openWrapper, .openWrapper * {
  background-color: #00B87C;
}

.item__row {
  display: none;
}

.item__row.open {
  display: block;

  /* margin-inline-start: 0.5em; */
}

.item__name {
  padding-inline-start: 2rem;
}

.item__image {
  width: 0.75rem;
  height: 0.75rem;
}

.optionsContainer {
  position: relative;
  z-index: 9999999;
}
