
.modalCon {
  display: none;
  background: #ffffff;
  color: #000;
  position: absolute;
  top: 7.2%;
  left: 5%;
  width: 100%;
  max-width: 281px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  /* padding: 10px 0; */
  z-index: 9999; 
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.open {
  display: block;
  background: #fff;
  color: #000;
  position: absolute;
  top: 7.2%;
  left:5%;
  width: 100%;
  max-width: 281px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.modalSection {
  display: flex;
  padding: 5px auto;
  width: 100%; 
  margin: 11px auto;
  padding: 0 1rem;
  font-size: 15px;
  position: relative;
  cursor: pointer;
}

.modalSection p{
  color: #333333;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding: 0.2rem 0;
  cursor: pointer;
}


/* .modalSubSection{
  position: relative;
 padding-right: -1rem;
} */

.modalDivider {
    height: 15px;
    background: #E7E7E7;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .logo{
    height: 100%;
  }
  

   .header h5{
     color: #333333;
     font-size: 15px;
     font-style: bold;
     font-weight: 700;
     margin: 0;
     line-height: 18px;
   }

   .header span{
     color: #8C8C8C;
     font-size: 11px; 
     font-style: normal;
     line-height: 13px;
     margin: 0;
   }

   .info h6{
    font-size: 14px;
    font-weight: 600;
    margin: 0;
   }

   .info .infoHeader{
    color: #333333;
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;
    margin: 0;
   }

   .info p{
    color: #616061;
    font-size: 11px;
    font-style: mixed;
    line-height: 14px;
    margin: 0;
    display: inline;
   }

   .info span{
     font-size: 11px;
     line-height: 14px;
     color: #00B87C;
     display: inline;
   }

   .infoChart img{
     width: 30px;
     height: 30px;
   }

   .arrow{
     color: #333333;
     width: 0.7rem;
     cursor: pointer;
   }

   /* .info .infoP{
     padding: 0;
     margin: 0;
     line-height: 5px;
   } */

    /* .modalSection .popover{
      font-size: 12px;
      display: inline;
    } */

    /* 
    for modal grid use boootstrap classes
    d-flex align-items-center justify-content-between
    */

    .modalSubCon {
      display: none;
      background: #ffffff;
      color: #000;
      position: absolute;
      top: 0%;
      left: 110%;
      width: 100%;
      max-width: 281px;
      border: 1px solid #bebebe;
      border-radius: 5px;
      /* padding: 10px 0; */
      z-index: 9999;
      transition: all 5s ease-in 3s;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .openmodalSubCon {
      display: block;
      background: #ffffff;
      color: #000;
      position: absolute;
      top: 30%;
      left: 95%;
      width: 100%;
      max-width: 281px;
      border: 1px solid #bebebe;
      border-radius: 5px;
      /* padding: 10px 0; */
      z-index: 9999; 
      transition: all 5s ease-in 3s;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }


