/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */
.container ul {
  list-style: none;
  color: #000;
}
.container a {
  text-decoration: none;
  color: #000;
}

.container {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-block-end: 2rem;
  /* height: 100%; */
  /* overflow: auto; */
  /* width: 100%; */
  /* overflow-y: scroll; */
  /* padding-top: 4.3rem; */
}

/* .container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fff;
} */

/* .container::-webkit-scrollbar {
  width: 12px;
  background: #fff;
} */

/* .container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f6f6f6;
} */

/* .zuriLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.875em;
  margin-top: 1.5625em;
  margin-bottom: 0.639375em;
} */

/* .zuriLogo p {
  color: #393939;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 1.4425em;
  padding: 0;
  margin: 0;
  margin-left: 0.38em;
} */

.orgInfo {
  background-color: #00b87c;
  /* height: 3.125em; */
  height: 7vh;
  /* display: flex; */
  /* flex-direction: row; */
}

.orgName {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* margin-left: 1.875em;
  align-items: center;
  height: 3.125em; */
}

.orgInfo .orgName p {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  /* font-size: 1.125em; */
}

/* .orgInfo .orgName img {
  margin: 1em 0 1em 0.65625em;
} */

.newMessage {
  border-radius: 50%;
  height: 2em;
  width: 2em;
  background-color: #ffffff;
  align-self: center;
  margin-left: 6.6875em;
  margin-right: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.channelsContainer {
  margin-top: 0.5em;
}

.channelHeader {
  display: flex;
  flex-direction: row;
  margin-left: 1.875em;
  align-items: center;
  height: 2em;
}

.channelHeader p {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #999999;
}

.channelDropdownIcon {
  margin: 1em 1em 1em 0;
}

.channelAddBtn {
  margin-left: 6em;
  margin-right: 1.25em;
}

.channelNames {
  margin-left: 3.5em;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #999999;
}

.channelNames p > span {
  margin-right: 0.5em;
}

.messagesContainer {
  margin-top: 0.5em;
}

.messageHeader {
  display: flex;
  flex-direction: row;
  margin-left: 1.875em;
  align-items: center;
  height: 2em;
}

.messageHeader p {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #999999;
}

.messageDropdownIcon {
  margin: 1em 1em 1em 0;
}

.messageAddBtn {
  margin-left: 6em;
  margin-right: 1.25em;
}

.messageNames {
  margin-left: 3.5em;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #999999;
}

.messageNames p > span {
  margin-right: 0.5em;
}

.messagesContainer {
  margin-top: 0.5em;
}

.messageHeader {
  display: flex;
  flex-direction: row;
  margin-left: 1.875em;
  align-items: center;
  height: 2em;
}

.messageHeader p {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #999999;
}

.messageDropdownIcon {
  margin: 1em 1em 1em 0;
}

.messageAddBtn {
  margin-left: 6em;
  margin-right: 1.25em;
}

.messageNames {
  margin-left: 2.5em;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #999999;
}

.messageNames p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.messageNames p > span {
  margin-right: 0.5em;
}

.channelItem {
  cursor: pointer;
  padding: 0.4rem 0;
}

.buttonstyle button {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
