.sidebarContainer{
    background-color: #009967;
    color: white;
    padding: 40px 32px;
}
.topTitleContainer{
    text-align: center;
}

.topTitleContainer h1{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0;
}
.topTitleContainer p {
    font-size: 13px !important;
    margin-top: -10px;
}

.contactMenuDataContainer{
    margin-top: 32px;
}
.contactDataGroup{
    display: flex;
    align-items: start;
    gap: 12px;
    margin-bottom: 2rem;
}
.contactDataIcon{
    height: 15px;
}
.contactData{
    margin-top: -2px;
    display: flex;
    flex-direction: column;
    gap: 1;
}
.contactDataTitle{
    font-weight: 500;
}
.contactDataDesc{
    font-size: 90% !important;
}
.contactDataAttachment{
    font-weight: 500;
    font-size: 0.8rem !important;
}
.socialGroup{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}
.socialGroup img{
    height: 20px;
    margin: 0 .5rem;
}