.contactPageContainer {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  --type-scale: 1;
  --height-scale: 1;
}

.contactHead {
  width: 100%;
  margin-top: 75px;
  text-align: left;
}

.boardContainer{
  display: flex;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .contactHead p {
    max-width: 300px;
  }

  .boardContainer{
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
  }
}
