.contactMainBoardContainer {
  flex: 1 1 0%;
}

.contactMainBoardInnerContainer {
  width: 70%;
  max-width: 880px;
  margin: auto;
  padding: 0.5rem 0;
}
.contactMainBoardTitleContainer h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
}
.contactFormContainer {
  margin-top: 2rem;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.inputGroup label {
  font-size: 13px;
  font-weight: 600;
}
.inputGroup input,
.inputGroup textarea {
  padding: 12px;
  background-color: white;
  border: 1px solid #999899;
  color: #151517;
  font-weight: 500;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 12px;
  outline: none;
}

.inputGroup textarea {
  height: 190px;
}

.inputGroup input::placeholder {
  color: #999899;
}

.inputGroupCheckBox {
  display: flex;
  margin-bottom: 1.5rem;
}
.inputGroupCheckBox label {
  font-size: 13px;
  margin-left: 8px;
}

.contactBtn {
  padding: 0.75rem 2rem;
  border: 1px solid #009967;
  background-color: #009967;
  color: white;
  font-weight: 500;
  border-radius: 4px;
}
.privacyPolicy {
  font-size: 14px;
  padding: 1rem 0;
  color: #0D6EFD;
  transition: ease-in-out cubic-bezier(0.075, 0.82, 0.165, 1);
}
.privacyPolicy a:hover {
  color: #0d56c4 !important;
  text-decoration: underline;
}
@media only screen and (max-width: 900px) {
  .contactMainBoardInnerContainer {
    width: 80%;
    margin: auto;
    padding: 2rem 0;
  }
}
@media only screen and (max-width: 500px) {
  .contactMainBoardInnerContainer {
    width: 90%;
    margin: auto;
    padding: 2rem 0;
  }
}
