@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.Button{
  background: #00B87C;
border-radius: 3px;
font-weight: 600;
border:none;
color:#fff;
padding:1em 2em;
}
.Note{
    color: #616061;
    padding:2em 0 1em;
}

Input::placeholder{
    font-weight:400;
    color: #1D1C1D;
}
.Half{
    width:50%;
    padding:0.5em;
}
.Half::placeholder{
    text-align: right;
    
}

