@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.Notice {
    border-left: solid 0.5em red;
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 1em;
    padding: 1.2em 0;
}

.Cancel {
    border: solid 0.15em #616061;
    background-color: #ffff;
    padding: 1em 1.4em;
    margin-left: 1em;
    color: #1D1C1D;
    border-radius: 5px;
}

.Cancel button:hover {
    background-color: green;
    color: #fff;
}

.InputArea {
    border: 1px solid black;
    width: auto;
    border-radius: 5px;
    height: 30px;
    padding: 10px;
}

button:hover {
    color: red;
    border: solid 1px red;
}

.Span {
    color: #00B87C;
}
