.root {
  width: 40rem;
  height: 620px;
  margin: 20px auto;
  font-size: 10px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
}
.title {
  align-items: center;
  justify-content: center;
}
.firsticon {
  padding-right: 9px;
}
main {
  font-size: 6px;
}

.submain {
  text-align: center;
}
.paragraph {
  font-size: 15px;
}
.cardText {
  font-size: 12px;
  padding: 20;
  width: 500;
}
.cardText1 {
  font-size: 12px;
  padding: 5;
  width: 500;
}
.cardText2 {
  font-size: 12px;
  padding: 16;
  width: 500;
}
.btnr {
  background-color: #00b87c;
  color: white;
  padding-left: 9px;
}
