.main {
    height: 100%;
    background-color: red;
    background-size: cover;
}

.whyzuri {
    margin-left: 1rem;
    margin-right: 1rem;
}

.text {
    width: 100%;
    max-width: 685px;
    font-size: 16px;
    font-weight: 400;
    margin: 2.5rem auto 2rem;
}

.heading {
    padding-top: 10rem;
    text-align: center;
    margin-bottom: 2rem;    
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button {
    height: 56px;
    width: 166px;
    border-radius: 4px;
    font-size: 20px;    
}

.buttons button:nth-of-type(1) {
    background: #009967;
    color: white;
    margin-right: 1rem;
}

.buttons button:nth-of-type(2) {
    background: white;
    border: 1.8px solid #009967;
    color: #009967;
    margin-left: 1rem;
}

.benefit_boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2.5rem;
    grid-gap: 1.2rem;
    justify-content: center;
}

.benefit_boxes img {
    width: 200px;
    margin-bottom: 0.8rem;
}

.benefit_boxes p {
    color: #323132;
    width: 100%;
}

.grid_2 {
    width: 100%;
    max-width: 1280px;  
    margin-left: auto;
    margin-right: auto;
}

.benefit_boxes h3 {
    margin-bottom: 1.2rem;
}

.benefit_boxes article {
    width: 100%;
    border: 0.5px solid #999899;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    line-height: 36px;
    margin-top: 2rem;
    height: 100%;
}

.benefit_boxes article:nth-of-type(2) {
    padding-bottom: 2rem;
}

.why_cards {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 4rem;
}

.why_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why_card img {
    width: 100%;
    max-width: 658px;
}

.why_card p {
    width: 100%;
    max-width: 467px;
    line-height: 36px;
    font-size: 20px;
}

.why_card h3 {
    margin-bottom: 1.5rem;
    font-size: 30px;
    line-height: 2em;
}

.why_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;   
}

.why_head h3 {
    max-width: 700px;
}

.why_head p {
    width: 100%;
    max-width: 500px;  
}

.why_head p {
    line-height: 36px;
   margin-top: 1.3rem;
}

.percentages h3 {
    color: #009967;
}

.percentages div {
    margin-top: 1rem;  
}

.percentages h4 {
    font-size: 26px;
    max-width: 321px;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 452px) {
    .benefit_boxes {
        grid-template-columns: 1fr;
    }

}
@media only screen and (min-width: 860px) {
    .heading {
        font-size: 60px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .benefit_boxes article {
        width: 100%;
    }

    .why_cards {
        width: 95%;
    }

    .why_card {
        flex-direction: row;
        justify-content: space-between; 
    }

    .why_card h3 {
        font-size: 55px; 
    }

    .why_card:nth-of-type(2) {
        flex-direction: row-reverse;
    }

    .why_head { 
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: auto;
        margin-left: 3rem;
    }

    .why_head h3 {
        font-size: 55px;
    }

    .second_flex {
        display: flex;
    }

    .percentages{ 
        margin-bottom: 15rem;
    }

    .percentages div {
        margin-left: 1rem;
    }
}