/** @format */

/* .optionsPopUp {
	position: fixed;
	top: 10%;
	right: 10%;
	bottom: 10%;
	left: 10%;
	padding: 10px;
	box-shadow: 0 10px 30px 0 rgba(127, 127, 127, 0.3);
	background: rgba(255, 255, 255, 0.8);
} */

.popup {
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.1);
}
.popupInner {
	position: absolute;
	padding: 4px;
	left: 75%;
	right: 10%;
	top: 25%;
	width: 100%;
	z-index: 4;
	/* margin: auto; */
	background: white;
}
