/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */

.section2 {
  display: none;
}

@media only screen and (min-width: 600px) {
  .adjust {
    margin-top: 15px;
  }

  .adjustWok {
    margin-top: 17px !important;
  }

  .table_container {
    display: flex;
    justify-content: flex-start;
    margin: auto 206px;
    font-family: 'Lato', sans-serif;
    /* line-height: 32px; */
  }

  .btn {
    text-align: center;
    color: #00b87c;
    border-bottom: solid 1px #00b87c;
  }

  a:hover {
    color: #8ab1a4;
  }
  table {
    border-collapse: separate;
    border-spacing: 25px 0px;
    padding: 0px;
    margin: 0px;
  }

  thead th {
    padding-top: 30px;
  }

  tbody th {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  thead th {
    width: 150px;
    text-align: center;
  }

  td {
    text-align: center;
    font-size: 0.8rem;
  }

  td.head {
    text-align: left;
  }

  .sidebar {
    width: 200px;
  }

  .sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  th.label {
    font-weight: normal;
    font-size: 1rem;
  }

  .tableRow td {
    /* margin-top: 3rem; */
    padding-top: 1.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.2rem;
  }

  .sidebar tr {
    background-color: white;
  }

  .btnGroup {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .col1 {
    padding: 82px 55px;
  }

  .col2 {
    width: 167px;
    height: auto;
    background-color: #f2f2f2;
    padding: 24px 0;
    margin-right: 29px;
    justify-content: center;
  }

  .colHeader {
    padding-bottom: 8px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .headText {
    text-align: center;
    margin-bottom: 30px;
  }

  .col2 p {
    text-align: center;
  }

  p {
    font-size: 13px;
    padding: 11.2px 16px;
  }

  .section2 {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .adjust {
    margin-top: 15px;
  }

  .adjustWok {
    margin-top: 17px !important;
  }

  .table_container {
    display: flex;
    justify-content: flex-start;
    margin: auto 206px;
    font-family: 'Lato', sans-serif;
    /* line-height: 32px; */
  }

  .btn {
    text-align: center;
    color: #00b87c;
    background-color: white;
    font-size: 13px;
    padding-top: 15px;
    border-bottom: solid 1px #00b87c;
    border: none;
    /* text-decoration: none; */
  }

  a:hover {
    color: #8ab1a4 !important;
  }
  table {
    border-collapse: separate;
    border-spacing: 25px 0px;
    padding: 0px;
    margin: 0px;
  }

  thead th {
    padding-top: 30px;
  }

  tbody th {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  thead th {
    width: 150px;
    text-align: center;
  }

  td {
    text-align: center;
    font-size: 0.8rem;
  }

  td.head {
    text-align: left;
  }

  .sidebar {
    width: 200px;
  }

  .sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  th.label {
    font-weight: normal;
    font-size: 1rem;
  }

  .tableRow td {
    /* margin-top: 3rem; */
    padding-top: 1.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.2rem;
  }

  .sidebar tr {
    background-color: white;
  }

  .col1 {
    padding: 82px 55px;
  }

  .col2 {
    width: 167px;
    height: auto;
    background-color: #f2f2f2;
    padding: 24px 0;
    margin-right: 29px;
    justify-content: center;
  }

  .colHeader {
    padding-bottom: 8px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .headText {
    text-align: center;
    margin-bottom: 30px;
  }

  .col2 p {
    text-align: center;
  }

  p {
    font-size: 13px;
    padding: 11.2px 16px;
  }

  .section2 {
    display: block;
  }
}
