.wrapper img {
  width: 100px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 20px;
}
.container {
  margin: 20px;
}
.container > div {
  justify-content: space-between;
  box-sizing: border-box;
}
@media only screen and (max-width: 578px) {
  .container > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    --bs-gutter-x: 0px;
  }
}
