.section2 {
  margin-top: 115px;
  background-color: #f7f5f5;
  height: 249px;
  /* align-items: center; */
  /* justify-content: space-around; */
}
.section2 p {
  align-items: center;
  justify-content: center;
  padding: 32px 10px 40px 430px;
  font-weight: 700;
  font-size: 22px;
}
.section2Wrapper {
  /* align-items: center; */
  display: flex;
  width: 78%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 170px;
}
.imageWrapper img {
  width: 100%;
}
@media (max-width: 800px) {
  .section2 {
    margin-top: 30px;
  }
  .section2Wrapper {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    padding-left: 50px;
    gap: 30px;
  }
  .section2 p {
    width: 800px;
    padding: 32px 10px 30px 150px;
  }
}
@media (max-width: 578px) {
  .section2 {
    height: 110px;
  }
  .section2 p {
    /* width: 370px;
   padding: 5px 10px 30px 10px;
   font: size 9px;
   font-weight: 60; */
    display: none;
  }
  .section2Wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    text-align: center;
    align-items: center;
    padding: 10px 10px 0 5px;
  }
}
