@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
* {
  font-family: 'Lato', sans-serif;
}
/* h2 {
  font-size: 28px;
  color: #1a61db;
} */
.total {
  display: flex;
  margin-top: 15px;
  padding: 40px;
  margin-bottom: 15px;
  flex-direction: row;
  grid-gap: 20px;
}
.feat {
  width: 100%;
  padding-right: 30px;
}
.feat p {
  line-height: 1.5;
  font-size: 24px;
}
h3 {
  margin-top: 0px;
  font-size: 56px;
  margin-bottom: 0px;
}
.button {
  padding: 15px;
  font-size: 24px;
  cursor: pointer;
}
.getStarted {
  background-color: #b5b6b6;
  background-color: #00b87c;
  border: 2px solid #00b87c;
  padding: 15px 20px 15px 20px;
  color: white;
}
.features {
  margin-left: 20px;
  background-color: transparent;
  color: #00b87c;
  border: 2px solid #00b87c;
}
.groupImage {
  margin-top: 40px;
  width: 100%;
}

@media screen and (max-width: 1085px) {
  .feat p {
    font-size: 20px;
  }
  h3 {
    margin-top: 0px;
    font-size: 45px;
    margin-bottom: 0px;
  }
  button {
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
  .feat p {
    font-size: 20px;
  }
  h3 {
    margin-top: 0px;
    font-size: 40px;
    margin-bottom: 0px;
  }
  button {
    padding: 10px;
    font-size: 18px;
  }
  .getStarted {
    padding: 10px 20px 10px 20px;
  }
}

@media screen and (max-width: 750px) {
  .total {
    flex-direction: column;
  }
  .feat p {
    font-size: 24px;
  }
  h3 {
    margin-top: 0px;
    font-size: 56px;
    margin-bottom: 0px;
  }
  button {
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
  }
  .getStarted {
    padding: 15px 20px 15px 20px;
  }
}

@media screen and (max-width: 500px) {
  .total {
    padding: 20px;
  }
  .feat p {
    font-size: 24px;
  }
  h3 {
    margin-top: 0px;
    font-size: 45px;
    margin-bottom: 0px;
  }
  button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .getStarted {
    padding: 10px 20px 10px 20px;
  }
  .btn {
    text-align: center;
  }
}
@media screen and (max-width: 387px) {
  .features {
    margin: 20px 0px 10px 0px;
    background-color: transparent;
    color: #00b87c;
    border: 2px solid #00b87c;
  }
}
