.clearTime {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.clear_time_select select:focus {
  outline: none;
  box-shadow: none;
}
.clear_time_select select:hover {
  outline: none;
  cursor: pointer;
  box-shadow: none;
}

.clear_time_option {
  outline: none;
  border: none;
}
