.status__container h2 {
  font-size: 1.4em;
}
.status__container p {
  font-size: 1.2em;
}
.status_settings {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.status_settings p {
  font-size: 1em;
}
.set_status {
  width: 70%;
}
.set_status > div > input {
  width: 95%;
  position: relative;
  /* height: 3em; */
  font-weight: light;
  color: #1d1c1d;
  padding: 0.3em 0 0.3em 2.5em;
  border-radius: 4px;
  border: 1px solid #1d1c1d;
  font-size: 1.1em;
}
.set_status_text {
  position: relative;
  margin: 1em 0;
}
.set_status_text > button {
  z-index: 1;
  top: 5%;
  position: absolute;
  height: inherit;
  padding: 0 0.5em;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
}

.status__container ul > li {
  list-style: disc;
}
.status_tips li {
  font-size: 1.1rem;
  font-weight: light;
}

.btn_save_status {
  padding: 0.5em 1em;
  margin-right: 2em;
  border-radius: 5px;
}
.btn_save_status_change {
  padding: 0.5em 1em;
  margin-right: 2em;
  border-radius: 5px;
  color: white;
  background-color: #158567;
}
