@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999999;
}
.modalcontent {
  width: 50%;
  background-color: #fff;
  border-radius: 0.625rem;
}
.top {
  display: flex;
  justify-content: space-between;
}
.inviteclose {
  padding: 1.25rem;
  display:none;
}

.modalbody {
  padding: 0 1.31rem 1.31rem 1.31rem;
  font-family: "Lato";
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.875rem auto 0.95rem auto;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.done {
  padding: 0.625rem;
}
.done button {
  background-color: #00b87c;
  font-family: "Lato";
  color: #ffffff;
  border-radius: 0.188rem;
  padding: 0.625rem 1.25rem;
  border: none;
  cursor:pointer;
}

.done button:hover {
  transform: scale(1.1);
}

.footer{
    display:flex;
    justify-content: flex-end;
    margin:0.625rem 0.188rem;
}

.inviteclose button {
  background-color: white;
  border: none;
}
.inviteclose button:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 480px) {
  .modalcontent {
    width: 50%;
    background-color: #fff;
    border-radius: 0.625rem;
  }
}