.Header {
  height: 6vh;
  background-color: #00b87c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
}

.header_p {
  color: white;
  font-weight: bold;
  font-size: 1.125em;
  padding-right: 8px;
  line-height: 1.2em;
}

.resultCard {
  padding: 0.5em;
  line-height: 1.8em;
}

.total {
  font-weight: bold;
  font-size: 1em;
  padding-top: 0.5em;
}

.noResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.no_result_title {
  font-size: 15px;
  color: #3f0e40;
  line-height: 1.46668;
  font-weight: 400;
  font-weight: 900;
}

.no_result_desc {
  margin: 0.8em 0;
  font-size: 1.05em;
  line-height: 1.46668;
  font-weight: 400;
  word-break: break-word;
  overflow-wrap: break-word;
}

.startNewSearch {
  padding: 0.5em 1em;
  background-color: white;
  border: 1px solid lightgreen;
  border-radius: 0.2em;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
}

.filter-search-type {
  display: inline-flex;
  gap: 20px;
  position: fixed;
  background: #fff;
  width: 100%;
  margin-top: 44px;
  padding: 15px 30px 0 10px;
}

.filter-search-type span {
  cursor: pointer;
  margin-bottom: 10px;
}

.file-card {
  display: flex;
  gap: 20px;
  margin: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px 10px;
  cursor: pointer;
}

.file-card:hover {
  box-shadow: 0 5px 20px -10px lightgrey;
}

.file-card img {
  height: 60px;
  width: 60px;
  border-radius: 5px;
}

.file-card p:first-of-type {
  font-weight: bold;
}

.file-card p:nth-of-type(2) {
  font-size: 0.8em;
}

.people-card {
  display: flex;
  gap: 10px;
  margin: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px 10px;
  cursor: pointer;
}

.people-card:hover {
  box-shadow: 0 5px 20px -10px lightgrey;
}
.people-card img {
  height: 80px;
  width: 80px;
  border-radius: 5px;
}

.people-card p:first-of-type {
  font-weight: bold;
  font-size: 1.2em;
}

.people-card p:nth-of-type(2) {
  font-size: 1em;
}

.people-card p:nth-of-type(3) {
  font-size: 0.8em;
}

.channel-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin: 15px;
  border: 1px solid lightgray;
  padding: 15px 10px;
  cursor: pointer;
}

.channel-card:hover {
  box-shadow: 0 5px 20px -10px lightgrey;
}

.channel-card p:first-of-type {
  font-weight: bold;
  font-size: 1.2em;
}

.channel-card p:nth-of-type(3) {
  font-size: 0.8em;
  color: gray;
}

.channel-card button {
  font-size: 1em;
  font-weight: 700;
  background-color: #00b87c;
  color: #fff;
  border-radius: 5px;
  padding: 0.4em 1em;
  margin-right: 15px;
}
