@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
.container {
  display: flex;
  align-items: center;
  height: 5.0625em;
  margin-right: 1.875em;
  justify-content: space-between;
  width: 100%;
  padding: 10px 25px;
  position: relative;
}

@media screen and (max-width: 800px) {
  .container {
    justify-content: flex-end;
  }
}
.fontStyles {
  font-size: 1.3rem;
}

.membersModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  z-index: -1;
}

.profile {
  background-color: #acffe6;
  border-radius: 50%;
  display: flex;
  margin-left: -0.3em;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 2.5em;
  cursor: pointer;
  position: relative;
}

@media screen and (min-width: 900px) {
  .profile {
    margin-left: 0.8rem;
  }
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.statusContent {
  text-align: left;
  font-size: 0.9rem;
  margin-left: 1rem;
}

.circles {
  background: green;
  height: 7px;
  width: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
}

.circleAway {
  background: grey;
  height: 7px;
  width: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
}

.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
}

.search {
  width: 390px;
  height: 32px;
  margin-right: 1em;
  background: rgba(255, 255, 255, 0.4);
  border: 0.8px solid rgba(153, 153, 153, 0.2);
  box-sizing: border-box;
  border-radius: 3px;
}

.search::placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #999999;
  padding-left: 0.2em;
}

.settings {
  margin-right: 20px;
}

/* =========================================== */

/* THE SECTION OF THE TOP BAR MODAL */

.topbarModal {
  background: var(--bg-color);
  position: absolute;
  top: 100%;
  right: 22px;
  /* width: 100%;
  max-width: 326px; */
  width: 326px;
  max-width: calc(100% - 24px);
  z-index: 9999;
  border: 1px solid #bebebe;
  border-radius: 4px;
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
}

.modalContainers {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.7);
  display: grid;
  place-items: center;
}

.modalBackDrop {
  position: absolute;
  z-index: 3;
  /* background: var(--bg-color); */
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
}

/* The section one */

.sectionOne {
  display: flex;
  align-items: center;
  margin: 1.5rem;
  margin-bottom: 1rem;
}

.oneLeft {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.oneLeft img {
  object-fit: cover;
  width: 44px;
  height: 44px;
  border-radius: 4px;
  background: #00b87b44;
}

/* THE SECTION OF THE ONE RIGHT */

.oneRight {
  margin-left: 1rem;
}

.oneRight h4 {
  font-size: 15px;
  font-family: Lato;
  font-weight: 900;
  color: #242424;
  margin: 0;
  line-height: 19.5px;
  /* margin-top: 12px; */
}

.online {
  display: flex;
  align-items: center;
  margin-top: 4px;
  gap: 8px;
}

/* set yourself as away*/

/* set yourself as active*/

.active,
.away {
  font-size: 13px;
  line-height: 16.9px;
  color: #3a3a3a;
}

.activeCircle,
.awayCircle {
  height: 6px;
  width: 6px;
  border-radius: 50%;
}

.activeCircle {
  background-color: #11855f;
}

.awayCircle {
  background-color: grey;
}

.oneRight p {
  font-size: 12px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  color: var(--text-color-normal);
}

/* The section two */

.sectionTwo {
  background: #f6f6f6;
  padding: 0 0.5rem;
  margin: 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  /* border: 1px solid #a1a1a1; */
  cursor: pointer;
  height: 32px;
  position: relative;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.sectionTwo .emoji {
  /* float: left; */
  font-size: 18px;
  width: 30px;
  height: 100%;
  display: grid;
  place-items: center;
}

.defalutEmoji {
  height: 18px;
}
/* The section of the picker */

.picker {
  position: fixed;
  top: 20%;
  left: 50%;
  width: 300px;
  z-index: 999999;
  padding: 10px;
}

/* responsiveness for picker */

@media screen and (max-width: 650px) {
  .picker {
    left: 30%;
  }
}

.times {
  color: red;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  display: none;
}

/* Option section */
.optionSection {
  margin: auto;
}

.optionSection p {
  font-family: Lato;
  color: #3a3a3a;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 5px 1.5rem;
  margin-bottom: 5px;
  transition: 100ms ease background, 100ms ease color;
}
.optionSection:last-child p {
  margin-bottom: 1.3rem;
}

.optionSection a {
  color: #3a3a3a;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.5px;
}

.optionSection p:hover,
.optionSection a:hover {
  background: #01d892;
  color: #fff;
}

/* hr */

.hr {
  /* border: 1.2px solid #e5e1e1; */
  width: 100%;
  margin: 0.5rem 0;
  height: 1.2px;
  background: #bebebe;
}

.pause {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.pause:hover {
  background: #01d892;
  color: #fff;
}

.pause:hover p {
  background: #01d892;
  color: #fff;
}

.chevron {
  color: #333333;
  font-size: 8px;
  font-weight: normal;
  margin-right: 20px;
}
