.topNavBar__header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger__menu-button {
  outline: none;
  border: none;
  background: transparent;
}

@media only screen and (min-width: 768px) {
  .hamburger__menu-button {
    display: none;
  }
}

.mobile__sidebar__open,
.mobile__sidebar {
  top: 48px;
  width: 17.9em;
  position: fixed;
  left: 0px;
  background-color: white;
  display: block;
  z-index: 5;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  visibility: visible;
}

.mobile__sidebar {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.notification_modal{
  display:none;
}
.mobile__sidebar__open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.mobile__sidebar::after {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mobile__sidebar__open,
  .mobile__sidebar {
    display: none;
  }
  .notification_modal{
    display:block;
  }
}

.topNavBar__logo {
  width: 100%;
}

.status__tool__tip div {
  padding: 2px 7px;
}
