.bannerContainer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.bannerBox {
  background-color: rgb(240, 240, 240);
  padding: 2rem;
  margin: 5rem 10rem 2rem 3rem;
  border-radius: 20px;
  position: absolute;
  bottom: 0px;
}

.bannerLogo {
  display: grid;
  justify-content: center;
  align-items: center;
}

.bannerTitle h1 {
  font-family: 'Gilroy', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
  text-align: center;
  font-size: 1.2rem;
  margin: -1rem;
  font-weight: bold;
}

.bannerText p {
  font-family: 'Gilroy', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
  text-align: left;
  line-height: 1.3;
  font-size: 1.1rem;
  display: inline-block;
}

.bannerText p a {
  color: red;
  font-size: 1rem;
}

.button {
  margin-top: 1rem;
  padding: 0.8rem 4rem;
  border-radius: 100px;
  border: none;
}

.bannerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.allowButton {
  background-color: rgb(0, 172, 134);
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.allowButtons:hover {
  background-color: rgb(0, 124, 97);
}

.settingsButton {
  background-color: white;
  margin-left: 5rem;
}

.settingsButton a {
  color: #000;
  font-weight: bold;
  font-size: 1rem;
}

.bannerButtons .settingsButton:hover {
  color: rgb(187, 0, 0);
}

@media screen and (max-width: 890px) {
  .button {
    width: 100%;
    height: 3rem;
  }

  .settingsButton {
    margin-left: 0;
  }
}

@media screen and (max-width: 720px) {
  .bannerContainer {
    margin: 0 2rem;
    width: 29%;
  }

  .bannerTitle h1 {
    font-size: 1.1rem;
    margin: -1rem;
  }

  .bannerBox {
    padding: 3rem 2rem;
    margin: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .bannerContainer {
    margin: 0 auto;
    width: 25%;
  }

  .button {
    width: 100%;
    height: 3rem;
  }

  .settingsButton {
    margin-left: 0;
  }
}
