.modalContainer {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    /* padding: 12rem 24rem 17rem; */
}

.overlay,
.overlayGreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    cursor: pointer;
}

.modalActive {
    display: flex;
}

.modalContent,
.modalFull {
    /* width: 89%; */
    /* max-width: 885px; */
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.modalCont {
    overflow-y: scroll;
    height: 100%;
}

.modalHeader,
.modalHeaderMobile {
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 1.5rem;
    font-weight: 700;
    font-size: 1.2rem;
    z-index: 999;
    position: sticky;

    top: 0;
    left: 0;
    right: 0;
}

.closeIcon,
.closeIconPath,
.backIcon {
    width: 0.7rem;
    width: 0.7rem;
    cursor: pointer;
}

/* .closeIconPath {
  path: #333;
} */

.closeIcon path {
    fill: #616061;
}

/* .closeIcon:hover path {
  fill: red;
} */

.modalInnerContainer {
    width: 100%;
    height: 100%;
    padding: 2.375rem 2.8125rem;
}

.mobile {
    display: none;
}



@media screen and (min-width: 1024px) {
    .modalContainer {
        padding: 8rem 19rem 14rem;
    }
}

@media screen and (max-width: 768px) {
    .modalContainer{
        padding: 5rem 11rem 7rem;
    }
    .modalHeader,
    .modalHeaderMobile {
        margin-top: 5px;
        font-size: 0.9rem;
    }
    
}

@media (max-width: 640px) {
    .modalContainer {
        padding-top: 3rem;
    }

    .modalContent {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        max-width: 100vw;
    }

    .modalFull {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        max-width: 100vw;
        background: #fff;
        border-radius: 0px;

    }

    .modalHeader {
        position: fixed;

        width: 100%;
        height: 4rem;
        padding: 0 1.5rem;
        font-size: 1rem;
        background: none;

        border-bottom: 1px solid #dadada;
        justify-content: center;
        font-weight: 700;
        color: #242424;
        background: #fff;
    }

    .modalCont {
        margin-top: 1rem;
    }

    .mobile {
        background: #00b87c;
        padding: 12px 20px;
        display: block;
        color: #fff;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
        position: sticky;
        right: 0;
        left: 0;
        top: 0;
        z-index: 1000;
    }

    .closeIcon,
    .closeIconPath,
    .backIcon {
        position: absolute;
        left: 1rem;
        width: 1rem;
        height: 1rem;
    }

    .backIcon {
        height: 2rem;
        width: 2rem;
    }

    .closeIcon path {
        fill: #242424;
    }

    .modalInnerContainer {
        padding: 2.375rem 1.5rem;
    }

    .overlayGreen {
        background: #00b87c;
    }
}

@media screen and (min-width: 1440px) {
    .modalContainer {
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background: rgba(0, 0, 0, 0.3);
        display: none;
        justify-content: center;
        padding: 8rem 32rem 17rem;
    }
}