.test {
  background-color: green;
}
.Bannercontainer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BannerBox {
  background-color: rgb(240, 240, 240);
  padding: 3rem 8rem;
  margin: 5rem 10rem 2rem 10rem;
  border-radius: 20px;
  position: absolute;
  bottom: 0px;
}

.BannerLogo {
  display: grid;
  justify-content: center;
  align-items: center;
}

.BannerTitle h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Gilroy', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
}

.BannerText p {
  font-family: 'Gilroy', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
  text-align: center;
}

.BannerText p a {
  color: red;
}

.BannerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.BannerButtons .AllowButtons {
  background-color: rgb(0, 172, 134);
  color: white;
  padding: 0.5rem 2em;
  font-weight: bold;
  border-radius: 20px;
}

.BannerButtons .AllowButtons:hover {
  background-color: rgb(0, 124, 97);
}

.BannerButtons .DeclineButtons {
  color: red;
  margin-left: 2rem;
  font-weight: bold;
  border-radius: 20px;
}
.BannerButtons .DeclineButtons:hover {
  color: rgb(187, 0, 0);
}

@media screen and (max-width: 600px) {
  .BannerTitle h1 {
    font-size: 1.5rem;
  }
  .BannerBox {
    padding: 4rem 1rem 4rem 1rem;
    margin: 1.5rem;
  }

  .BannerButtons {
    display: flex;
  }

  .BannerButtons .AllowButtons {
    padding: 0.5rem 1em;
  }

  .BannerButtons .DeclineButtons {
    margin-left: 0.7rem;
  }
}
