.cards {
  width: 295px;
  font-family: Lato;
  font-weight: normal;
  line-height: 31px;
}

.highlighted_text > p {
  color: #00b87c;
  font-size: 25px;
  text-decoration: underline;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}

.text > p {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
}

@media only screen and (max-width: 600px) {
  .highlighted_text > p {
    font-size: 16px;
    margin-top: 0.5em;
  }
  .text > p {
    font-size: 14px;
    opacity: 0.6;
    line-height: 27.3px;
  }
}
