/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */

.sb__container {
  font: "Lato", sans-serif;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
  height: 100%;
  font-size: 16px;
  padding: 0;
  display: flex;
  min-width: 6px;
  max-width: 400px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sb__container::-webkit-scrollbar {
  display: none;
}

.sb__content {
  flex: 1;
  padding-left: 8px;
}

.sb__resizer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 6px;
  justify-self: flex-end;
  cursor: col-resize;
  resize: horizontal;
}

.sb__resizer:hover,
.sb__resizer:active {
  width: 3px;
  cursor: col-resize;
  background: #7ed5af;
}

.sb__divider {
  width: 100%;
  border: 0.05px solid rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.subCon1 {
  top: 0;
  position: sticky;
  z-index: 5;
}

.subCon2 {
  height: 100%;
  width: unset;
}

.subCon2::-webkit-scrollbar {
  display: none;
}

.orgDiv {
  width: inherit;
  padding: 2px 10px;
  background-color: #00b87c;
  color: #fff;
}

.orgInfo {
  width: 100%;
  height: inherit;
  background-color: #00b87c;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.orgHeader {
  cursor: pointer;
  flex-grow: 1;
  width: 70%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.orgTitle {
  margin: 0;
  font-weight: bold;
  font-size: 1.125em;
  line-height: 28px;
  max-width: 80%;
  line-height: 1.2em;
  overflow-x: clip;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.orgHeaderArrowDown {
  margin: 0;
}

.arrowDown {
  width: fit-content;
  position: relative;
  top: 0.2em;
  width: 1em;
  color: var(--text-color-bold);
}

.sb__item {
  cursor: pointer;
  margin-top: 30px;
}

.sb__item:hover,
.sb__item::selection,
.item_p:hover,
.item_p:hover {
  background-color: #f1fffa;
}

.sb__col {
  height: inherit;
}

.item__img {
  width: 18px;
}

.item_p {
  color: var(--text-color-normal);
  padding-inline-start: 0.5rem;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.invite__icon {
  background-color: #f1fffa;
  border-radius: 6px;
  padding: 5px 10px;
}
.icon {
  width: 24px;
}

.channelsContainer {
  margin-top: 0.5em;
}

.channelHeader {
  display: flex;
  flex-direction: row;
  margin-left: 1.875em;
  align-items: center;
  height: 2em;
}

.channelHeader p {
  font: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #999;
}

.channelDropdownIcon {
  margin: 1em 1em 1em 0;
}

.channelAddBtn {
  margin-left: 6em;
  margin-right: 1.25em;
}

.channelNames {
  margin-left: 3.5em;
  font: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #999;
}

.channelNames p > span {
  margin-right: 0.5em;
}

.messagesContainer {
  margin-top: 0.5em;
}

.messageHeader {
  display: flex;
  flex-direction: row;
  margin-left: 1.875em;
  align-items: center;
  height: 2em;
}

.messageHeader p {
  font: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--sidebar-text-color-);
}

.messageDropdownIcon {
  margin: 1em 1em 1em 0;
}

.messageAddBtn {
  margin-left: 6em;
  margin-right: 1.25em;
}

.messageNames {
  margin-left: 2.5em;
  font: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #999;
}

.messageNames p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.messageNames p > span {
  margin-right: 0.5em;
}

.channelItem {
  cursor: pointer;
  padding: 0.4rem 0;
}

.buttonstyle button {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.displayCategory {
  display: none;
}

.displayCategory {
  display: block;
}
