.tabWrapper {
  margin-left: 20px;
  width: 100%;
  max-width: calc(100vw - 340px);
}

.tabHeader,
.tabHeaderActive {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.mobileToggle {
  display: none;
}

.analyticsTabHeaderItem,
.analyticsTabHeaderItemActive {
  padding: 0.5rem 2.5rem;
  width: auto;
  border-radius: 4px 4px 0px 0px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #00b87c;
  cursor: pointer;
  margin-bottom: -1px;
}

.analyticsTabHeaderItemActive {
  background: #fff;
  border: 1px solid #dadada;
  border-bottom: none;
  color: #333;
}

.analyticsTabHeaderItem:hover {
  text-decoration: underline;
  color: #00b87c;
}

.analyticsTabHeaderItem:hover {
  text-decoration-color: #00b87c;
  text-decoration-line: underline;
}

.tabContent {
  width: 100%;
  height: 100%;
  min-height: 300px;
  background: #fff;
  border-radius: 0px 4px 4px 4px;
  border: 1px solid #dadada;
  padding: 0.5rem 1.5rem;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  .tabHeader,
  .tabHeaderActive {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background: #fff;
  }

  .tabHeaderActive {
    display: flex;
  }

  .analyticsTabHeaderItem,
  .analyticsTabHeaderItemActive {
    /* width: 100%; */
    text-align: left;
    font-size: 1rem;
  }

  .mobileToggle {
    display: block;
    width: 100%;
    padding: 1rem;
    background: #fff;
    border: 1px solid #dadada;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
  }

  .menuIcon {
    font-size: 1.5rem;
    color: #00b87c;
  }
}
