.helpLink:hover,
.ChelpLink:hover {
  color: #00b87c;
  opacity: 0.5;
}

.helpLink {
  font-size: 16px;
}

.ChelpLink {
  font-size: 18px;
}

.helpList li {
  list-style-type: "→  ";
  list-style-color: #00b87c;
  margin-bottom: 6px;
}

.LoginSignUpHelpCard {
  padding-top: 100px;
  margin-bottom: 30px;
}

.CSupport {
  padding: 0 !important;
}
