a {
  color: #00b87c;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
}

.email {
  height: 14px;
  width: 250px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin-left: auto;
  margin-top: 1.5em;
}
.email span:first-of-type {
  margin-right: 8px;
}

.change {
  font-size: 12px;
  font-weight: 600;
  color: #00b87c;
  cursor: pointer;
}

.wrapper {
  margin-top: 100px;
}

.centerWrapper {
  display: flex;
  flex-direction: column;
  min-height: 25em;
  text-align: left;
  margin-top: 2em;
  padding: 1.3em;
}

.centerWrapper h4 {
  margin-top: 24px;
  margin-bottom: 24px;
  color: #808080;
  line-height: 19px;
  padding-left: 0px;
  font-weight: 600;
  font-family: Lato;
  font-size: 15px;
}

.centerWrapper h1 {
  color: #333333;
  font-weight: 700;
  font-size: 28px;
  line-height: 33.36px;
}

.centerWrapper a:link {
  padding-left: 0;
}

.centerWrapper button {
  padding: 14px;
  width: 191px;
  height: 47px;
  background: #e5e5e5;
  border-radius: 3px;
  border: none;
  color: #999999;
  margin-top: 1.3rem;
}

.centerWrapper input {
  color: #c4c4c4;
  border: 2px solid #c4c4c4;
  height: 46px;
  font-size: 16px;
  padding: 20px 16px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.centerWrapper input:focus {
  color: #333333;
}

.centerWrapper input:focus ~ button {
  background: #00b87c;
  color: #fff;
  cursor: pointer;
}

.charLimit {
  text-align: right;
  font-size: 12px;
  color: #333333;
}

@media screen and (min-width: 765px) {
  .centerWrapper {
    width: 50vw;
    margin: auto;
    padding: 2em;
  }
  .email {
    font-size: 16px;
    width: 350px;
  }
  .change {
    font-size: 16px;
  }
  .centerWrapper h1 {
    font-size: 48px;
    line-height: 54px;
  }
  .centerWrapper button {
    margin-top: 2.5em;
  }
  .charLimit {
    font-size: 14px;
  }
}
