.members_tab_container {
  --type-scale: 0.8;
  --height-scale: 0.85;
}

.members_tab_container > div {
  border-bottom: 1px solid #e7e7e7;
}

.members_tab_container p {
  font-size: 15px;
  line-height: calc(1.125rem * var(--height-scale, 1));
  font-weight: normal;
}

.joining_members {
  display: flex;
  align-items: baseline;
  padding: 1.5rem 0;
}

.joining_members p {
  margin-bottom: 0;
}

.joining_members > div {
  flex: 1 1 50%;
}

.members {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.members:last-child {
  margin-bottom: 0;
}

.ddsJuX {
  font-size: 15px !important;
}

@media only screen and (min-width: 600px) {
  .members_tab_container {
    --type-scale: 0.85;
  }
}

@media only screen and (min-width: 768px) {
  .members_tab_container {
    --type-scale: 0.9;
  }
}

@media only screen and (min-width: 980px) {
  .members_tab_container {
    --type-scale: 1;
    --height-scale: 1;
  }
}
