h3 {
  font-size: 1.1rem !important;
  font-weight: 400;
  width: 100%;
  display: block !important;
  text-align: left;
  padding: 0 !important;
}

a {
  font-size: 1.2rem;
  font-weight: 400;
  color: #00ba7c;
}

a:hover {
  color: #ba0c00;
}

.searchContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 18px 0;
  flex-wrap: wrap;
}

.searchItself {
  display: flex;
  width: 70%;
  height: auto;
  justify-content: left;
  border: 1px solid rgba(128, 128, 128, 0.8);
  border-radius: 5px;
  align-items: center;
  padding: 5px;
}
.searchItself:hover {
  border: 1px solid rgba(128, 128, 128, 1);
}

.search {
  width: 100%;
  height: 100%;
  outline: none;
}
.search::placeholder {
  font-size: 0.9rem;
}

.mainIcons {
  font-size: 1.5rem;
  padding-right: 5px;
}

.addNewResponseButton {
  width: 25%;
  padding-right: 5px;
  background-color: #00ba7c;
  color: white;
  border-radius: 5px;
}

.addNewResponseButton:hover {
  background-color: #076445;
  box-shadow: 1px 1px 1px 1px #00ba7c;
}

table {
  width: 100%;
  margin: 20px 0;
  font-size: 0.9rem;
  font-weight: 300;
}

.head {
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

th {
  padding: 5px 3px;
}

td {
  padding: 5px 3px;
  font-weight: 300;
}

.modal,
.modalActive {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.modalActive {
  display: flex;
}

.overlay {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modalContainer {
  position: relative;
  z-index: 4;
  height: 75vh;
  width: 100%;
  max-width: 622px;
  background: #fff;
  padding: 1.5rem;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
}

.modalHeading {
  font-size: 1.5rem;
  text-align: left;
}

.modalSubHead {
  font-size: 1rem;
  font-weight: 600;
  /* color: #333; */
  text-align: left;
  padding: 0;
  margin: 0;
}

.modalImage {
  width: 50px;
  height: 50px;
  color: #00ba7c;
}

.modalGenContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.textareaAndText {
  display: flex;
  width: 80%;
}

.modalLogo {
  display: flex;
  width: 15%;
  height: 100%;
}

.textareaAndText {
  display: flex;
  flex-direction: column;
  width: 100%;
}

textarea {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(128, 128, 128, 0.8);
  border-radius: 5px;
  padding: 5px;
}

.normalText {
  font-size: 0.8rem;
  padding-left: 0;
  font-weight: 400;
}

.secondaryBtn {
  padding: 5px 15px;
  background-color: white;
  color: #333;
  border: 1px solid #333;
  margin-right: 5px;
  border-radius: 5px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: right;
}

.primaryBtn {
  padding: 5px 20px;
  background-color: #00ba7c;
  color: white;
  border: 1px solid #00ba7c;
  border-radius: 5px;
}
