.emoji-mart.emoji-mart-light {
  width: 320px !important;
}

.emoji-mart {
  border: none;
  border: 5px solid red;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
}
.emoji-mart-anchor-selected {
  color: #00b87c !important;
  border: 0px !important;
}
.emoji-mart-anchor-bar {
  background: #00b87c !important;
}
.emoji-mart-bar:first-child {
  border-bottom-width: 0px !important;
}
.emoji-mart-search input {
  border: 1px solid #777 !important;
}
.emoji-mart-scroll::-webkit-scrollbar {
  width: 0px;
}

.emoji-picker-react .emoji-scroll-wrapper::-webkit-scrollbar {
  width: 1em;
}

.emoji-mart-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 1rem;
  height: 50px;
}
.emoji-mart-skin-swatches {
  transform: translate(30px, -250px) !important;
}

.emoji-mart-preview {
  height: 0px !important;
}

.emoji-mart-preview-emoji {
  display: none;
}
.emoji-mart-preview-data {
  display: none !important;
}
