.InputContainer {
  width: 100%;
  margin-block-start: 0.2rem;
  margin-block-end: 0.5rem;
  margin-inline: auto;
  /* margin-block-end: 1rem; */
  /* margin: 1rem auto; */
  /* font-size: 16px; */
  /* margin-top: 0;
    padding-top: 0; */
  font-size: 14px;
}

.InputContainerError {
  border-color: #ff0000 !important;
}

.InputContainer:last-of-type {
  margin-block-end: 0rem;
}

/* input Label */
.InputLabel {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-weight: 700;
  font-size: 0.9rem;
  /* line-height: 1.8em; */
  color:#1D1C1D;
}

.InputLabelError {
  color: #ff0000;
}

/* Input wrapper */
.InputWrapper {
  border: 1px solid #bebebe;
  border-radius: 6px;
  width: 100%;
  /* height: 3em; */
  height: 3.8em;
  overflow: hidden;
}

.InputWrapper:focus-within {
  border: 1px solid #00b87c;
  /* border: 1px solid blue; */
}

/* input wrapper WITH password */
.InputWrapperWithPassword {
  display: grid;
  grid-template-columns: 9fr 1fr;
  /* grid-template-columns: 9fr 2fr; */
  grid-template-rows: 1fr;
}

/* actual input element */
.InputElement {
  width: 100%;
  height: 100%;
  /* padding-inline-start: 1em; */
  /* padding-inline-end: 1rem; */
  color: #3a3a3a;
  border: none;
  font-size: 1.2em;
  letter-spacing: 1px;
  text-indent: 0.8em;
  /* padding: 0 1rem; */
  /* padding: 0, 0.625rem, 0, 1rem; */
  /* text-indent: 1rem; */
}

.InputElement::placeholder {
  font-size: 13px;
}

.InputElement:invalid,
.InputElement.is_invalid {
  border-color: #ff0000;
  color: #3a3a3a;
}

.InputElement:focus,
.InputElement:focus-visible {
  outline: none;
}

/* password toggle */
.ToggleVisibility {
  font-size: 1.3em;
  /* font-size: 1.5rem; */
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: none; */
  /* background: #ffffffa8; */
  /* height: 100%; */
}

.InputError {
  color: #ff0000;
  display: flex;
  align-items: center;
}

/* Media Query for Screen Width 1080px and Smaller */
@media only screen and (max-width: 1080px) {
  .InputContainer {
    margin-block: 0.5em;
    width: 100%;
  }

  .InputContainer:last-of-type {
    margin-block-end: 0rem;
  }

  .InputElement {
    text-indent: 0.6em;
  }
}

/* { */
/* input Label */
/* .InputLabel {
      margin-block: 0.5em;
      /* font-size: 1.3rem; */
/* line-height: 1.5rem;  */
/* font-size: 1em; */
/* line-height: 1.5em; *
    } */

/* actual input element */
/* .InputElement {
      text-indent: 0.8em;
      padding-inline-start: 0;
      padding-inline-end: 0;
      /* font-size: 1.2rem; *
    } */

/* .InputElement::placeholder {
      font-size: 1.2rem;
      margin-inline: 0;
      padding-inline-start: 0;
      padding-inline-end: 0;
    } */

/* input wrapper WITH password */
/* .InputWrapperWithPassword {
      grid-template-columns: 9fr 1fr;
    } */
/* } */

/* Media Query for Screen Width 360px and Smaller */
/* @media only screen and (max-width: 375px) {
    /* .InputElement {  
      text-indent: 0.5em;
      padding-inline-start: 0em;
      /* padding-inline-end: 0em; *
    } */

/* .InputWrapperWithPassword {
      grid-template-columns: 9fr 1fr;
    } *
  } */
