.password_wrapper {
  width: 100%;
  padding: 0 15px;
  margin: 2rem auto 0;
  --type-scale: 0.85;
}

.message {
  --border-color: #00b87c;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 2.5rem !important;
  margin-top: 1rem;
  font-size: calc(0.85rem * var(--type-scale));
  line-height: calc(1.3125rem * var(--type-scale));
  margin-bottom: 1.25rem;
  background-color: #fff;
  border: 1px solid #bebebe;
  border-radius: 3px;
  position: relative;
  box-shadow: inset 6px 0 0 0 #00b87c;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}

.message img {
  margin-right: 0.6rem;
}

.form_wrapper {
  background-color: #fff;
  border: 1px solid #bebebe;
  border-radius: 3px;
  padding: 1.65rem 0.47rem;
}

.form_wrapper form {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.form_wrapper form input {
  width: 100%;
  display: block;
  padding: 0.525rem 0.625rem;
  border: none;
  outline: none;
  border: 1px solid #bebebe;
  border-radius: 3px;
}

.form_wrapper form ::-webkit-input-placeholder {
  font-size: 13px;
}

@media screen and (max-width: 800px) {
  .form_wrapper form ::-webkit-input-placeholder {
    padding: 5px !important;
  }
}

.form_wrapper form label {
  display: inline-block;
  color: #3a3a3a;
  font-size: calc(0.9rem * var(--type-scale));
  line-height: calc(1.3125rem * var(--type-scale));
  margin-bottom: 10px;
  font-weight: bold;
}

.form_wrapper form .submit_btn {
  display: block;
  width: 100%;
  color: #fff;
  font-size: calc(1rem * var(--type-scale));
  line-height: calc(1.3125rem * var(--type-scale));
  background: #00b87c;
  padding: 0.625rem;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  border: none;
  border-radius: 3px;
  outline: none;
}

/* .form_group label span {
  display: inline-block;
  font-weight: 600;
} */

@media only screen and (min-width: 600px) {
  .password_wrapper {
    --type-scale: 0.9;
  }

  .message {
    height: 4rem;
  }

  .form_wrapper {
    padding: 2.25rem 0.47rem;
  }

  .form_wrapper form {
    width: 85%;
  }
}

@media only screen and (min-width: 768px) {
  .password_wrapper {
    max-width: 75%;
  }
}

@media only screen and (min-width: 985px) {
  .password_wrapper {
    max-width: 73%;
    --type-scale: 1;
  }

  .form_wrapper form {
    width: 55%;
  }
}

@media only screen and (min-width: 1200px) {
  .password_wrapper {
    max-width: 900px;
  }
}
