<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=500, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
    <title>DeactiavtionPg</title>
    <link rel="stylesheet" href="./index.css">
</head>


<body>

  <!-- body section  -->

<div>
    
 <h2 class="display-2">Sign out all other sessions</h1>
  
    </div>
    

    
   <section class="socials">
    <div class="social-left">
      <h3>Click the button below to sign out of all sessions</h3>
        <p> This will</p>
              <!-- <div class= "article"> -->
        <ul>
            <li>Reset all cookies used for Zurichat sign-in (except in your current browser)</li><br>
            <li>Reset all API tokens associated with your account (so you will need to sign in again on your phone)</li><br>
            <li>Reset all outstanding magic links associated with your account</li><br>
            <li>Remove push notifications configured for your mobile device</li><br>
            <li>Disconnect any Zurichat clients currently connected with your account</li><br>
            </ul>
            <p>This will not reset your password.</p>
    
          </div>
      </section>
<hr>

<!-- bottom section -->
<section class="bottom" >

  <div><h4>Confirm your password to proceed</h4></div>
  <div class="container">

       <form >
            <form id="bottomform" role="search">
                <input type="search" id="query" name="q"
                 placeholder="Password">
            </form>
        
           <button class="button">Sign out all other sessions </button> 

          
          </div>
          </section>
          </body>
</html>

