.footer {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  background: #F8F8FF;
  width: 100%;
}
.mobile {
  display: none;
}
h5 {
  font-size: 1.3rem;
  color: black;
}
.top_footer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding-bottom: 40px;
}
.logo {
  display: inline-block;
  justify-content: center;
  padding-left: 40px;
  padding-top: 17px;
  font-size: 22px;
}
.logo_img {
  padding-top: 0;
}
.logo_name {
  display: inline-block;
  padding-left: 5px;
  padding-top: 5px;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}
.menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 12px;
}
.menu_list li {
  padding-top: 10px;
}
.menu_list a {
  color: #6A6A6A;
  font-size: 1rem;
}
.menu_list a:hover {
  color: black;
}
.social {
  padding-top: 12px;
}
.social ul {
  display: inline-flex;
}
.social li {
  padding: 10px 20px 0 0;
}
.social img {
  width: 30px;
  height: 30px;
}

.bottom_footer {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 30px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(187, 186, 231, 0.15);
}
.bottom_footer p {
  color: #6A6A6A;
  padding-left: 10px;
}
.bottom_footer ul {
  display: inline-flex;
  float: right;
}
.bottom_footer ul li a {
  color: #6A6A6A;
  padding: 0 20px;
}
.bottom_footer ul li a:hover {
  color: black;
}

/*media queries */
@media screen and (max-width: 1250px) {
  .logo {
      padding-left: 0;
    }
  .logo_name {
      font-size: 140%;
    }
    .social li {
  padding: 10px 5px 0 0;
    }
  .social img {
  width: 30px;
  height: 30px;
    }
  .bottom_footer {
  padding: 0;
  padding-top: 10px;
    }
  .bottom_footer ul li a {
  color: #6A6A6A;
  padding: 0 10px;
    }
  .bottom_footer p {
  font-size: 80%;
    }
}

@media screen and (max-width: 768px) {
  .footer {
    display: none;
  }
  .m_footer {
    background: #F8F8FF;
    padding-bottom: 10px;
  }
  .mobile {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .logo {
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  .logo img {
    width: 30px;
    height: 31px;
  }
  .logo_name {
    font-size: 130%;
  }
  .footer_menu {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 95vw;
  }
  .footer_menu p {
    text-align: center;
    font-size: 80%;
    padding-top: 20px;
  }
  .dropdown_list {
    font-size: 1rem;
    padding-bottom: 20px;
    cursor: pointer;
  }
  .list {
    padding-bottom: 20px;
  }
  .list a {
    font-size: 1rem;
    color: #6A6A6A;
;
  }
  .dropdown_list i {
    font-size: 25px;
    float: right;
  }

  .mobile_social {
    padding-left: 10px;
    width: 100%;
    position: relative;
    padding-top: 20px;
  }
  .mobile_social img {
    width: 30px;
    height: 30px;
  }
  .mobile_social ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
