.header_container {
  padding-bottom: 40px;
}
.large {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 0 30px;
  background: transparent;
  border-bottom: 0.1rem solid rgba(235, 234, 234);
  z-index: 100;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
}
.logo {
  display: inline-block;
  justify-content: center;
  padding-left: 40px;
  padding-top: 20px;
  font-size: 22px;
}
.logo_img {
  padding-top: 0;
}
.logo_name {
  display: inline-block;
  padding-left: 5px;
  padding-top: 5px;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}
.menu {
  position: relative;
  width: 100%;
  color: black;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}
.header_list {
  color: black;
  font-size: 1.3rem;
  cursor: pointer;
}
#menu:hover {
  padding-bottom: 5px;
  border-bottom: .2rem solid #00b87c;
}
.dropdown1 {
  display: inline-block;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  top: 220%;
  left: 39%;
  transform: translate(-50%, -50%);
}
.dropdown_items {
  position: relative;
  line-height: 30px;
  font-size: 1.3rem;
  display: none;
  color: black;
  visibility: hidden;
  background: white;
  width: 180px;
  padding: 5px 8px;
}
.dropdown_items:hover {
  background-color: #00b87c;
  color: #fff;
}
.dropdown2 {
  display: inline-block;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  top: 220%;
  left: 89%;
  transform: translate(-50%, -50%);
}
.menu ul li:hover > .dropdown1 li,
.menu ul li:hover > .dropdown2 li {
  display: block;
  visibility: visible;
  cursor: pointer;
}
.menu ul li:hover > .dropdown1,
.menu ul li:hover > .dropdown2 {
  perspective: 1000px;
  visibility: visible;
}
.menu ul li:hover > .dropdown1 li,
.menu ul li:hover > .dropdown2 li {
  transform-origin: top center;
  opacity: 0;
}
.menu ul li:hover > .dropdown1 li:nth-child(1),
.menu ul li:hover > .dropdown2 li:nth-child(1) {
  animation: animate 0.5s ease-in-out forwards;
}
.menu ul li:hover > .dropdown1 li:nth-child(2),
.menu ul li:hover > .dropdown2 li:nth-child(2) {
  animation: animate 0.5s ease-in-out forwards;
}
.menu ul li:hover > .dropdown1 li:nth-child(3),
.menu ul li:hover > .dropdown2 li:nth-child(3) {
  animation: animate 0.5s ease-in-out forwards;
}
.menu ul li:hover > .dropdown1 li:nth-child(4),
.menu ul li:hover > .dropdown2 li:nth-child(4) {
  animation: animate 0.5s ease-in-out forwards;
}
.menu ul li:hover > .dropdown1 li:nth-child(5),
.menu ul li:hover > .dropdown2 li:nth-child(5) {
  animation: animate 0.5s ease-in-out forwards;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
.header_list i {
  padding-left: 8px;
}

.header_signs ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 1.3rem;
  color: black;
}
.header_signin {
  background: #00b87c;
  border: 2px solid #00b87c;
  border-radius: 4px;
  padding: 8px 20px;
  color: white;
  font-size: 1.3rem;
}
.header_signin:hover {
  text-decoration: none;
  background: white;
  color: #00b87c;
  border-color: #00b87c;
}
.header_signup {
  font-size: 1.3rem;
  color: #00b87c;
  padding: 8px;
  border-color: #00b87c;
}
.header_signup:hover {
  color: #00b87c;
  border-bottom: 2px solid #00b87c;
}

/*mobile section */
.mobile_nav {
  display: grid;
  visibility: hidden;
  grid-template-columns: 35% 65%;
  border-bottom: 0.1rem solid rgba(235, 234, 234);
  z-index: 100;
  padding-top: 2px;
  padding-bottom: 5px;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgba(253, 254, 255);
}
.m_logo {
  display: inline-block;
  justify-content: left;
  padding-left: 10px;
}
.m_logo_name {
  display: inline-block;
  padding-left: 5px;
  padding-top: 10px;
  color: black;
  font-size: 130%;
  font-weight: bold;
}
.mobile_menu {
  padding-right: 10px;
  display: inline-flex;
  float: right;
}
.mobile_menu li {
  padding: 5px 10px;
  font-size: 20px;
}
.mobile_menu i {
  font-size: 20px;
}


/*media queries*/
@media screen and (max-width: 1250px) {
    .logo {
      padding-left: 0;
    }
    .logo_name {
      font-size: 140%;
    }
    .header_list {
      font-size: 110%;
    }
    .header_signs ul {
      display: inline-flex;
      padding-left: 0;
      padding-right: 0;
    }
    .header_signin {
      font-size: 80%;
      padding: 8px 5px;
    }
    .header_signup {
      font-size: 80%;
    }
}
@media screen and (max-width: 768px) {
  .large {
    visibility: hidden;
  }
  .mobile_nav {
    visibility: visible;
    padding-left: 10px;
  }
  .dropdown_list {
    position: relative;
    line-height: 30px;
    font-size: 18px;
    display: inline-block;
    border: 0.1rem solid white;
    background: white;
    color: black;
    width: 190vw;
  }
  .dropdown_list a {
    padding-left: 20px;
  }
  .dropdown_list:hover {
    background-color: #00b87c;
    color: #fff;
  }
  .dropdown_list i {
    padding-left: 5px;
  }
  .dropdown {
    display: inline-block;
    flex-direction: column;
    position: absolute;
    visibility: visible;
    transition: 0.5s ease-in-out;
    top: 345%;
    left: 95%;
    transform: translate(-50%, -50%);
  }
  .dropdown_hide {
    display: inline-block;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    top: 180%;
    left: 95%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
  }
  .mobile_signs {
    background-color: white;
    padding-bottom: 20px;
    padding-left: 120px;
    display: flex;
  }
  .mobile_signs a {
    font-size: 90%;
  }
}
