.section1 {
  margin-top: 60px;
  max-height: 100vh;
}
.section1Wrapper {
  display: flex;
  
}
.section1LeftContentWrapper {
  flex: 5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section1TextWrapper {
  width: 90%;
  /* display: flex; */
  /* margin-top: 15px;
  padding: 40px;
  margin-bottom: 15px;
  flex-direction: row;
  grid-gap: 20px; */
}
.section1TextWrapper h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.67rem;
  line-height: 130%;
  color: #1A61DB;
}
.section1TextWrapper h2 {
  margin-top: 10px;
  width: 75%;
  font-style: normal;
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 130%;
  color: #242424;
}
.section1TextWrapper p {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 130%;
  color: #3A3A3A;
}
.buttonsWrapper {
  margin-top: 40px;
}
button {
  padding: 26px 50px;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 28px;
  border-radius: 3px;
  cursor: pointer;
}
.getStarted {
  margin-right: 30px;
  background-color: #b5b6b6;
  background-color: #00b87c;
  border: 2px solid #00b87c;
  color: white;
}
.features {
  background-color: transparent;
  color: #00b87c;
  border: 2px solid #00b87c;
}
.section1ImageWrapper {
  flex: 4.5;
}
.groupImage {
  /* margin-top: 40px; */
  width: 100%;
}

@media screen and (max-width: 1085px) {
  .section1TextWrapper p {
    font-size: 20px;
  }
  .section1TextWrapper h3 {
    margin-top: 0px;
    font-size: 45px;
    margin-bottom: 0px;
  }
  button {
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
  .section1TextWrapper p {
    font-size: 20px;
  }
  .section1TextWrapper h3 {
    margin-top: 0px;
    font-size: 40px;
    margin-bottom: 0px;
  }
  button {
    padding: 10px;
    font-size: 18px;
  }
  .getStarted {
    padding: 10px 20px 10px 20px;
  }
}

@media screen and (max-width: 750px) {
  .section1Wrapper {
    flex-direction: column;
  }
  .section1TextWrapper p {
    font-size: 24px;
  }
  .section1TextWrapper h3 {
    margin-top: 0px;
    font-size: 56px;
    margin-bottom: 0px;
  }
  button {
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
  }
  .getStarted {
    padding: 15px 20px 15px 20px;
  }
}

@media screen and (max-width: 500px) {
  .section1Wrapper {
    padding: 20px;
  }
  .section1TextWrapper p {
    font-size: 24px;
  }
  .section1TextWrapper h3 {
    margin-top: 0px;
    font-size: 45px;
    margin-bottom: 0px;
  }
  button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .getStarted {
    padding: 10px 20px 10px 20px;
  }
  .buttonsWrapper {
    text-align: center;
  }
}
@media screen and (max-width: 387px) {
  .features {
    margin: 20px 0px 10px 0px;
    background-color: transparent;
    color: #00b87c;
    border: 2px solid #00b87c;
  }
}
