@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
  font-family: 'Lato', sans-serif;
}
.section4 {
  text-align: center;
  padding: 40px;
  margin-top: 10px;
}
.appImage {
  width: 100%;
}
.funSection {
  display: flex;
  grid-gap: 2rem;
  flex-direction: row;
  margin-top: 10rem;
}
.funImage {
  width: auto;
  position: relative;
}
.funText {
  position: relative;
  padding: 6rem;
  text-align: left;
}
.funText h2 {
  font-size: 40px;
}
.funText p {
  font-size: 25px;
  line-height: 1.5;
}

@media screen and (max-width: 1200px) {
  .funImage {
    width: 25rem;
  }
  .funText {
    padding: 20px;
    text-align: left;
  }
}

@media screen and (max-width: 900px) {
  .funImage {
    width: 20rem;
  }
  .funText h2 {
    font-size: 30px;
  }
  .funText p {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 740px) {
  .funSection {
    flex-direction: column-reverse;
    margin-top: 5rem;
  }
  .funText {
    padding: 20px;
    text-align: center;
  }
  .funImage {
    width: auto;
  }
}
@media screen and (max-width: 400px) {
  .funText {
    padding: 10px;
  }
  .funText h2 {
    font-size: 26px;
  }
  .funText p {
    font-size: 18px;
    line-height: 1.5;
  }
}
