.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
  margin-right: 50px;
  margin-left: 50px;
  gap: 3rem;
}
.content {
  background-image: url('https://res.cloudinary.com/ujuzi/image/upload/v1630463021/Cars%20Images%20project/pexels-eren-li-7241616_m2ojcj.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  object-fit: cover;
}
.content-a {
  background-image: url('https://res.cloudinary.com/ujuzi/image/upload/v1630463010/Cars%20Images%20project/pexels-fauxels-3184287_rcmjw4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  object-fit: cover;
}
.content-b {
  background-image: url('https://res.cloudinary.com/ujuzi/image/upload/v1630463006/Cars%20Images%20project/pexels-kampus-production-8353777_wjgvrh.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  object-fit: cover;
}
.card {
  height: 274px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.cardFlex {
  display: flex;
  flex-direction: column;
  height: auto;
}
.contentSize {
  width: 100%;
  height: 274px;
}
.description {
  padding: 0.5rem;
  font-size: 1.1rem;
  word-wrap: break-word;
  font-weight: 600;
}
.textBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.5rem;
}
.textBottom span {
  font-size: 1.2rem;
  color: #0063da;
}
.title {
  text-align: center;
  padding-bottom: 3.75rem;
  line-height: 3rem;
  font-size: 2.5rem;
  font-weight: 600;
}
.descTitle {
  text-align: start;
  padding: 0.2rem;
  color: grey;
}
.cardPosition {
  display: inherit;
  flex-direction: inherit;
  padding: 20px;
}
