.specialFeaturesCard {
  margin-left: 20px;
  height: 220px;
  padding: 20px;
  cursor: pointer;
}

.specialFeaturesCard:first-child {
  margin: 0;
  min-width: 29.7%;
}

.specialFeaturesCard h3 {
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.88rem;
  line-height: 130%;
  color: #3a3a3a;
}

.specialFeaturesCard p {
  margin-top: 15px;
  font-weight: normal;
  font-size: 1rem;
  line-height: 21px;
  color: #000000;
}

@media (max-width: 1400px) {
  .specialFeaturesCard h3 {
    font-size: 1.5rem;
  }

  .specialFeaturesCard p {
    font-size: 0.9rem;
  }
}

@media (max-width: 1200px) {
  .specialFeaturesCard {
    margin-left: 10px;
    min-width: auto;
    /* height: auto; */
  }

  .specialFeaturesCard:first-child {
    margin: 0;
    min-width: auto;
  }

  .specialFeaturesCard h3 {
    font-size: 1.5rem;
  }

  .specialFeaturesCard p {
    font-size: 0.8rem;
  }
}

@media (max-width: 1024px) {
  .specialFeaturesCard {
    margin-left: 0;
  }

  .specialFeaturesCard h3 {
    font-size: 1.5rem;
  }

  .specialFeaturesCard p {
    font-size: 0.7rem;
  }
}

@media (max-width: 900px) {
  .specialFeaturesCard h3 {
    font-size: 1.1rem;
  }

  .specialFeaturesCard p {
    font-size: 0.7rem;
  }
}

@media (max-width: 800px) {
  .specialFeaturesCard h3 {
    font-size: 1rem;
  }

  .specialFeaturesCard p {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .specialFeaturesCard {
    padding: 10px;
  }

  .specialFeaturesCard h3 {
    font-size: 1.1rem;
  }

  .specialFeaturesCard p {
    font-size: 0.7rem;
  }
}
