.formcontainer {
  background: #fff;

  border-radius: 20px;
  padding: 10px 10px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 15px 16px 0.17px rgba(0, 0, 0, 0.05);
}

.head1 {
  text-align: center;
}
.successText {
  padding: 12px;
  margin-left: 10px;
}
.btnComplaint {
  color: white;
  border-radius: 5%;
  margin-left: 45%;
}
.btnViewComplaint {
  color: white;
  background-color: #00b87c;
  padding: 12px;
  border-radius: 10%;
}
.TextOffender {
  background-color: rgb(53, 231, 142);
  display: flex;
  flex-direction: space-around;
}
.cardBodyText {
  display: flex;
  flex-direction: space-inbetween;
}
.btnDetails {
  width: 30%;
  margin-left: 45%;
}
.btnAuthorize {
  color: white;
  border-radius: 5%;
  margin-left: 50%;
}
.inputFieldOffende {
  width: 19rem;
  padding: 12px;
}
.FormGroup1 {
  width: 19rem;
  padding: 12px;
}
.SelectBox {
  width: 19rem;
  padding: 12px;
}
.inputFieldDate {
  width: 20.5rem;
  height: 2.3rem;
}
.DescriptionBox {
  display: flex;
  flex-direction: space-inbetween;
}
.TextareaField {
  width: 20.5rem;
  height: 3rem;
}
.BoxRow {
  display: flex;
  flex-direction: flex-end;
}
.btnBack {
  color: white;
  background-color: #00b87c;
  border-radius: 10%;
  padding: 12px;
}
.btnSubmit {
  color: white;
  background-color: #00b87c;
  padding: 12px;
  border-radius: 10%;
  margin-left: 290px;
}
.ListofItems {
  display: flex;
}
.btnBack1 {
  color: white;
}
.btnConfirm {
  color: white;
  margin-left: 5%;
}
.btnUnconfirm {
  color: white;
  margin-left: 35%;
}
