.container-body {
  /* margin-top: 6.3rem; */
  display: flex;
}

.main {
  flex: 1;
  padding: 1rem 3rem;
  margin-top: 6.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (max-width: 560px) {
  .main {
    padding: 1rem;
  }
}

.main h2 {
  text-align: center;
}

.head-p {
  text-align: center;
}
