openapi: 3.0.0
info:
  version: 1.0.0
  title: Zuri Chat Core API (Authentication Endpoints)
  description: Zuri Chat is an open source slack clone. However, it offers a lot more functionality via a plugin system where each room can be provided by a different plugin provider.
  contact:
    email: developer@zuri.chat
servers:
  - description: Zuri Chat Core API
    url: 'https://api.zuri.chat/'
paths:
  /auth/login:
    post:
      tags:
        - Authentication
      summary: Authentication request to access protected resources
      requestBody:
        $ref: '#/components/requestBodies/login'
      responses:
        '200':
          $ref: '#/components/responses/LoginSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/logout:
    get:
      tags:
        - Authentication
      summary: Authentication request to logout
      responses:
        '200':
          $ref: '#/components/responses/LogoutSuccessful'
        '401':
          $ref: '#/components/responses/NotAuthorizedOrNoAuthToken'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Authentication
      summary: Authentication request to logout
      responses:
        '200':
          $ref: '#/components/responses/LogoutSuccessful'
        '401':
          $ref: '#/components/responses/NotAuthorizedOrNoAuthToken'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/verify-token:
    get:
      tags:
        - Authentication
      summary: validates the user before access is granted.
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/TokenVerified'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/confirm-password:
    post:
      tags:
        - Authentication
      summary: confirm user password
      description: verify user password
      operationId: verifyPassword
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/confirmPassword'
      responses:
        '200':
          $ref: '#/components/responses/PasswordConfirmSuccess'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/request-reset-password:
    post:
      summary: Reset user password
      description: Reset user password
      operationId: resetPassword
      requestBody:
        content:
          application/json:
            schema:
              type: string
              format: email
      tags:
        - Authentication
      responses:
        default:
          description: if no errors email for a password reset is sent to the submitted email
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '400':
          $ref: '#/components/responses/BadRequest'

  /account/verify-account:
    post:
      tags:
        - Authentication - Account
      summary: Verify user account
      requestBody:
        $ref: '#/components/requestBodies/login'
      responses:
        '200':
          $ref: '#/components/responses/VerificationSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /account/request-password-reset-code:
    post:
      tags:
        - Authentication - Account
      summary: Request password reset code
      requestBody:
        $ref: '#/components/requestBodies/requestPassReset'
      responses:
        '200':
          description: verification successful
          content:
            application/json:
              schema:
                type: object
                required:
                  - code
                  - message
                  - data
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 200
                  message:
                    type: string
                  data:
                    type: object
                    example: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  responses:
    InternalServerError:
      description: Internal server error occured during operation
      content:
        application/json:
          schema:
            required:
              - code
              - message
            type: object
            properties:
              code:
                type: integer
                format: int32
                example: 500
              message:
                type: string

    BadRequest:
      description: An incorrect client request
      content:
        application/json:
          schema:
            required:
              - code
              - message
            type: object
            properties:
              code:
                type: integer
                format: int32
                example: 400
              message:
                type: string

    UnprocessableEntity:
      description: server unable to process contained information, e.g API behaviour
      content:
        application/json:
          schema:
            required:
              - code
              - message
            type: object
            properties:
              code:
                type: integer
                format: int32
                example: 422
              message:
                type: string

    NotAuthorizedOrNoAuthToken:
      description: Unauthorized Error
      content:
        application/json:
          schema:
            required:
              - code
              - message
            type: object
            properties:
              code:
                type: integer
                format: int32
                example: 401
              message:
                type: string

    PasswordConfirmSuccess:
      description: Password confirm successful
      content:
        application/json:
          schema:
            required:
              - code
              - message
            type: object
            properties:
              code:
                type: integer
                format: int32
                example: 200
              message:
                type: string
                example: Password confirm successful

    LoginSuccess:
      description: login successful
      content:
        application/json:
          schema:
            type: object
            required:
              - code
              - message
              - data
            properties:
              code:
                type: integer
                format: int32
                example: 200
              message:
                type: string
              data:
                type: object
                properties:
                  session_id:
                    type: string
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 613590fd0366b6816a0b75ee
                      first_name:
                        type: string
                        example: Johnson
                      last_name:
                        type: string
                        example: Ajayi
                      display_name:
                        type: string
                        example: samsoft
                      email:
                        type: string
                        example: hng.user01@gmail.com
                      phone:
                        type: string
                        example: 09067324567
                      status:
                        type: string
                        example: 0
                      time_zone:
                        type: string
                      created_at:
                        type: string
                        example: 2021-09-06T03:54:37.387816096Z
                      update_at:
                        type: string
                        example: 0001-01-01T00:00:00Z
                      token:
                        type: object
                        example: l6TVRneU9ESTBNSHhIZDNkQlIwUlplRTVFVFhwYWFsVXlXa1JCZVU5RVVtbFplbHBvVDFSSmVVMTZUbXBPVVQwOWZFQWpod01iU0E2d1FOUkczQlcwaUZDbHVqUnVOVXFFTHk4QUdGMGhMdkgzIiwiZW1haWwiOiJqYjEyQGdtYWlsLmNvbSIsImlkIjoiNjE0MzNmNTZkMDI4NGJjNmE5MjIzM2M1Iiwib3B0aW9ucyI6ey

    TokenVerified:
      description: Token verification successful
      content:
        application/json:
          schema:
            type: object
            required:
              - code
              - message
              - data
            properties:
              code:
                type: integer
                format: int32
                example: 200
              message:
                type: string
              data:
                type: object
                properties:
                  is_verified:
                    type: boolean
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 613590fd0366b6816a0b75ee
                      first_name:
                        type: string
                        example: Johnson
                      last_name:
                        type: string
                        example: Ajayi
                      display_name:
                        type: string
                        example: samsoft
                      email:
                        type: string
                        example: hng.user01@gmail.com
                      phone:
                        type: string
                        example: 09067324567
                      status:
                        type: string
                        example: 0
                      time_zone:
                        type: string
                      created_at:
                        type: string
                        example: 2021-09-06T03:54:37.387816096Z
                      update_at:
                        type: string
                        example: 0001-01-01T00:00:00Z

    LogoutSuccessful:
      description: Logged out successfully
      content:
        application/json:
          schema:
            required:
              - code
              - message
              - data
            type: object
            properties:
              code:
                type: integer
                format: int32
                example: 200
              message:
                type: string

    VerificationSuccess:
      description: verification successful
      content:
        application/json:
          schema:
            type: object
            required:
              - code
              - message
              - data
            properties:
              code:
                type: integer
                format: int32
                example: 200
              message:
                type: string
              data:
                type: object
                example: null

  requestBodies:
    login:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/loginReqB'
    confirmPassword:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/confirmPassReqB'
    verification:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/verficationReqB'
    requestPassReset:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/passwordResetReqB'
  schemas:
    loginReqB:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
    confirmPassReqB:
      type: object
      properties:
        confirm_password:
          type: string
          format: password
        password:
          type: string
          format: password
    verficationReqB:
      type: object
      properties:
        code:
          type: string
          example: 245632
    passwordResetReqB:
      type: object
      properties:
        code:
          type: string
          format: email

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    cookieAuth:
      type: apiKey
      in: cookie
      name: JSESSIONID
