.contents {
  display: flex;
  gap: 50px;
}

.OverviewHead {
  font-size: 14px;
}

.details {
  font-size: 40px;
}

.detailss {
  font-size: 15px;
}

.activeMembers h1,
.OverviewHead,
.public h1,
.messages h1 {
  font-size: 20px;
  font-style: bold;
}
.activeMembers p,
.public p,
.messages p,
.footnote p {
  font-size: 14px;
}

.wrapper {
  width: 98%;
  margin: 0px auto;
  padding: 20px;
}

.myTabs {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: 1s ease-in-out;
}
.myTabs > p :hover {
  border-bottom: 2px solid #00b87c;
}

.msgContent {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}
.myTabs p {
  padding-bottom: 5px;
}
.myBtn {
  padding: 5px 15px;
  outline: none;
  border: 1px solid gainsboro;
  border-radius: 5px;
  background: white;
}
.myBtn {
  display: flex;
  gap: 10px;
}

.mySelections {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.myselect {
  background: white;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid gainsboro;
}

.footnote h6 {
  font-size: 15px;
}
.chartfooter {
  display: flex;
  gap: 15px;
  font-size: 14px;
  margin-top: 8px;
}
/* .public {
  } */
