.containers {
  width: 100%;
  position: sticky;
  top: 0;
  height: 5.0625em;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 999;
  background: #fff;
}

.brand {
  display: flex;
  align-items: center;
}

.brand img {
  width: 50%;
  max-width: 100%;
  height: 100%;
}

.brand h3 {
  font-family: "Lato";
  font-size: 25px;
  font-weight: 700;
  /* padding-top: 5px; */
  background: none;
  margin-left: 5px;
}

/* The section of the  account bar*/
.accountbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.searchBar {
  width: 65%;
  height: 30px;
  background: #fff;
  border: 0.8px solid rgba(153, 153, 153, 0.2);
  box-sizing: border-box;
  border-radius: 2px;
  margin-right: 1.5em;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchInput {
  width: 100%;
  border: none;
  outline: none;
  font-family: "Lato", sans-serif;
  font-size: 11px;
}
.searchInput::placeholder {
  font-size: 11px;
  line-height: 16px;
  color: #616061;
  font-weight: normal;
}

/* THE SECTION OF THE RIGHT NAV */
.rightnav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.status {
  margin-right: 5px;
}

.pImage {
  position: relative;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 10%;
}

.pImage .profileImg {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.circles {
  background: #0dbe3f;
  height: 10px;
  width: 10px;
  position: absolute;
  bottom: -3px;
  right: -5px;
  border-radius: 50%;
  border: 2px solid white;
}

.containers .menubars {
  display: none;
}

/* ===================================== */
/* THE SECTION OF THE MEDIA QUERY */

@media screen and (max-width: 900px) {
  .brand {
    width: 55%;
  }

  .brand img {
    width: 100%;
    height: auto;
  }

  .searchBar {
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 30vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.98;
    z-index: 9999999;
    transition: 0.5s ease-in-out;
    overflow-y: scroll;
  }

  .accountbar .search {
    background: red !important;
  }

  .containers .menubars {
    /* display: block; */
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 40px;
  }

  .searchBar {
    width: 300px;
  }

  .status {
    margin-right: -5px;
  }
}

@media screen and (max-width: 425px) {
  .searchBar {
    width: 60%;
  }
}
