<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description"
    content="Zuri-Chat -  For Organizations & Institutions. A fully Integrated way to connect and interact. Create your future with us, network, collaborate, educate and learn remotely.Invite your team to your workspace. Stay connected,stay in sync, and explore ideas together from anywhere" />
  <meta name="keywords" content="Zuri, Zuri Chat, hngi8, slack, workspace, collaborate">
  <meta name="author" content="HNGi8">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="shortcut icon" href="assets/favicon1.ico" type="image/x-icon">
  <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" /> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>

  <link rel="icon" href="favicon.ico" type="image/ico" />
  <link rel="icon" href="assets/favicon1.ico" type="image/ico">

  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript"></script>

  <!-- Dynamic Title Tag for Plugins -->
  <script>
    let getTitleOfPage = function () {
      let getURL = location.pathname;
      let appendZuri = `- Zuri Chat `;
      if (getURL !== '/') {
        getURL = getURL.substr(1);
        getURL = getURL.charAt(0).toUpperCase() + getURL.slice(1);
        document.title = getURL + ' ' + appendZuri;
      };
    };
    setInterval(getTitleOfPage, 500)
  </script>


<link rel="icon" href="favicon.ico" type="image/ico" />
<link rel="icon" href="assets/favicon1.ico" type="image/ico">

<!-- Dynamic Title Tag for Plugins -->
<script>
    let getTitleOfPage = function() {
        let getURL = location.pathname;
        let appendZuri = `- Zuri Chat `;
        if (getURL !== '/') {
            getURL = getURL.substr(1);
            getURL = getURL.charAt(0).toUpperCase() + getURL.slice(1);
            document.title = getURL + ' ' + appendZuri;
        };
    };
    setInterval(getTitleOfPage, 500);
</script>
<!-- End -->

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Zuri-Chat -Communicate and collaborate from wherever you are. A fully Integrated way to connect and interact" />
<meta itemprop="description" content="Zuri-Chat -  For Organizations & Institutions. A fully Integrated way to connect and interact. Create your future with us, network, collaborate, educate and learn remotely.Invite your team to your workspace. Stay connected,stay in sync, and explore ideas together from anywhere."
/>
<meta itemprop="image" content="https://i.ibb.co/SnK9MGt/ogzuri.png" />

<!-- Facebook , linkedin etc  -->

<meta name="type" property="og:type" content="website" />
<meta name="url" property="og:url" content="https://www.zuri.chat" />
<meta name="title" property="og:title" content="Zuri-Chat -Communicate and collaborate from wherever you are. A fully Integrated way to connect and interact" />
<meta name="description" property="og:description" content="Zuri-Chat -  For Organizations & Institutions. A fully Integrated way to connect and interact. Create your future with us, network, collaborate, educate and learn remotely.Invite your team to your workspace. Stay connected,stay in sync, and explore ideas together from anywhere."
/>
<meta name="image" property="og:image" content="https://i.ibb.co/SnK9MGt/ogzuri.png" />
<!--   Twitter  -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="https://www.zuri.chat" />
<meta name="twitter:title" content="Zuri-Chat - For Organizations & Institutions. A fully Integrated way to connect and interact" />
<meta name="twitter:description" content="Zuri-Chat - Create your future with us, network, collaborate, educate and learn remotely. A messaging app that lets professionals collaborate through workspaces..." />
<meta name="twitter:image" content="https://i.ibb.co/SnK9MGt/ogzuri.png" />

  </script>
</script>
<style>
  :root {
    --bg-color: #fff;
    --width: 100%;
    --height: 100%;
    --text-color: #000;
  }
  
  [data-theme='dark'] {
    --bg-color: #3f3f3f;
    --text-color: #fff;
  }
  
  [data-theme='light'] {
    --bg-color: #fff;
    --text-color: #3f3f3f;
  }
    html,
    body {
        /* height: 100%; */
        /* width: 100%; */
        margin: 0;
        /* background-color: var(--bg-color);  */
        padding: 0;
        /* font-size: 100% !important; */
    }
    
    div[id*='zuri'] {
        width: 100%;
        overflow: hidden;
    }
    
    div[id*='zuri/topbar'] {
        /* z-index: 5; */
        width: 100%;
        height: 6vh;
        position: fixed;
        top: 0;
        left: 0;
        /* text-align: center; */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        background-color: var(--bg-color);
        z-index: 1;
        overflow: unset;
    }
    
    div[id*='zuri/sidebar']::-webkit-scrollbar {
        display: none;
    }
    
    div[id*='zuri/sidebar'] {
        width: 20%;
        /* margin-right: 2%; */
        height: 94vh;
        /* overflow-y: scroll; */
        /* Hide scrollbar for IE and Edge */
        -ms-overflow-style: none;
        /* Hide scrollbar for Firefox */
        scrollbar-width: none;
        position: fixed;
        top: 6vh;
        left: 0;
        background-color: var(--bg-color);
        /* z-index: 1; */
    }
    
    div[id*='zuri/commentSidebar'] {
        width: 299px;
        position: absolute;
        background-color: #e5e5e5;
        right: 0;
        top: 20vh;
        z-index: 2;
    }
    
    div[id*='zuri-plugin'],
    div[id*='zuri/marketplace'] {
        width: 80%;
        position: absolute;
        top: 6vh;
        right: 0;
        z-index: unset;
    }
    
    @media (min-width: 1441px) {
        div[id*='zuri/topbar'] {
            height: 5vh;
            top: 0;
            left: 0;
        }
        div[id*='zuri/sidebar']::-webkit-scrollbar {
            display: none;
        }
        div[id*='zuri/sidebar'] {
            height: 95vh;
            min-width: 20%;
            top: 5vh;
            left: 0;
        }
        div[id*='zuri-plugin'],
        div[id*='zuri/marketplace'] {
            top: 5vh;
            right: 0;
            z-index: unset;
        }
    }
        
        @media (min-width: 768px) {
            div[id*='zuri/sidebar'] {
                min-width: 20%;
            }
            div[id*='zuri/sidebar'] {
                display: block;
            }
        }
        
        @media (max-width: 768px) {
            div[id*='zuri/sidebar'] {
                display: none;
            }
            div[id*='zuri-plugin'],
            div[id*='zuri/marketplace'] {
                width: 100%;
                z-index: unset;
            }
        }
        /* CHESS STYLE */
        
        .app__container {
            padding: 0 !important;
            padding-block: 5rem;
        }
        
        @media (max-width: 425px) {
            /* div[id*='zuri/sidebar'] {
        width: 40%;
      } */
      div[id*='zuri-plugin'],
      div[id*='zuri/marketplace'] {
        width: 100%;
        position: relative;
      }
    }

    @media (max-width: 375px) {
      .mini-board {
        height: calc(34.8rem * 0.9);
        width: calc(26.4rem * 0.9);
      }
    }

    /* CHESS STYLE */

    /* Translator feature style */
    goog-te-banner-frame {
      display: none
    }

    iframe#\:2\.container {
        display: none;
    }
  </style>

  <title>Zuri Chat - Communicate and Collaborate from wherever you are </title>
  <!--
    Remove this if you only support browsers that support async/await.
    This is needed by babel to share largeish helper code for compiling async/await in older
    browsers. More information at https://github.com/single-spa/create-single-spa/issues/112
  -->
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
  <!--
    This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
    Learn more about CSP policies at https://content-security-policy.com/#directive
  -->
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:* wss://realtime.zuri.chat:*; style-src 'unsafe-inline' https:; img-src * data: blob:; object-src 'none';">
  <meta name="importmap-type" content="systemjs-importmap" />
  <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
  <!-- More info at https://github.com/joeldenning/import-map-overrides/blob/master/docs/configuration.md#domain-list -->
  <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

  <!-- Shared dependencies go into this import map. Your shared dependencies must be of one of the following formats:
    1. System.register (preferred when possible) - https://github.com/systemjs/systemjs/blob/master/docs/system-register.md
    2. UMD - https://github.com/umdjs/umd
    3. Global variable
    More information about shared dependencies can be found at https://single-spa.js.org/docs/recommended-setup#sharing-with-import-maps.
  -->
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
        "vue": "https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js",
        "vue-router": "https://cdn.jsdelivr.net/npm/vue-router@3.1.6/dist/vue-router.min.js"
      }
    }
  </script>
  <% if (isLocal) { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "react": "https://cdn.jsdelivr.net/npm/react@17.0.2/umd/react.development.js",
        "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@17.0.2/umd/react-dom.development.js"
      }
    }
  </script>
  <% } else { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "react": "https://cdn.jsdelivr.net/npm/react@17.0.2/umd/react.production.min.js",
        "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@17.0.2/umd/react-dom.production.min.js"
      }
    }
  </script>
  <% } %>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">

  <!-- Add your organization's prod import map URL to this script's src  -->
  <!-- <script type="systemjs-importmap" src="./importmap.json"></script> -->

  <!-- ZURI PLUGINS GO HERE TILL WE MOVE TO THE MAP ABOVE -->
  <script type="systemjs-importmap">
    {
      "imports": {
        "@zuri/zuri-plugin-chessboard": "https://chess.zuri.chat/zuri-zuri-plugin-chessboard.js",
        "@zuri/zuri-plugin-company-sales-prospects": "https://sales.zuri.chat/static/zuri-zuri-plugin-company-sales-prospects.js",
        "@zuri/zuri-plugin-music": "https://music.zuri.chat/static/zuri-music-plugin.js",
        "@zuri/zuri-plugin-deadlines": "https://reminders.zuri.chat/zuri-zuri-plugin-deadlines.js",
        "@zuri/zuri-plugin-company-goals": "https://goals.zuri.chat/zuri-plugin-company-goals.js",
        "@zuri/zuri-plugin-todo": "https://todo.zuri.chat/js/app.js",
        "@zuri/zuri-plugin-dm": "https://dm.zuri.chat/static/zuri-zuri-plugin-dm.js",
        "@zuri/zuri-plugin-noticeboard": "https://noticeboard.zuri.chat/static/zuri-zuri-plugin-noticeboard.js",
        "@zuri/zuri-plugin-companyfiles": "https://companyfiles.zuri.chat/zuri-zuri-plugin-company-files.js",
        "@zuri/zuri-plugin-calendar": "https://calendar.zuri.chat/static/zuri-zuri-plugin-holiday-calendar.js",
        "@zuri/zuri-plugin-expenses": "https://expenses.zuri.chat/js/zuri-zuri-plugin-expenses.js",
        "@zuri/zuri-plugin-tools": "https://externaltools.zuri.chat/zuri-zuri-plugin-tools.js",
        "@zuri/zuri-plugin-channels": "https://channels.zuri.chat/static/main/dist/zuri-zuri-plugin-channels.js",
        "@zuri/zuri-plugin-contributions": "https://ct.zuri.chat/js/app.js"
      }
    }
  </script>

  <!-- ZURI BOTS GO HERE -->
  <!-- <script type="systemjs-importmap">
    {
      "imports": {
        "@zuri/zuri-plugin-twitterbot": "http://165.22.74.238:8080/zuri-plugin-zuribot.js",
      }
    }
  </script> -->

  <% if (isLocal) { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "@zuri/root-config": "//localhost:9000/zuri-root-config.js",
        "@zuri/topbar": "//localhost:8080/zuri-topbar.js",
        "@zuri/sidebar": "//localhost:8081/zuri-sidebar.js",
        "@zuri/control": "//localhost:8082/zuri-control.js",
        "@zuri/plugin-header": "//localhost:8083/zuri-plugin-header.js",
        "@zuri/zuri-ui": "//localhost:8084/zuri-zuri-ui.js",
        "@zuri/utilities": "//localhost:8085/zuri-utilities.js",
        "@zuri/marketplace": "//localhost:8086/zuri-marketplace.js",
        "@zuri/manage-user-modal": "//localhost:8087/zuri-manageUser.js",
        "@zuri/zuri-plugin-channels": "//localhost:8088/zuri-zuri-plugin-channels.js"

      }
    }
  </script>
  <% } else { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "@zuri/root-config": "/zuri-root-config.js",
        "@zuri/topbar": "/zuri-topbar.js",
        "@zuri/sidebar": "/zuri-sidebar.js",
        "@zuri/control": "/zuri-control.js",
        "@zuri/plugin-header": "/zuri-plugin-header.js",
        "@zuri/zuri-ui": "/zuri-zuri-ui.js",
        "@zuri/utilities": "/zuri-utilities.js",
        "@zuri/marketplace": "/zuri-marketplace.js",
        "@zuri/manage-user-modal": "/zuri-manageUser.js"
      }
    }
  </script>
  <% } %>

  <!--
    If you need to support Angular applications, uncomment the script tag below to ensure only one instance of ZoneJS is loaded
    Learn more about why at https://single-spa.js.org/docs/ecosystem-angular/#zonejs
  -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <% if (isLocal) { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
  <% } else { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
  <% } %>
</head>

<body>
    <noscript>
    You need to enable JavaScript to run this app.
  </noscript>

  <div id="google_translate_element"  style="display:none"></div>
  <div style="margin-top: 30px" translate="no">
  <select translate="no" class="selectpicker" data-width="fit" onchange="translateLanguage(this.value);">
        <option data-content='<span class="flag-icon flag-icon-af"></span> Afrikaans' value="Afrikaans">Afrikaans</option>
        <option  data-content='<span class="flag-icon flag-icon-al"></span> Albanian' value="Albanian">Albanian</option>
        <option  data-content='<span class="flag-icon flag-icon-ar"></span> Arabic' value="Arabic">Arabic</option>
        <option  data-content='<span class="flag-icon flag-icon-am"></span> Armenian' value="Armenian">Armenian</option>
        <option  data-content='<span class="flag-icon flag-icon-az"></span> Azerbaijani' value="Azerbaijani">Azerbaijani</option>
        <option  data-content='<span class="flag-icon flag-icon-eu"></span> Basque' value="Basque">Basque</option>
        <option  data-content='<span class="flag-icon flag-icon-be"></span> Belarusian' value="Belarusian">Belarusian</option>
        <option  data-content='<span class="flag-icon flag-icon-bn"></span> Bengali' value="Bengali">Bengali</option>
        <option  data-content='<span class="flag-icon flag-icon-bs"></span> Bosnian' value="Bosnian">Bosnian</option>
        <option  data-content='<span class="flag-icon flag-icon-bg"></span> Bulgarian' value="Bulgarian">Bulgarian</option>
        <option  data-content='<span class="flag-icon flag-icon-cu"></span> Catalan' value="Catalan">Catalan</option>
        <option  data-content='<span class="flag-icon flag-icon-cn"></span> Chinese (Simplified)' value="Chinese (Simplified)">Chinese (Simplified)</option>
        <option  data-content='<span class="flag-icon flag-icon-tw"></span> Chinese (Traditional)' value="Chinese (Traditional)">Chinese (Traditional)</option>
        <option  data-content='<span class="flag-icon flag-icon-co"></span> Corsican' value="Corsican">Corsican</option>
        <option  data-content='<span class="flag-icon flag-icon-hr"></span> Croatian' value="Croatian">Croatian</option>
        <option  data-content='<span class="flag-icon flag-icon-cz"></span> Czech' value="Czech">Czech</option>
        <option  data-content='<span class="flag-icon flag-icon-dk"></span> Danish' value="Danish">Danish</option>
        <option  data-content='<span class="flag-icon flag-icon-nl"></span> Dutch' value="Dutch">Dutch</option>
        <option  data-content='<span class="flag-icon flag-icon-us"></span> English' value="English">English</option>
        <option  data-content='<span class="flag-icon flag-icon-et"></span> Estonian' value="Estonian">Estonian</option>
        <option  data-content='<span class="flag-icon flag-icon-fi"></span> Finnish' value="Finnish">Finnish</option>
        <option  data-content='<span class="flag-icon flag-icon-fr"></span> French' value="French">French</option>
        <option  data-content='<span class="flag-icon flag-icon-gl"></span> Galician' value="Galician">Galician</option>
        <option  data-content='<span class="flag-icon flag-icon-ge"></span> Georgian' value="Georgian">Georgian</option>
        <option  data-content='<span class="flag-icon flag-icon-de"></span> German' value="German">German</option>
        <option  data-content='<span class="flag-icon flag-icon-gr"></span> Greek' value="Greek">Greek</option>
        <option  data-content='<span class="flag-icon flag-icon-gu"></span> Gujarati' value="Gujarati">Gujarati</option>
        <option  data-content='<span class="flag-icon flag-icon-ht"></span> Haitian Creole' value="Haitian Creole">Haitian Creole</option>
        <option  data-content='<span class="flag-icon flag-icon-il"></span> Hebrew' value="Hebrew">Hebrew</option>
        <option  data-content='<span class="flag-icon flag-icon-in"></span> Hindi' value="Hindi">Hindi</option>
        <option  data-content='<span class="flag-icon flag-icon-hu"></span> Hungarian' value="Hungarian">Hungarian</option>
        <option  data-content='<span class="flag-icon flag-icon-is"></span> Icelandic' value="Icelandic">Icelandic</option>
        <option  data-content='<span class="flag-icon flag-icon-id"></span> Indonesian' value="Indonesian">Indonesian</option>
        <option  data-content='<span class="flag-icon flag-icon-ga"></span> Irish' value="Irish">Irish</option>
        <option  data-content='<span class="flag-icon flag-icon-it"></span> Italian' value="Italian">Italian</option>
        <option  data-content='<span class="flag-icon flag-icon-jp"></span> Japanese' value="Japanese">Japanese</option>
        <option  data-content='<span class="flag-icon flag-icon-kn"></span> Kannada' value="Kannada">Kannada</option>
        <option  data-content='<span class="flag-icon flag-icon-kz"></span> Kazakh' value="Kazakh">Kazakh</option>
        <option  data-content='<span class="flag-icon flag-icon-km"></span> Khmer' value="Khmer">Khmer</option>
        <option  data-content='<span class="flag-icon flag-icon-rw"></span> Kinyarwanda' value="Kinyarwanda">Kinyarwanda</option>
        <option  data-content='<span class="flag-icon flag-icon-kr"></span> Korean' value="Korean">Korean</option>
        <option  data-content='<span class="flag-icon flag-icon-ir"></span> Kurdish' value="Kurdish (Kurmanji)">Kurdish</option>
        <option  data-content='<span class="flag-icon flag-icon-ky"></span> Kyrgyz' value="Kyrgyz">Kyrgyz</option>
        <option  data-content='<span class="flag-icon flag-icon-la"></span> Lao' value="Lao">Lao</option>
        <option  data-content='<span class="flag-icon flag-icon-lv"></span> Latvian' value="Latvian">Latvian</option>
        <option  data-content='<span class="flag-icon flag-icon-lt"></span> Lithuanian' value="Lithuanian">Lithuanian</option>
        <option  data-content='<span class="flag-icon flag-icon-lb"></span> Luxembourgish' value="Luxembourgish">Luxembourgish</option>
        <option  data-content='<span class="flag-icon flag-icon-mk"></span> Macedonian' value="Macedonian">Macedonian</option>
        <option  data-content='<span class="flag-icon flag-icon-mg"></span> Malagasy' value="Malagasy">Malagasy</option>
        <option  data-content='<span class="flag-icon flag-icon-ms"></span> Malay' value="Malay">Malay</option>
        <option  data-content='<span class="flag-icon flag-icon-ml"></span> Malayalam' value="Malayalam">Malayalam</option>
        <option  data-content='<span class="flag-icon flag-icon-mt"></span> Maltese' value="Maltese">Maltese</option>
        <option  data-content='<span class="flag-icon flag-icon-mr"></span> Marathi' value="Marathi">Marathi</option>
        <option  data-content='<span class="flag-icon flag-icon-mn"></span> Mongolian' value="Mongolian">Mongolian</option>
        <option  data-content='<span class="flag-icon flag-icon-my"></span> Myanmar (Burmese)' value="Myanmar (Burmese)">Myanmar (Burmese)</option>
        <option  data-content='<span class="flag-icon flag-icon-ne"></span> Nepali' value="Nepali">Nepali</option>
        <option  data-content='<span class="flag-icon flag-icon-no"></span> Norwegian' value="Norwegian">Norwegian</option>
        <option  data-content='<span class="flag-icon flag-icon-mw"></span> Nyanja (Chichewa)' value="Nyanja (Chichewa)">Nyanja (Chichewa)</option>
        <option  data-content='<span class="flag-icon flag-icon-ps"></span> Pashto' value="Pashto">Pashto</option>
        <option  data-content='<span class="flag-icon flag-icon-pl"></span> Polish' value="Polish">Polish</option>
        <option  data-content='<span class="flag-icon flag-icon-pt"></span> Portuguese (Portugal, Brazil)' value="Portuguese (Portugal, Brazil)">Portuguese (Portugal, Brazil)</option>
        <option  data-content='<span class="flag-icon flag-icon-pa"></span> Punjabi' value="Punjabi">Punjabi</option>
        <option  data-content='<span class="flag-icon flag-icon-ro"></span> Romanian' value="Romanian">Romanian</option>
        <option  data-content='<span class="flag-icon flag-icon-ru"></span> Russian' value="Russian">Russian</option>
        <option  data-content='<span class="flag-icon flag-icon-sm"></span> Samoan' value="Samoan">Samoan</option>
        <option  data-content='<span class="flag-icon flag-icon-gd"></span> Scots Gaelic' value="Scots Gaelic">Scots Gaelic</option>
        <option  data-content='<span class="flag-icon flag-icon-sr"></span> Serbian' value="Serbian">Serbian</option>
        <option  data-content='<span class="flag-icon flag-icon-st"></span> Sesotho' value="Sesotho">Sesotho</option>
        <option  data-content='<span class="flag-icon flag-icon-sn"></span> Shona' value="Shona">Shona</option>
        <option  data-content='<span class="flag-icon flag-icon-sd"></span> Sindhi' value="Sindhi">Sindhi</option>
        <option  data-content='<span class="flag-icon flag-icon-si"></span> Sinhala (Sinhalese)' value="Sinhala (Sinhalese)">Sinhala (Sinhalese)</option>
        <option  data-content='<span class="flag-icon flag-icon-sk"></span> Slovak' value="Slovak">Slovak</option>
        <option  data-content='<span class="flag-icon flag-icon-sl"></span> Slovenian' value="Slovenian">Slovenian</option>
        <option  data-content='<span class="flag-icon flag-icon-so"></span> Somali' value="Somali">Somali</option>
        <option  data-content='<span class="flag-icon flag-icon-es"></span> Spanish' value="Spanish">Spanish</option>
        <option  data-content='<span class="flag-icon flag-icon-sv"></span> Swedish' value="Swedish">Swedish</option>
        <option  data-content='<span class="flag-icon flag-icon-tl"></span> Tagalog (Filipino)' value="Tagalog (Filipino)">Tagalog (Filipino)</option>
        <option  data-content='<span class="flag-icon flag-icon-tg"></span> Tajik' value="Tajik">Tajik</option>
        <option  data-content='<span class="flag-icon flag-icon-tt"></span> Tatar' value="Tatar">Tatar</option>
        <option  data-content='<span class="flag-icon flag-icon-th"></span> Thai' value="Thai">Thai</option>
        <option  data-content='<span class="flag-icon flag-icon-tr"></span> Turkish' value="Turkish">Turkish</option>
        <option  data-content='<span class="flag-icon flag-icon-tk"></span> Turkmen' value="Turkmen">Turkmen</option>
        <option  data-content='<span class="flag-icon flag-icon-ua"></span> Ukrainian' value="Ukrainian">Ukrainian</option>
        <option  data-content='<span class="flag-icon flag-icon-pk"></span> Urdu' value="Urdu">Urdu</option>
        <option  data-content='<span class="flag-icon flag-icon-ug"></span> Uyghur' value="Uyghur">Uyghur</option>
        <option  data-content='<span class="flag-icon flag-icon-uz"></span> Uzbek' value="Uzbek">Uzbek</option>
        <option  data-content='<span class="flag-icon flag-icon-vi"></span> Vietnamese' value="Vietnamese">Vietnamese</option>
        <option  data-content='<span class="flag-icon flag-icon-cy"></span> Welsh' value="Welsh">Welsh</option>
        <option  data-content='<span class="flag-icon flag-icon-zw"></span> Xhosa' value="Xhosa">Xhosa</option>
    </select>
</div>


  <script>
    System.import('@zuri/root-config');
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.1/umd/popper.min.js"
    integrity="sha512-8jeQKzUKh/0pqnK24AfqZYxlQ8JdQjl9gGONwGwKbJiEaAPkD3eoIjz3IuX4IrP+dnxkchGUeWdXLazLHin+UQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.1/js/bootstrap.min.js"
    integrity="sha512-ewfXo9Gq53e1q1+WDTjaHAGZ8UvCWq0eXONhwDuIoaH8xz2r96uoAYaQCm1oQhnBfRXrvJztNXFsTloJfgbL5Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>

  <!-- translator feature script -->
  <script type="text/javascript">
        function googleTranslateElementInit() {
           
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false }, 'google_translate_element')

        }

        function translateLanguage(lang) {
            googleTranslateElementInit();
            var $frame = $('.goog-te-menu-frame').first();
            // console.log($frame)
            if (!$frame.size()) {
                alert("Error: Could not find Google translate frame.");
                return false;
            }
            $frame.contents().find('.goog-te-menu2-item span.text:contains(' + lang + ')').get(0).click();
            return false;

        }

        // default translation based on browser store value
        translateLanguage("Arabic");
  </script>
</body>

</html>