html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    'topbar topbar'
    'sidebar plugincontent';
}

div[id*='zuri'] {
  /* min-height: inherit;  min-width: inherit; */
  /* max-height: inherit;  max-width: inherit; */
  width: 100%;
  width: 100%;
}

div[id*='zuri/topbar'] {
  grid-area: control;

  background-color: red;
  padding: 2rem;
  font-size: 3rem;
}

div[id*='zuri/control'] {
  grid-area: topbar;
}

div[id*='zuri/sidebar'] {
  grid-area: sidebar;

  background-color: green;
  font-size: 3rem;
}

div[id*='zuri-plugin'] {
  grid-area: plugincontent;
}
