:root {
    --bg-color: #fff;
    --width: 100%;
    --height: 100%;
    --text-color: #000;
  }
  
  [data-theme='dark'] {
    --bg-color: #3f3f3f;
    --text-color: #fff;
  }
  
  [data-theme='light'] {
    --bg-color: #fff;
    --text-color: #3f3f3f;
  }

  [data-theme='activeAsh'] {
    --bg-color: #C4C4C4;
    --secondary-color: #999999; 
    --text-color: #FFFFFF;
  }

  [data-theme='peakyPurple'] {
    --bg-color: #4E2C44;
    --secondary-color: #DC1AA3; 
    --text-color: #E5B2D6;
  }

  [data-theme='oceanBlue'] {
    --bg-color: #06083A;
    --secondary-color: #1018DD;
    --text-color: #8F92CE;
  }

  [data-theme='darkAsh'] {
    --bg-color: #464646;
    --secondary-color: #242424;
    --text-color: #645c5c;
  }

  [data-theme='leafyGreen'] {
    --bg-color: #84be69;
    --secondary-color: #2b7608;
    --text-color: #99d07f;
  }

  [data-theme='roseRed'] {
    --bg-color: #450303;
    --secondary-color: #ed2222;
    --text-color: #c86868;
  }

  [data-theme='goldenMelon'] {
    --bg-color: #eaed49;
    --secondary-color: #676410;
    --text-color: #aeaeae;
  }

  [data-theme='canary'] {
    --bg-color: #eb751f;
    --secondary-color: #884310;
    --text-color: #e3ccbb;
  }