.content {
  padding: 7rem;
  padding-bottom: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.headingOne {
  font-size: 35px;
  font-weight: bold;
  line-height: 130%;
  text-align: center;
  margin: 85px 0 37px 0;
}

.section {
  margin-bottom: 40px;
}

.headingIntro {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -2%;
  text-decoration: underline;
}

.bulbImage {
  display: none;
}

.veryBigLock {
  display: none;
}

.parplat {
  font-size: 16.5px;
  font-weight: 700;
  line-height: 157.5%;
  letter-spacing: 3%;
}

.parregistered {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15.2px;
  line-height: 154%;
  color: #000;
}

.sectionServices {
  margin-bottom: 37px;
}

.headingServices {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -2%;
  text-decoration: underline;
}

.shakeImage {
  display: none;
}

.paraPolicy {
  font-size: 17px;
  font-family: "Lato", sans-serif;
  font-weight: 650;
  line-height: 140%;
  letter-spacing: 2%;
}

.parservices {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 158.5%;
  letter-spacing: 0.01em;
  color: #000;
}

.sectionServDev {
  margin-bottom: 30px;
}

.headingFive {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -2%;
  text-decoration: underline;
}

.contentBox_1 {
  margin-bottom: 30px;
}

.headingstarted {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 134%;
  margin-top: 25px;
  letter-spacing: 0.01em;
  color: #000;
}

.privacy {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 134%;
  margin-top: 25px;
  letter-spacing: 0.01em;
  color: #000;
  margin-top: 57px;
  margin-bottom: 0;
}

.datareq {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 134%;
  margin-top: 25px;
  letter-spacing: 0.01em;
  color: #000;
  margin-top: 15px;
  margin-bottom: 0;
}

.compliance {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 134%;
  margin-top: 25px;
  letter-spacing: 0.01em;
  color: #000;
  margin-bottom: 0;
}

.effectiveAll {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 134%;
  letter-spacing: 0.03em;
  color: #000;
}

.effectDate {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 134%;
  letter-spacing: 0.03em;
  color: #000;
}

.parinfo {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 134%;
  letter-spacing: 0.03em;
  color: #000;
}

.referZuri {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 192%;
  color: #000;
  margin-bottom: 24px;
}

.tableContents {
  text-decoration: underline;
  font-size: 19px;
}

.tablelinks {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 3%;
  font-size: 14px;
  line-height: 35.12px;
  color: #000;
  margin-bottom: 24px;
}

.privacymat {
  text-decoration: underline;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: -2%;
  margin-bottom: 29px;
}

.zurimission {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 15px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #000;
  margin-top: 20px;
}

.privPol {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 155%;
  letter-spacing: 0.03em;
  color: #000;
}

.imageBox {
  max-width: 100%;
  height: auto;
}

.headingAppl {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: -2%;
  text-decoration: underline;
}

.bigLock {
  display: none;
}

.appPrivPol1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 650;
  font-size: 14.3px;
  line-height: 23px;
  color: #000;
}

.appPrivPol2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15.5px;
  line-height: 173%;
  letter-spacing: 0.01em;
  color: #000;
}

.infoCollect {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 29px;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  color: #000;
}

.bulb {
  display: none;
}

.infopar1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 650;
  font-size: 15px;
  line-height: 22px;
  color: #000;
}

.privbreakdown1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #000;
  border: none;
  width: auto;
}

.paraPriv1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #000;
}

.headingDataOthers {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 29px;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  color: #000;
}

.smallLock {
  display: none;
}

.parOthers {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21.6px;
  letter-spacing: -2%;
  color: #000;
}

.parOthers2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 165%;
  letter-spacing: -2%;
  color: #000;
}

.handShake {
  display: none;
}

.partners {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #000;
}

.parPartners {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 169.5%;
  color: #000;
  padding-bottom: 20px;
}

@media screen and (min-width: 769px) {
  .contentBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .contentBox_1 {
    width: 42%;
  }

  .effectiveAll {
    width: 58%;
    margin-top: 25px;
    margin-left: 10%;
  }

  .parOthers .parOthers2 {
    font-size: 16px;
  }
}

@media screen and (min-width: 960px) {
  .content {
    margin-top: 36px;
    padding: 0 80px;
    padding-bottom: 54px;
  }

  .headingOne {
    font-size: 48px;
  }

  .headingIntro {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -2%;
    text-decoration: underline;
  }

  .mainContainer {
    display: flex;
    justify-content: space-between;
  }

  .partContainer {
    margin-right: 20px;
  }

  .contentImage {
    display: flex;
  }

  .bulbImage {
    display: inline-block;
    position: relative;
    top: -40px;
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 8px;
    max-width: 100%;
    height: 100%;
  }

  .parplat .parregistered {
    font-size: 18px;
  }

  .headingServices {
    font-size: 24px;
  }

  .shakeImage {
    display: inline-block;
    position: relative;
    top: -30px;
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 8px;
    max-width: 100%;
    height: auto;
  }

  .paraPolicy .parservices {
    font-size: 16px;
  }

  .contain2 {
    width: 90%;
  }

  .headingFive .privacymat .headingAppl .infoCollect .headingDataOthers {
    font-size: 20px;
  }

  .partners {
    font-size: 16px;
  }

  .applicabilityImage {
    display: flex;
    margin-top: 20px;
  }

  .appPrivPol1 {
    font-size: 15px;
  }

  .bigLock {
    display: inline-block;
    max-width: 100%;
    height: auto;
    position: relative;
    top: -40px;
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 26px;
  }

  .infoImage {
    display: flex;
    margin-top: 20px;
  }

  .securityData {
    display: flex;
    margin-top: 30px;
  }

  .bulb {
    display: inline-block;
    position: relative;
    top: -40px;
    padding-top: 30px;
    margin-left: -5px;
    margin-right: 29px;
  }

  .paraPriv1 {
    font-size: 18px;
  }

  .smallLock {
    display: inline-block;
    position: relative;
    top: -40px;
    padding-top: 30px;
    margin-left: -15px;
  }

  .parOthers .parOthers2 {
    font-size: 16px;
  }

  .imagePart {
    display: flex;
    margin-top: 30px;
  }

  .handShake {
    display: inline-block;
    position: relative;
    top: -30px;
    padding-top: 30px;
    margin-left: -5px;
    margin-right: 8px;
  }

  .partners {
    text-decoration: none;
    margin-bottom: 18px;
  }

  .parPartners {
    font-size: 16px;
  }
}
