.contentDisplay h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  font-size: 20px;
  margin-left: 0;
  margin-right: 0;
}

.contentHeading h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.contentHeaderOneStyle h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.contentHeaderTwoStyle h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  line-height: 30px;
}

.contentHeaderThreeStyle h3 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.contentHeaderFourStyle h4 {
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

.contentHeaderFiveStyle h5 {
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

.contentHeaderSixStyle h6 {
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

.contentParaStyle p {
  margin-bottom: 1em;
}

.contentImage img {
  width: 100%;
}
