.dropdown {
  display: flex;
  flex-direction: column;
  top: 28px;
  right: 0;
  padding: 8px 0px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #c3c5c7;
}
.dropdown-enter {
  opacity: 0;
}

.dropdown-enter-active {
  opacity: 1;
  transition: 0.2s ease-in;
}

.dropdown-exit {
  opacity: 1;
}

.dropdown-exit-active {
  opacity: 0;
  transition: 0.2s ease-in;
}

.dropdown-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 26px;
  font-size: 12px;
  color: #333537;
}
.dropdown-item:hover {
  background-color: #f3f5f7;
}

.dropdown-item__spacer {
  width: 6px;
}

.dropdown-item__text {
  padding: 0px 2px;
}
