.container {
  display: flex;
  flex-direction: row;
}
.room {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.spaceWrapper {
  display: flex;
  flex: 1;
}

.pluginContent {
  position: relative;
  overflow: auto;
  flex-grow: 1;
}
