@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-weight: 400;
  font-size: 21px;
  line-height: 25.2px;
  font-family: Lato;
}

.modalContainer {
  width: 720px;
  height: 311px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: -0.6px;
  color: red;
  font-family: Lato;
  font-style: bold;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  margin-top: -46px;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  font-family: Lato;
}

.modalContainer .footer {
  display: flex;

  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border-radius: 3px;
  background-color: #ffffff;
  color: #00b87c;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
  font-family: Lato;
}

#cancelBtn {
  background-color: #008b5e;
  color: white;
  font: size 12px;
  height: 36px;
  width: 95px;
  left: 593px;
  top: 245px;
  border-radius: 3px;
  padding: 10px, 14px, 10px, 14px;
  font-family: Lato;
  margin-right: 13px;
}

#sendBtn {
  margin-right: 3px;
}
#exitBtn {
  height: 17px;
  width: 17px;
  margin-left: 690px;
  text-align: center;
  margin-top: -3px;
  cursor: pointer;
}

.footer h4 {
  left: 50px;
  margin-right: 270px;
  margin-left: 5px;
}

.Header {
  text-align: center;
  background-image: url(../components/images/red1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin-top: -7px;
}
