.plugin__header {
  width: inherit;
  height: 44px;
  background-color: #00b87c;
  color: #fff;
  box-sizing: border-box;
  padding: 5px 20px;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
}
.plugin__header__title {
  display: flex;
  align-items: center;
}
.plugin__header__text {
  font-weight: 600;
  font-size: 1.8em;
}
.plugin__header__icon {
  width: 3em;
  margin-right: 1.5em;
}
.plugin__header__arrow {
  margin-left: 0.3em;
  font-size: 2.5em;
}
.plugin__header__thumbnail {
  display: flex;
  align-items: center;
  background: #01d892;
  border-radius: 0.4em;
  padding: 1em;
}
.plugin__thumbnail img {
  width: 2.5em;
  border-radius: 0.4em;
  border: 1px solid #01d892;
}
.plugin__thumbnail img:nth-child(1) {
  margin-right: -5px;
  z-index: 5;
  position: relative;
}
.plugin__header img:nth-child(2) {
  margin-right: -5px;
  z-index: 3;
  position: relative;
}
.plugin__header__count p {
  margin: 0;
  margin-left: 0.3em;
}
