.formcontainer {
  background: #fff;
  border-radius: 20px;
  padding: 10px 10px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 15px 16px 0.17px rgba(0, 0, 0, 0.05);
}
.head1 {
  text-align: center;
}
.btnReport {
  background-color: #00b87c;
}
.inputFieldEmail,
.SelectBox {
  width: 75%;
  padding: 12px;
}
.DescriptionBox {
  display: flex;
  flex-direction: space-inbetween;
}
.TextareaField {
  width: 75%;
  height: 100px;
}
.BoxRow {
  display: flex;
  flex-direction: flex-end;
}
.btnBack {
  border-radius: 5%;
}
.btnNext {
  color: white;
  background-color: #00b87c;
  border-radius: 5%;
  margin-left: 45%;
}
.btnBack1 {
  color: white;
}
.btnSubmit {
  color: white;
  background-color: #00b87c;
  margin-left: 50%;
}
