@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");

.emsucess Wrapper {
  display: flex;
  align-items: stretch;
}

.emailSubSucess-header {
  margin-left: 10%;
}

.emailSubSucess-Title {
  margin-left: 10%;
}

.emsucess-body {
  margin-left: 10%;
}
